Repository rudderlabs/rudder-server, changes with the labels that .github/labeler.yml gives for each.
All labels: with tests, warehouse-team

.github/labeler.yml:

with tests:
- any: ['**/*_test.go']

server-team:
- any: ['**/*.go']
  all: ['!warehouse/**/*']

warehouse-team:
- any: ['warehouse/**/*']

chore(ci): add action for validating PR descriptions
  .github/workflows/pr-description-enforcer.yaml
Labels: none

feat(jobsdb): made backup related config hot-reloadable (#1844)
  jobsdb/jobsdb.go
Labels: none

chore(ci): add action for validating PR descriptions (#1868)
  .github/workflows/pr-description-enforcer.yaml
Labels: none

chore(ci): add generate event script to image (#1864)
  build/Dockerfile
  build/Dockerfile-aws
  build/Dockerfile-aws-dev
  scripts/generate-event
Labels: none

Added support for multiline in deltalake.
  warehouse/deltalake/deltalake.go
Labels: warehouse-team

add support for multiline in deltalake
  warehouse/deltalake/deltalake.go
Labels: warehouse-team

Final PR fixes
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
  app/cluster/state/static.go
  app/cluster/state/static_test.go
  utils/types/servermode/servermode.go
  utils/types/workspace/workspace.go
Labels: with tests
