Repository rudderlabs/rudder-server, pull requests merged in 2021-11, with the labels that each got.

#1382 Update readme
  README.md
Labels: ready to merge

#1403 ClickHouse Error Handling
  warehouse/clickhouse/clickhouse.go
Labels: Ready for Review

#1442 Added section on RudderStack architecture
  README.md
Labels: documentation

#1435 Temp folder check.
  router/batchrouter/batchrouter.go
  services/archiver/archiver.go
  services/destination-connection-tester/destination_connection_tester.go
  utils/misc/misc.go
  warehouse/archiver.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/clickhouse/clickhouse.go
  warehouse/identity/identity.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/slave.go
Labels: Ready for Review

#1461 Query optimization for warehouse when resetInProgressJobs
  warehouse/warehouse.go
Labels: Ready for Review

#1444 Backmerge rudder-saas to master (master <- rudder-saas)
  router/batchrouter/batchrouter.go
  services/filemanager/azureBlobStoragemanager.go
Labels: Ready for Review
