Repository rudderlabs/rudder-server, pull requests merged in 2022-05, with the labels that each got.

#1908 chore: saas -> master
  services/pgnotifier/pgnotifier.go
Labels: server-team

#1857 feat: enable timeouts for google destinations
  .gitignore
  build/buildspec.docker.master.yml
  build/buildspec.pr.yml
  build/wait-for-go/wait-for-go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
  services/streammanager/googlepubsub/googlepubsubmanager.go
  services/streammanager/googlepubsub/googlepubsubmanager_test.go
  services/streammanager/googlesheets/googlesheetsmanager.go
  services/streammanager/googlesheets/googlesheetsmanager_test.go
  services/streammanager/streammanager.go
Labels: Ready for Review, with tests, server-team

#1910 chore: wait-for-go binary shouldn't be version controlled
  .gitignore
  build/wait-for-go/wait-for-go
Labels: Ready for Review

#1904 chore: remove unused operations code
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  gateway/gateway.go
  main.go
  operation-manager/clear-queue-manager.go
  operation-manager/operation-manager.go
  processor/processor-manager.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter-manager.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/config.go
  router/customdestinationmanager/customdestinationmanager.go
  router/failed-events-manager.go
  router/manager/manager.go
  router/router-manager.go
  router/router.go
  router/router_test.go
  services/sql-migrator/migrations_vfsdata.go
  sql/migrations/node/000007_remove_ops.down.sql
  sql/migrations/node/000007_remove_ops.up.sql
Labels: with tests, server-team

#1902 feat(router): enable batching config at destType level.
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#1919 fix(warehouse): closing file while creating load file for warehouse configuration test
  warehouse/configuration_testing/validate.go
Labels: Ready for Review, warehouse-team

#1892 chore: enrich transformation stats
  processor/processor.go
  processor/transformer/transformer.go
Labels: Ready for Review, server-team

#1923 chore(warehouse): remove tracking plan error logs.
  processor/trackingplan.go
Labels: Ready for Review, server-team

#1921 chore: fix for `chore.enrichTransformationsMetrics` branch PR
  processor/processor.go
  utils/misc/misc.go
Labels: Ready for Review, server-team

#1882 feat(multi-tenant): introduce deployment types, enabling multitenant with etcd
  .enterprise-commit
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  app/cluster/state/etcd.go
  app/options.go
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  config/backend-config/hosted_workspaces.go
  config/backend-config/hosted_workspaces_test.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/multitenant_workspaces_test.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  config/config.yaml
  docker_test.go
  main.go
  mocks/config/backend-config/mock_backendconfig.go
  regulation-worker/cmd/main.go
  regulation-worker/internal/destination/destination.go
  router/manager/manager_test.go
  router/oauthResponseHandler/oauthResponseHandler.go
  router/router.go
  router/router_test.go
  services/streammanager/kafka/client/client_test.go
  utils/misc/misc.go
  utils/types/deployment/deployment.go
  utils/types/deployment/deployment_test.go
Labels: Ready for Review, with tests, server-team

#1870 chore(warehouse): change SQL statement logs to debug type
  warehouse/redshift/redshift.go
Labels: warehouse-team

#1884 feat(jobsdb): support limiting jobs' pickup based on total payload size
  .enterprise-commit
  app/apphandlers/setup.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/unionQuery.go
  jobsdb/unionQueryLegacy.go
  jobsdb/unionQuery_test.go
  mocks/jobsdb/mock_jobsdb.go
  mocks/jobsdb/mock_unionQuery.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/manager/manager.go
  router/router.go
  router/router_test.go
  utils/bytesize/bytesize.go
Labels: Ready for Review, with tests, server-team

#1925 chore(multi-tenant): revert changes related to EnableMultitenancy config variable
  .enterprise-commit
  utils/misc/misc.go
Labels: server-team

#1815 WH: Timeout the postgres warehouse txn rollback
  warehouse/postgres/postgres.go
Labels: Stale, warehouse-team

#1869 feat(core): add support for transient sources
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  gateway/gateway.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_test.go
  jobsdb/prebackup/prebackup.go
  jobsdb/prebackup/prebackup_test.go
  jobsdb/unionQuery_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/factory.go
  router/factory.go
  router/manager/manager_test.go
  router/router.go
  router/router_test.go
  router/utils/utils.go
  services/transientsource/transientsource.go
  services/transientsource/transientsource_test.go
  testhelper/destination/postgres.go
Labels: Ready for Review, with tests, server-team

#1930 fix(multi-tenant): multitenanat backend config
  app/cluster/dynamic.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/multitenant_workspaces_test.go
  main.go
Labels: Ready for Review, with tests, server-team

#1934 feat: stats for skipped messages on kafka destinations
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#1932 hotfix(warehouse): updated reserved keywords for warehouse mssql and azure destination
  warehouse/utils/reservedkeywords.go
Labels: Ready for Review

#1937 fix: enabling earlier usage of stats in other components
  main.go
Labels: server-team

#1936 fix: ovverride arm64 check
  docker_test.go
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#1572 refactor(warehouse): performance improvements
  config/config.yaml
  testhelper/.env
  warehouse/identities.go
  warehouse/snowflake/snowflake.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: Ready for Review, warehouse-team

#1943 feat(multi-tenant): cluster manager gateway int
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/dynamic.go
  config/backend-config/backend-config.go
  main.go
Labels: server-team

#1945 fix(warehouse): fixing timeout issue for snowflake
  warehouse/snowflake/snowflake.go
Labels: Ready for Review, warehouse-team

#1876 chore(warehouse): extended warehouse configuration tests.
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/configuration_testing/configuration_testing.go
  warehouse/configuration_testing/helper.go
  warehouse/configuration_testing/query.go
  warehouse/configuration_testing/steps.go
  warehouse/configuration_testing/types.go
  warehouse/configuration_testing/validate.go
  warehouse/datalake/datalake.go
  warehouse/deltalake/deltalake.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/snowflake/snowflake.go
  warehouse/utils/utils.go
Labels: Ready for Review, warehouse-team

#1950 chore(multi-tenant): change workspace change ETCD key
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
Labels: with tests, server-team

#1917 feat(gateway): introduce `/job-status` endpoint
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  gateway/gateway.go
  gateway/gateway_test.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  services/rsources/mock_rsources.go
  services/rsources/rsources.go
Labels: Ready for Review, with tests, server-team

#1954 fix(multi-tenant): etcd Key case fix
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/single_workspace.go
  config/config.go
Labels: with tests, server-team

#1960 chore(multi-tenant): add hack for MT to use hosted backend config
  app/cluster/dynamic.go
  app/cluster/state/etcd.go
  config/backend-config/multitenant_workspaces.go
  config/config.yaml
Labels: server-team

#1966 chore(multi-tenant): not stop gateway from cluster manager
  app/cluster/dynamic.go
Labels: server-team

#1958 refactor(jobsdb): return extended query information
  .enterprise-commit
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/unionQueryLegacy.go
  mocks/jobsdb/mock_jobsdb.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
Labels: Ready for Review, with tests, server-team

#1963 fix(jobsdb): sanitize jsonb values before inserting them to the database
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  processor/manager_test.go
Labels: Ready for Review, with tests, server-team

#1964 chore(warehouse): fixed load parallel table configuration nor working
  warehouse/archiver.go
  warehouse/upload.go
Labels: Ready for Review, warehouse-team

#1895 feat(warehouse): added metrics for capturing stats in warehouse scheduling
  warehouse/warehouse.go
Labels: Ready for Review, warehouse-team

#1974 fix(warehouse): warehouse schema int to float schema fix
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave.go
Labels: with tests, warehouse-team

#1968 chore: master -> rudder-saas
  .enterprise-commit
  Makefile
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/cluster/dynamic.go
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
  build/buildspec.docker.dev-ent.yml
  build/buildspec.docker.dev.yml
  build/buildspec.docker.master.yml
  build/buildspec.docker.saas.yml
  build/buildspec.pr.yml
  config/backend-config/multitenant_workspaces.go
  config/backend-config/single_workspace.go
  config/config.go
  config/config.yaml
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/unionQueryLegacy.go
  mocks/jobsdb/mock_jobsdb.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  services/rsources/mock_rsources.go
  services/rsources/rsources.go
  utils/misc/misc.go
  warehouse/archiver.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#1976 fix(warehouse): deltalake users table getting populated corruptly.
  warehouse/deltalake/deltalake.go
Labels: warehouse-team

#1977 fix(warehouse): deltalake users table getting populated corruptly. (#1976)
  warehouse/deltalake/deltalake.go
Labels: warehouse-team

#1897 feat(warehouse): json column support for warehouse destinations bq,postgres,snowlake,rs
  warehouse/redshift/redshift.go
  warehouse/schema.go
  warehouse/schema_test.go
Labels: with tests, warehouse-team

#1980 chore(jobsdb): skip zero assertion for multitenant internal migrations
  jobsdb/jobsdb.go
Labels: server-team

#1981 master -> saas
  jobsdb/jobsdb.go
Labels: server-team

#1961 chore(warehouse): added append mode to Deltalake destination
  config/config.yaml
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/deltalakeQueryBuilder.go
Labels: Ready for Review, warehouse-team

#1914 feat(warehouse): added support for deltalake partition and external location support.
  warehouse/deltalake/deltalake.go
  warehouse/utils/reservedkeywords.go
Labels: Ready for Review, warehouse-team

#1986 chore(jobsdb): fix migration sequence number for multitenant migration
  app/cluster/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#1962 chore(ci): add stale branch clean up support
  .github/workflows/housekeeping.yaml
Labels: Ready for Review

#1990 chore: identify transient sources through a top-level configuration field
  config/backend-config/backend-config.go
  services/transientsource/transientsource.go
  services/transientsource/transientsource_test.go
Labels: Ready for Review, with tests, server-team

#1997 chore(gateway): reject the event if it's not valid map
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/response/response.go
Labels: with tests, server-team

#1996 feat(multi-tenant): use cached backend config
  config/backend-config/hosted_workspaces.go
  config/backend-config/hosted_workspaces_test.go
  config/backend-config/multitenant_workspaces.go
Labels: with tests, server-team

#1998 chore(router): improve tests for router pickup algorithm
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  processor/manager.go
  processor/manager_test.go
  processor/transformqueue.go
  services/multitenant/legacy.go
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
Labels: with tests, server-team

#2003 fix: do not skip stash aborting jobs if backup is disabled
  processor/stash/stash.go
Labels: Ready for Review, server-team

#2001 fix: disable support for Google Developers Console client_credentials.json file
  services/filemanager/fileManager_test.go
  services/filemanager/gcsmanager.go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
  services/streammanager/googlepubsub/googlepubsubmanager.go
  services/streammanager/googlepubsub/googlepubsubmanager_test.go
  utils/googleutils/googleutils.go
  warehouse/bigquery/bigquery.go
  warehouse/bigquery/bigquery_test.go
Labels: Ready for Review, with tests, warehouse-team

#1999 fix(jobsdb): mark MIGRATE_COPY done and POST_MIGRATE_DS_OP start atomically
  jobsdb/internal/lock/lock.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_export.go
  jobsdb/jobsdb_import.go
  jobsdb/jobsdb_migration_checkpoints.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/setup.go
  jobsdb/unionQuery.go
Labels: Ready for Review, with tests, server-team

#2004 master -> saas
  .github/workflows/housekeeping.yaml
  Dockerfile
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  build/buildspec.docker.dev-ent.yml
  build/buildspec.docker.dev.yml
  config/backend-config/backend-config.go
  config/backend-config/hosted_workspaces.go
  config/backend-config/hosted_workspaces_test.go
  config/backend-config/multitenant_workspaces.go
  config/config.yaml
  docker-compose.yml
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/response/response.go
  jobsdb/internal/lock/lock.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_export.go
  jobsdb/jobsdb_import.go
  jobsdb/jobsdb_migration_checkpoints.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/setup.go
  jobsdb/unionQuery.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  processor/transformqueue.go
  services/filemanager/fileManager_test.go
  services/filemanager/gcsmanager.go
  services/multitenant/legacy.go
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
  services/streammanager/googlepubsub/googlepubsubmanager.go
  services/streammanager/googlepubsub/googlepubsubmanager_test.go
  services/transientsource/transientsource.go
  services/transientsource/transientsource_test.go
  utils/googleutils/googleutils.go
  warehouse/bigquery/bigquery.go
  warehouse/bigquery/bigquery_test.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/deltalakeQueryBuilder.go
  warehouse/utils/reservedkeywords.go
Labels: with tests, warehouse-team

#2005 chore(multi-tenant): defaulted cachedHostedWorkspaceConfig to false
  config/backend-config/hosted_workspaces.go
  config/backend-config/hosted_workspaces_test.go
  config/backend-config/multitenant_workspaces.go
Labels: with tests, server-team

#2008 feat: kafka publishTime stat
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: Ready for Review, with tests, server-team
