Repository rudderlabs/rudder-server, pull requests merged in 2022-12, with the labels that each got.

#2746 chore(jobsdb): add support for schema migration changesets to run always
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/migration.go
  jobsdb/setup.go
  services/sql-migrator/migrator.go
  services/sql-migrator/migrator_test.go
  sql/migrations/config_cache/000001_init_schema.down.sql
  sql/migrations/jobsdb/000001_create_tables.down.tmpl
  sql/migrations/jobsdb/000002_alter_dataset_tables.down.tmpl
  sql/migrations/jobsdb/000003_alter_journal_table.down.tmpl
  sql/migrations/jobsdb/000004_alter_status_table.down.tmpl
  sql/migrations/jobsdb/000005_alter_dataset_table.down.tmpl
  sql/migrations/jobsdb/000006_alter_dataset_table.down.tmpl
  sql/migrations/jobsdb/000007_add_index_rt_table.down.tmpl
  sql/migrations/jobsdb/000009_readonly_table_trigger.down.tmpl
  sql/migrations/jobsdb/000010_add_index_job_status_table.down.tmpl
  sql/migrations/jobsdb_always/000010_add_index_job_status_table.up.tmpl
  sql/migrations/node/000001_create_event_schema.down.sql
  sql/migrations/node/000002_del_col_counters_event_schema.down.sql
  sql/migrations/node/000003_remove_event_model_columns.down.sql
  sql/migrations/node/000004_create_ops.down.sql
  sql/migrations/node/000006_remove_archived_from_event_schemas_tables.down.sql
  sql/migrations/node/000007_remove_ops.down.sql
  sql/migrations/node/000008_unionjobsdb_fn.down.sql
  sql/migrations/pg_notifier_queue/0000001_pg_notifier_queue_init.down.sql
  sql/migrations/pg_notifier_queue/0000002_pg_notifier_queue_null_topic.down.sql
  sql/migrations/pg_notifier_queue/0000003_pg_notifier_queue_add_priority.down.sql
  sql/migrations/pg_notifier_queue/0000004_pg_notifier_queue_add_jobtype.down.sql
Labels: with tests, server-team

#2748 chore: ensure internal migration of large job-status datasets
  jobsdb/jobsdb.go
  jobsdb/migration.go
Labels: server-team

#2718 chore: close http responses in a way to allow the Transport to re-use the TCP connection
  cmd/devtool/commands/event.go
  config/backend-config/namespace_config.go
  config/backend-config/single_workspace.go
  enterprise/reporting/reporting.go
  enterprise/suppress-user/syncer.go
  gateway/gateway.go
  gateway/integration_test.go
  gateway/webhook/webhookTransformer.go
  integration_test/docker_test/docker_test.go
  integration_test/multi_tentant_test/multi_tenant_test.go
  processor/processor.go
  processor/transformer/transformer.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/delete/api/api.go
  router/batchrouter/batchrouter.go
  router/eventorder_test.go
  router/network.go
  router/router_dest_isolation_test.go
  router/transformer/transformer.go
  services/alert/pagerduty.go
  services/alert/victorops.go
  services/controlplane/features/client.go
  services/debugger/uploader.go
  services/destination-connection-tester/destination_connection_tester.go
  services/filemanager/fileManager_test.go
  services/oauth/oauth.go
  testhelper/destination/minio.go
  testhelper/destination/transformer.go
  testhelper/health/checker.go
  utils/httputil/client.go
  utils/httputil/client_test.go
  utils/misc/misc.go
  warehouse/testhelper/events.go
  warehouse/testhelper/setup.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2751 chore: advertise server features in version endpoint
  info/features.go
  integration_test/multi_tentant_test/testdata/expected_features.json
  runner/runner.go
Labels: server-team

#2733 chore: completely replace gofrs with google uuid
  .golangci.yml
  app/cluster/integration_test.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/sourceWorker.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  enterprise/suppress-user/suppress_user_test.go
  event-schema/event_schema.go
  event-schema/event_schema_api.go
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  jobsdb/unionQuery_test.go
  mocks/jobsdb/mock_jobsdb.go
  processor/manager_test.go
  processor/processorBenchmark_test.go
  processor/processor_test.go
  processor/stash/stash.go
  processor/stash/stash_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouterBenchmark_test.go
  router/batchrouter/batchrouter_test.go
  router/manager/manager_test.go
  router/router_test.go
  services/destination-connection-tester/destination_connection_tester.go
  services/multitenant/tenantstats_test.go
  services/rsources/handler_test.go
  services/rsources/stats_collector.go
  services/rsources/stats_collector_test.go
  utils/misc/misc.go
  utils/misc/misc_test.go
  utils/misc/uuid_test.go
Labels: with tests, server-team

#2764 chore: upgrade postgres image
  app/cluster/integration_test.go
  config/backend-config/backend_config_test.go
  docker-compose.yml
  processor/manager_test.go
  router/manager/manager_test.go
  rudder-docker.yml
  services/rsources/handler_test.go
  testhelper/destination/postgres.go
  warehouse/docker-compose.test.yml
Labels: with tests, warehouse-team

#2766 fix(warehouse): grcp cp-router logs
  warehouse/warehousegrpc.go
Labels: warehouse-team

#2769 chore: remove redundant/duplicate add_ds distributed lock
  jobsdb/jobsdb.go
Labels: server-team

#2760 feat(warehouse): added support for workspaceID's configuration
  config/config.go
  config/config_test.go
  config/hotreloadable.go
  config/load.go
  utils/maputil/maputil.go
  utils/maputil/maputil_test.go
  warehouse/manager/manager.go
  warehouse/postgres/postgres.go
  warehouse/testhelper/.env
  warehouse/upload.go
Labels: Ready for Review, with tests, warehouse-team

#2776 chore: 1 4 merge
  .github/workflows/prerelease.yaml
  CHANGELOG.md
  info/features.go
  integration_test/multi_tentant_test/testdata/expected_features.json
  jobsdb/jobsdb.go
  jobsdb/migration.go
  runner/runner.go
  warehouse/warehouse.go
Labels: warehouse-team

#2747 feat: controlplane client support for destination history
  runner/runner.go
  services/controlplane/client.go
  services/controlplane/client_test.go
  services/controlplane/features/client_test.go
  services/controlplane/testdata/destination_history.json
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2779 chore: fail transformer timeouts
  processor/transformer/transformer.go
  router/transformer/transformer.go
Labels: server-team

#2784 chore: remove shopify autoreload
  gateway/webhook/configuration.go
Labels: server-team

#2780 feat(warehouse): upload job processing metrics
  warehouse/testdata/sql/6.sql
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: Ready for Review, with tests, warehouse-team

#2790 fix: remove schema from stage file model
  warehouse/internal/api/http.go
  warehouse/internal/api/http_test.go
  warehouse/internal/model/staging.go
  warehouse/internal/model/staging_test.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/types.go
Labels: with tests, warehouse-team

#2792 fix: using a wrong datatype for pg_class.reltuples causes internal migration to fail
  jobsdb/migration.go
Labels: server-team

#2794 chore: applying 1.4.3 and 1.4.4 hotfixes to main branch
  CHANGELOG.md
  jobsdb/migration.go
  warehouse/internal/api/http.go
  warehouse/internal/api/http_test.go
  warehouse/internal/model/staging.go
  warehouse/internal/model/staging_test.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/types.go
Labels: with tests, warehouse-team

#2685 chore(warehouse): integration test improvements
  Makefile
  warehouse/archive/archiver_test.go
  warehouse/bigquery/bigquery_source_test.go
  warehouse/bigquery/bigquery_test.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/constraint_test.go
  warehouse/datalake/datalake_test.go
  warehouse/db_test.go
  warehouse/deltalake/deltalake_test.go
  warehouse/mssql/mssql_source_test.go
  warehouse/mssql/mssql_test.go
  warehouse/postgres/postgres_source_test.go
  warehouse/postgres/postgres_test.go
  warehouse/redshift/redshift_source_test.go
  warehouse/redshift/redshift_test.go
  warehouse/scheduling_test.go
  warehouse/schema_test.go
  warehouse/slave_test.go
  warehouse/snowflake/snowflake_source_test.go
  warehouse/snowflake/snowflake_test.go
  warehouse/stats_test.go
  warehouse/table_upload_test.go
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/.env
  warehouse/testhelper/events.go
  warehouse/testhelper/setup.go
  warehouse/upload_test.go
  warehouse/validations/steps_test.go
  warehouse/validations/validations_suite_test.go
  warehouse/warehouse_test.go
  warehouse/warehousegrpc_test.go
Labels: Ready for Review, with tests, warehouse-team

#2798 fix: pending events stats incremented twice during startup due to tenantstats being initialized twice
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
Labels: with tests, server-team

#2801 refactor(warehouse): use strings.builder for warehouse add columns
  warehouse/azure-synapse/azure-synapse.go
  warehouse/clickhouse/clickhouse.go
  warehouse/deltalake/deltalake.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/snowflake/snowflake.go
Labels: warehouse-team

#2805 chore: enable failed keys by default
  app/apphandlers/setup.go
  config/config.yaml
  router/router.go
Labels: server-team

#2799 fix: aws session creation is failing for s3 manager when roles are used
  services/filemanager/filemanager.go
  services/filemanager/s3manager.go
  services/filemanager/s3manager_test.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2808 fix(destination): alert flag setting for router-aborted-count alert definition
  router/router.go
  router/router_test.go
Labels: with tests, server-team, integrations-team

#2809 chore(gateway): enabling source transformation alerts
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
Labels: server-team

#2811 chore(gateway): add webhook failure stats
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
Labels: server-team

#2810 chore: quote table identifier
  jobsdb/jobsdb.go
  jobsdb/readonly_jobsdb.go
Labels: server-team

#2804 feat(warehouse): implement ssh tunnelling
  docker-compose.yml
  go.mod
  go.sum
  warehouse/api.go
  warehouse/client/controlplane/client.go
  warehouse/client/controlplane/client_test.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/tunnelling/connect.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/validations/types.go
  warehouse/validations/validate.go
  warehouse/warehouse.go
  warehouse/warehousegrpc.go
Labels: with tests, warehouse-team

#2814 chore: applying 1.4.5 hotfixes to main branch
  CHANGELOG.md
  app/apphandlers/setup.go
  config/config.yaml
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/readonly_jobsdb.go
  router/router.go
  router/router_test.go
  services/filemanager/filemanager.go
  services/filemanager/s3manager.go
  services/filemanager/s3manager_test.go
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2821 chore: abort jobs in regulation worker for unsupported destinations
  regulation-worker/internal/delete/delete.go
  regulation-worker/internal/delete/delete_test.go
Labels: with tests, server-team

#2822 fix(warehouse): processing available workers to be gauge stats
  go.mod
  services/stats/memstats/stats.go
  warehouse/warehouse.go
Labels: warehouse-team

#2826 fix(warehouse): control plane client needs to be initialized for master mode
  warehouse/warehouse.go
Labels: warehouse-team

#2830 refactor: use destination config from config-be than from message
  services/streammanager/lambda/lambdamanager.go
  services/streammanager/lambda/lambdamanager_test.go
Labels: with tests, server-team

#2803 chore: limit live events stored in memory
  gateway/gateway.go
  mocks/services/debugger/uploader.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
  services/debugger/transformation/transformation_debugger_suite_test.go
  services/debugger/uploader.go
  services/debugger/uploader_test.go
  utils/misc/misc.go
Labels: with tests, server-team

#2820 chore: drop support for v1 pending events
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  gateway/gateway.go
  jobsdb/jobsdb_test.go
  jobsdb/readonly_jobsdb.go
  processor/processor.go
  router/batchrouter/batchrouter.go
  router/failed-events-manager.go
  router/router.go
  sql/migrations/node/000009_drop_failed_keys.up.sql
Labels: with tests, server-team

#2832 chore: introduce region in reporting url
  app/apphandlers/embeddedAppHandler.go
  enterprise/replay/setup.go
  enterprise/reporting/reporting.go
  enterprise/reporting/setup.go
  processor/processor.go
  processor/transformer/transformer.go
  router/batchrouter/batchrouter.go
  router/router.go
  router/transformer/transformer.go
  router/transformer/transformer_test.go
  services/debugger/cache.go
  services/debugger/cache_test.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/source/eventUploader.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/uploader.go
  utils/types/reporting_types.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team
