Repository rudderlabs/rudder-server, pull requests merged in 2022-04, with the labels that each got.

#1788 Cleanup not happening during configuration testing
  warehouse/configuration_testing/validate.go
Labels: Ready for Review

#1801 Fix: take care of nullable columns when retrieving dangling connections
  services/validators/envValidator.go
Labels: Ready for Review

#1803 Use legacy pickup algorithm on non multi-tenant environments.
  app/apphandlers/embeddedAppHandler.go
  services/multitenant/legacy.go
Labels: Ready for Review

#1805 Fix: safe concurrent access of metric registry's index values
  services/metric/registry.go
Labels: Ready for Review

#1802 Fix: EventBus memory issue with slow subscribers
  .enterprise-commit
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  gateway/gateway.go
  gateway/gateway_test.go
  mocks/config/backend-config/mock_backendconfig.go
  mocks/utils/pubsub/mock_pubsub.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/customdestinationmanager/customdestinationmanager.go
  router/manager/manager.go
  router/manager/manager_test.go
  router/router.go
  router/router_test.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/transformation/transformationStatusUploader.go
  utils/pubsub.go
  utils/pubsub/pubsub.go
  utils/pubsub/pubsub_test.go
  utils/utils.go
  warehouse/warehouse.go
Labels: Ready for Review

#1807 Wh destination tests
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/client/client.go
  warehouse/configuration_testing/query.go
  warehouse/configuration_testing/validate.go
  warehouse/datalake/datalake.go
  warehouse/deltalake/deltalake.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/snowflake/snowflake.go
  warehouse/utils/utils.go
Labels: Ready for Review

#1800 fix(jobsdb): execute ANALYZE after completing batch jobsdb operations
  jobsdb/jobsdb.go
  jobsdb/jobsdb_import.go
Labels: Ready for Review

#1841 chore: Bump golang-migrate from v4.11.0 to v4.15.1
  go.mod
  go.sum
Labels: Ready for Review

#1799 fix: `pre_drop` table pileup issue
  jobsdb/jobsdb.go
Labels: Ready for Review

#1833 refactor(jobsdb): use a request executor to encapsulate execution mode (concurrent or queued)
  jobsdb/jobsdb.go
  jobsdb/jobsdb_utils.go
  jobsdb/queued_db_request.go
  jobsdb/queued_db_request_test.go
  mocks/services/stats/mock_stats.go
  services/stats/stats.go
Labels: Ready for Review

#1622 chore(tests): Remove sleep(), use wait logic
  mocks/services/debugger/uploader.go
  services/debugger/cache.go
  services/debugger/cache_test.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader_test.go
  services/debugger/uploader.go
  services/debugger/uploader_test.go
Labels: Ready for Review

#1855 fix: disable bq dedup by default
  warehouse/bigquery/bigquery.go
Labels: Ready for Review

#1852 chore(ci): run all tests only in github actions
  .github/workflows/tests.yaml
  .gitignore
  Makefile
  build/buildspec.docker.dev-ent.yml
  build/buildspec.docker.dev.yml
Labels: Ready for Review

#1860 chore(ci): add github action for validating semantic PR titles
  .github/workflows/semantic-pr.yaml
Labels: Ready for Review

#1856 chore(ci): simplify pr template
  .github/pull_request_template.md
Labels: Ready for Review

#1863 chore(ci): add github action for labelling pull requests based on changed files
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: Ready for Review

#1844 feat(jobsdb): made backup related config hot-reloadable
  jobsdb/jobsdb.go
Labels: Ready for Review, Discussion, server-team

#1864 chore(ci): add generate event script to image
  build/Dockerfile
  build/Dockerfile-aws
  build/Dockerfile-aws-dev
  scripts/generate-event
Labels: Ready for Review

#1872 fix(warehouse): add support for multiline in deltalake.
  warehouse/deltalake/deltalake.go
Labels: Ready for Review, warehouse-team

#1858 feat: calculate aggregated pending_events_count metrics for all workspaces
  router/batchrouter/batchrouter.go
  router/router.go
  services/metric/measurement.go
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
Labels: Ready for Review, with tests, server-team

#1839 feat(multi-tenant): etcd provider and config backend updates
  .enterprise-commit
  app/app_suite_test.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  app/cluster/state/env.go
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
  app/cluster/state/static.go
  app/cluster/state/static_test.go
  app/gomock_reflect_841618232/prog.go
  config/backend-config/backend-config.go
  config/backend-config/multitenant-workspace-config.go
  config/backend-config/multitenant-workspace-config_test.go
  go.mod
  go.sum
  main.go
  mocks/config/backend-config/mock_backendconfig.go
  utils/types/servermode/servermode.go
  utils/types/workspace/workspace.go
Labels: Ready for Review, with tests, server-team

#1874 fix: disable stash backup if masterBackup is disabled.
  jobsdb/jobsdb.go
  processor/stash/stash.go
Labels: server-team

#1888 fix: added http client timeout in processor transformer (#1887)
  processor/transformer/transformer.go
Labels: server-team

#1891 fix: use the correct measurement name and tags for aggregated pending events metrics
  services/metric/measurement.go
Labels: server-team

#1873 fix: added http client timeout
  .enterprise-commit
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/state/etcd.go
  config/backend-config/backend-config.go
  config/backend-config/multi-workspace-config.go
  config/backend-config/multitenant-workspace-config.go
  config/backend-config/workspace-config.go
  config/config.go
  config/config.yaml
  event-schema/event_schema.go
  gateway/configuration.go
  gateway/gateway.go
  gateway/webhook/configuration.go
  gateway/webhook/setup.go
  jobsdb/archiver.go
  jobsdb/jobsdb.go
  jobsdb/readonly_jobsdb.go
  main.go
  processor/processor.go
  processor/stash/stash.go
  processor/transformer/transformer.go
  rate-limiter/rate-limiter.go
  regulation-worker/cmd/main.go
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/batchrouter.go
  router/oauthResponseHandler/oauthResponseHandler.go
  router/router.go
  router/throttler/throttler.go
  router/transformer/transformer.go
  router/utils/utils.go
  services/alert/pagerduty.go
  services/alert/victorops.go
  services/debugger/cache.go
  services/debugger/uploader.go
  services/dedup/dedup.go
  services/destination-connection-tester/destination_connection_tester.go
  services/pgnotifier/pgnotifier.go
  services/streammanager/kafka/kafkamanager.go
  warehouse/archiver.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/clickhouse/clickhouse.go
  warehouse/deltalake/deltalake.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/scheduling.go
  warehouse/snowflake/snowflake.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: warehouse-team

#1878 fix: support multiple configvars registration
  config/config.go
  config/config_test.go
Labels: with tests, server-team

#1879 chore: removed unsed files
  build/buildspec.docker.master.yml
  build/buildspec.pr.yml
  gateway/gateway_suite_test.go
  utils/tests/GA/GAReference.json
  utils/tests/GA/GAcheck.go
  utils/tests/GA/mapping.json
  utils/tests/reporter.go
  warehouse/utils/utils_suite_test.go
  warehouse/warehouse_suite_test.go
Labels: Ready for Review, with tests, warehouse-team

#1899 chore: saas -> master
  services/sql-migrator/migrations_vfsdata.go
  sql/migrations/pg_notifier_queue/0000003_pg_notifier_queue_add_priority.down.sql
  sql/migrations/pg_notifier_queue/0000003_pg_notifier_queue_add_priority.up.sql
  warehouse/configuration_testing/steps.go
  warehouse/configuration_testing/types.go
  warehouse/configuration_testing/validate.go
  warehouse/identities.go
  warehouse/stats.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#1885 fix: disable creation of views when dedup is enabled in BQ
  warehouse/bigquery/bigquery.go
Labels: Ready for Review, warehouse-team

#1900 chore: upgrade golang-migrate to v4.15.2
  go.mod
  go.sum
Labels: Ready for Review, security :lock:

#1903 chore: upgrade dockertest to v3.8.1
  app/cluster/integration_test.go
  app/cluster/state/etcd_test.go
  docker_test.go
  go.mod
  go.sum
  jobsdb/integration_test.go
  processor/manager_test.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/delete/kvstore/kvstore_test.go
  router/manager/manager_test.go
  services/filemanager/fileManager_test.go
  testhelper/destination/kafka.go
  testhelper/destination/minio.go
  testhelper/destination/postgres.go
  testhelper/destination/redis.go
  testhelper/destination/transformer.go
  testhelper/warehouse/bigquery.go
  testhelper/warehouse/clickhouse-cluster.go
  testhelper/warehouse/clickhouse.go
  testhelper/warehouse/mssql.go
  testhelper/warehouse/postgres.go
  testhelper/warehouse/warehouse.go
Labels: Ready for Review, with tests, server-team

#1905 fix.invalid-json-fix
  router/router.go
Labels: server-team

#1906 fix: invalid-json-fix (#1905)
  router/router.go
Labels: server-team
