Repository rudderlabs/rudder-server, pull requests merged in 2022-06, with the labels that each got.

#2018 feat(multi-tenant): multitenant support for embedded app
  app/apphandlers/embeddedAppHandler.go
  app/cluster/dynamic.go
Labels: server-team

#2016 feat(router): use a circuit breaker while producing custom destination clients
  go.mod
  go.sum
  router/customdestinationmanager/customdestinationmanager.go
  router/customdestinationmanager/customdestinationmanager_test.go
Labels: Ready for Review, with tests, server-team

#1979 fix(destination): Added/Modified Stats for assistance in debugging for transformerProxy
  mocks/router/transformer/mock_transformer.go
  router/router.go
  router/transformer/transformer.go
Labels: server-team, integrations-team

#2020 fix(warehouse): use correct locks for dateformat in processor
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouterBenchmark_test.go
Labels: Do not merge, with tests, server-team

#2015 feat(warehouse): configurable timewindow layout for gcs datalake
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#1889 feat(warehouse): added support for multi retry admin api
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse.proto
  proto/warehouse/warehouse_grpc.pb.go
  warehouse/retry.go
  warehouse/warehousegrpc.go
Labels: Ready for Review, warehouse-team

#2023 master -> saas
  .goreleaser.yml
  .version
  app/apphandlers/embeddedAppHandler.go
  app/cluster/dynamic.go
  appspec.yml
  build/build-multinode.sh
  config/backend-config/hosted_workspaces.go
  config/backend-config/hosted_workspaces_test.go
  config/backend-config/multitenant_workspaces.go
  docker-compose-enterprise.yml
  docker-compose-multi.yml
  go.mod
  go.sum
  mocks/router/transformer/mock_transformer.go
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse.proto
  proto/warehouse/warehouse_grpc.pb.go
  release.sh
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouterBenchmark_test.go
  router/customdestinationmanager/customdestinationmanager.go
  router/customdestinationmanager/customdestinationmanager_test.go
  router/router.go
  router/transformer/transformer.go
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  services/rsources/internal/extension/extension.go
  services/rsources/internal/extension/multitenant.go
  services/rsources/internal/extension/standard.go
  services/rsources/mapper.go
  services/rsources/mapper_test.go
  services/rsources/mock_rsources.go
  services/rsources/rsources.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  warehouse/retry.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/warehousegrpc.go
Labels: with tests, warehouse-team

#2033 fix(warehouse): columns need to be provided during copy command for deltalake
  warehouse/deltalake/deltalake.go
Labels: warehouse-team

#2034 fix(warehouse): skip backendConfig check for slave
  main.go
Labels: server-team

#2037 fix(warehouse): dsiable reporting setup for slave
  warehouse/warehouse.go
Labels: warehouse-team

#2038 master -> saas
  warehouse/warehouse.go
Labels: warehouse-team

#1989 chore: appropriate response at Gateway to incoming request
  gateway/admin.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/response/response.go
Labels: with tests, server-team

#2040 fix(gateway): getUsersPayload optimizations
  gateway/gateway.go
  gateway/gateway_test.go
Labels: Ready for Review, with tests, server-team

#2031 chore: execute ANALYZE after copying a large number of jobs or job statuses
  jobsdb/jobsdb.go
Labels: Ready for Review, server-team

#2048 chore(gateway): response cleanup
  gateway/response/response.go
Labels: server-team

#1948 refactor: pubsub .Subscribe() adding ctx and channel ownership
  .enterprise-commit
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  docker_test.go
  gateway/gateway.go
  gateway/gateway_test.go
  mocks/config/backend-config/mock_backendconfig.go
  mocks/utils/pubsub/mock_pubsub.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/customdestinationmanager/customdestinationmanager.go
  router/gomock_reflect_239393933/prog.go
  router/manager/manager.go
  router/manager/manager_test.go
  router/router.go
  router/router_test.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/transformation/transformationStatusUploader.go
  services/transientsource/transientsource.go
  services/transientsource/transientsource_test.go
  utils/pubsub/pubsub.go
  utils/pubsub/pubsub_test.go
  utils/tests/async-helper.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2053 feat: integration tags
  .github/workflows/tests.yaml
  .gitignore
  Makefile
  app/cluster/integration_test.go
  build/buildspec.docker.master.yml
  build/buildspec.pr.yml
  docker_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_suite_test.go
  jobsdb/jobsdb_test.go
  jobsdb/readonly_jobsdb_test.go
  jobsdb/unionQuery_test.go
Labels: Ready for Review, with tests, server-team

#2058 chore: introduce pipeline_processed_events metric in router and batch router
  router/batchrouter/batchrouter.go
  router/router.go
Labels: server-team

#2022 feat(core): pub-sub for sources jobs stats in a multi-tenant scenario
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/options.go
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/internal/extension/extension.go
  services/rsources/internal/extension/multitenant.go
  services/rsources/internal/extension/standard.go
  services/rsources/rsources.go
Labels: Ready for Review, with tests, server-team

#2065 fix: update failedJobIDMap after draining a job in router
  router/router.go
Labels: Ready for Review, server-team

#2070 chore: run gofumpt in rudder-server-enterprise
  .enterprise-commit
Labels: Ready for Review

#2061 fix: properly start a new badgerdb transaction on ErrTxnTooBig
  mocks/services/dedup/mock_dedup.go
  processor/processor.go
  services/dedup/dedup.go
  services/dedup/dedup_test.go
Labels: Ready for Review, with tests, server-team

#2073 fix(multi-tenant): removed unused mock calls
  app/cluster/dynamic.go
  app/cluster/integration_test.go
Labels: with tests, server-team

#2059 chore: removing TestMain from docker_test.go
  .github/workflows/tests.yaml
  docker_test.go
  services/streammanager/googlepubsub/googlepubsubmanager_test.go
  services/streammanager/googlesheets/googlesheetsmanager_test.go
  testhelper/cleanup.go
  testhelper/destination/kafka.go
  testhelper/destination/minio.go
  testhelper/destination/postgres.go
  testhelper/destination/redis.go
  testhelper/destination/transformer.go
  testhelper/webhook/recorder.go
Labels: Ready for Review, with tests, server-team

#2074 chore: enable slow tests by default
  .github/workflows/tests.yaml
  Makefile
  docker_test.go
Labels: Ready for Review, with tests, server-team

#2071 fix: make sure jobsdb is started when using the replay feature
  .enterprise-commit
  .gitignore
  jobsdb/gomock_reflect_2754904534/prog.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  router/gomock_reflect_239393933/prog.go
  router/transformer/gomock_reflect_714687981/prog.go
  utils/sysUtils/gomock_reflect_905946799/prog.go
Labels: Ready for Review, with tests, server-team

#2080 chore: remove stale stats
  processor/processor.go
  processor/stash/stash.go
  processor/transformer/transformer.go
  router/batchrouter/batchrouter.go
  router/router.go
  router/transformer/transformer.go
Labels: server-team

#2085 chore(gateway): start gateway before setting up replay
  app/apphandlers/embeddedAppHandler.go
Labels: server-team

#2086 fix: use a writer jobsdb for writing to gw tables during replay
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
Labels: Ready for Review, server-team

#2089 chore(core): suppress/debug-level logs
  config/config.go
  jobsdb/jobsdb.go
Labels: server-team

#2090 feat: expose robots.txt to disable crawling
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#2095 fix: recordId lookup
  processor/processor.go
Labels: server-team

#2103 fix: kafka multiple hosts
  docker_test.go
  router/customdestinationmanager/customdestinationmanager_test.go
  services/streammanager/kafka/client/client.go
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/client/testutil/util.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: Ready for Review, with tests, server-team

#2108 fix: calculate consistent tagStr cache keys in stats
  services/stats/stats.go
  services/stats/stats_test.go
Labels: Ready for Review, with tests, server-team

#2122 fix(warehouse): close connections after validation steps
  warehouse/configuration_testing/validate.go
Labels: warehouse-team

#2106 feat(warehouse): enable postgres query execution
  config/config.yaml
  warehouse/deltalake/query_builder.go
  warehouse/postgres/postgres.go
  warehouse/postgres/query_builder.go
Labels: warehouse-team
