Repository rudderlabs/rudder-server, pull requests merged in 2022-08, with the labels that each got.

#2197 refactor: use path pkg in s3 manager to make s3 filename
  app/cluster/state/etcd.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/fileManager_test.go
  services/filemanager/gcsmanager.go
  services/filemanager/miniomanager.go
  services/filemanager/s3manager.go
Labels: Ready for Review, with tests, server-team

#2221 fix(warehouse): use correct config for destination name
  warehouse/utils/utils_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2205 fix(gateway): make gateway user logic synonymous to proxy logic
  gateway/configuration.go
  gateway/gateway.go
  router/manager/manager.go
  services/sql-migrator/migrations_vfsdata.go
  sql/migrations/jobsdb/000008_alter_user_id.up.tmpl
Labels: server-team

#2228 chore: clean up deprecated code
  app/apphandlers/setup.go
  app/cluster/dynamic.go
  config/backend-config/backend-config.go
  enterprise/migrator/export.go
  enterprise/migrator/failedKeysMigrator.go
  enterprise/migrator/import.go
  gateway/webhook/setup.go
  jobsdb/jobsdb.go
  middleware/middleware.go
  mocks/services/stats/mock_stats.go
  processor/stash/stash.go
  processor/transformer/transformer.go
  router/batchrouter/batchrouter.go
  router/customdestinationmanager/customdestinationmanager.go
  router/transformer/transformer.go
  services/debugger/transformation/transformationStatusUploader.go
  services/stats/stats.go
  warehouse/deltalake/deltalake.go
  warehouse/warehouse.go
Labels: warehouse-team

#2227 chore(warehouse): bug fix for warehouse bucket config backward compatibility
  warehouse/query_builder.go
Labels: warehouse-team

#2200 fix: backend config refactoring
  app/app.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/configlifecycle_mock_test.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/state/etcd.go
  app/features.go
  config/backend-config/admin.go
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  config/backend-config/hosted_workspaces.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  config/backend-config/types.go
  docker_test.go
  enterprise/reporting/config_noop_test.go
  enterprise/suppress-user/setup.go
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  main.go
  mocks/app/mock_features.go
  mocks/config/backend-config/mock_backendconfig.go
  mocks/services/multitenant/mock_tenantstats.go
  multi_tenant_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  router/manager/manager.go
  router/manager/manager_test.go
  services/multitenant/noop.go
  services/multitenant/tenantstats.go
  warehouse/warehouse.go
Labels: Ready for Review, with tests, warehouse-team

#2012 chore: introduce context in jobsDB insert & update commands
  enterprise/migrator/export.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/replay.go
  enterprise/replay/sourceWorker.go
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_export.go
  jobsdb/jobsdb_import.go
  jobsdb/unionQuery.go
  jobsdb/unionQuery_test.go
  mocks/jobsdb/mock_jobsdb.go
  mocks/jobsdb/mock_unionQuery.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/router.go
  router/router_test.go
  utils/misc/retry.go
  utils/misc/retry_test.go
Labels: with tests, server-team

#2232 feat: backend config namespace support
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  config/backend-config/testdata/sample_namespace.json
  config/config.go
  multi_tenant_test.go
  utils/types/deployment/deployment.go
  utils/types/deployment/deployment_test.go
Labels: Ready for Review, with tests, server-team

#2237 fix: restore / endpoint
  gateway/gateway.go
Labels: server-team

#2223 chore(warehouse): pump more tests for warehouse utils
  warehouse/utils/reservedkeywords.go
  warehouse/utils/reservedkeywords_test.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#2242 chore: fixing flaky test
  utils/misc/retry_test.go
Labels: with tests, server-team

#2240 chore: remove hosted deployment type
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  config/backend-config/hosted_workspaces.go
  config/backend-config/hosted_workspaces_test.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/multitenant_workspaces_test.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  utils/types/deployment/deployment.go
  utils/types/deployment/deployment_test.go
Labels: with tests, server-team

#2157 chore(warehouse): refactor db interactions
  warehouse/db.go
  warehouse/warehouse.go
Labels: warehouse-team

#2246 fix: parse JSON error field as a string
  regulation-worker/internal/delete/api/api_test.go
  regulation-worker/internal/delete/api/schema.go
Labels: with tests, server-team

#2241 refactor: use interfaces and common utils for streaming destinations
  mocks/services/streammanager/eventbridge/mock_eventbride.go
  mocks/services/streammanager/firehose/mock_eventbride.go
  mocks/services/streammanager/kinesis/mock_kinesis.go
  mocks/services/streammanager/mock_eventbridge.go
  mocks/services/streammanager/personalize/mock_personalize.go
  router/customdestinationmanager/customdestinationmanager.go
  services/filemanager/fileManager_test.go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
  services/streammanager/common/common.go
  services/streammanager/eventbridge/eventbridgemanager.go
  services/streammanager/eventbridge/eventbridgemanager_test.go
  services/streammanager/firehose/firehosemanager.go
  services/streammanager/firehose/firehosemanager_test.go
  services/streammanager/googlepubsub/googlepubsubmanager.go
  services/streammanager/googlepubsub/googlepubsubmanager_test.go
  services/streammanager/googlesheets/googlesheetsmanager.go
  services/streammanager/googlesheets/googlesheetsmanager_test.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  services/streammanager/kinesis/kinesis_suite_test.go
  services/streammanager/kinesis/kinesismanager.go
  services/streammanager/personalize/personalizamanager_test.go
  services/streammanager/personalize/personalizemanager.go
  services/streammanager/streammanager.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
  utils/googleutils/googleutils.go
  warehouse/bigquery/bigquery_test.go
Labels: with tests, warehouse-team

#2152 test(destination): workload identity support for google destinations
  services/filemanager/gcsmanager.go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
  services/streammanager/googlepubsub/googlepubsubmanager.go
  utils/googleutils/googleutils.go
  warehouse/bigquery/bigquery.go
Labels: testing, with tests, warehouse-team, integrations-team

#2249 chore: fix compilation error after #2152 merge
  services/streammanager/bqstream/bqstreammanager_test.go
Labels: with tests, server-team

#2247 fix: multi_tenant_test.go improvements
  multi_tenant_test.go
  testhelper/etcd/etcd.go
Labels: Ready for Review, with tests, server-team

#2251 chore: propogate s3manager error up
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/s3manager.go
Labels: server-team

#2252 chore: jobsdb query formatting (using %q)
  jobsdb/jobsdb.go
Labels: server-team

#2255 chore(warehouse): revert schemaExist changes to follow statement execution for snowflake
  warehouse/snowflake/snowflake.go
Labels: warehouse-team

#2265 fix: reinstate bugsnag notifications
  utils/misc/misc.go
Labels: server-team

#2236 fix(destination): oauth expired secret type change to json.RawMessage from string
  router/oauthResponseHandler/oauthResponseHandler.go
Labels: server-team, integrations-team

#2263 fix: stream manager logging format string
  services/streammanager/eventbridge/eventbridgemanager.go
  services/streammanager/firehose/firehosemanager.go
  services/streammanager/kinesis/kinesismanager.go
  services/streammanager/personalize/personalizemanager.go
Labels: server-team

#2267 refactor: destination config from interface{} to map[string]interface{}
  go.mod
  services/streammanager/eventbridge/eventbridgemanager.go
  services/streammanager/eventbridge/eventbridgemanager_test.go
  services/streammanager/firehose/firehosemanager.go
  services/streammanager/firehose/firehosemanager_test.go
  services/streammanager/kinesis/kinesis_suite_test.go
  services/streammanager/kinesis/kinesismanager.go
  services/streammanager/personalize/personalizamanager_test.go
  services/streammanager/personalize/personalizemanager.go
  services/streammanager/streammanager.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
Labels: with tests, server-team

#2213 fix: fetch filemanagers timeout from config instead of registering
  config/config_suite_test.go
  jobsdb/jobsdb.go
  mocks/services/filemanager/mock_filemanager.go
  regulation-worker/internal/delete/batch/batch_test.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/fileManager_test.go
  services/filemanager/filemanager.go
  services/filemanager/gcsmanager.go
  services/filemanager/miniomanager.go
  services/filemanager/s3manager.go
  warehouse/archiver.go
  warehouse/configuration_testing/helper.go
  warehouse/configuration_testing/validate.go
  warehouse/redshift/redshift.go
Labels: with tests, warehouse-team

#2214 feat: introduce retention for datasets
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  config/config.yaml
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  jobsdb/unionQuery_test.go
  processor/manager_test.go
Labels: with tests, server-team

#2269 feat: update namespace endpoint according to the latest changes
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  multi_tenant_test.go
Labels: with tests, server-team

#2271 chore: fix flaky test in rsources
  services/rsources/handler_test.go
Labels: with tests, server-team

#2259 fix: backend config auth
  config/backend-config/admin.go
  config/backend-config/backend-config.go
  config/backend-config/backend-config_test.go
  config/backend-config/backend_config_suite_test.go
  config/backend-config/backend_config_test.go
  config/backend-config/mock_workspaceconfig.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/multitenant_workspaces_test.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  docker_test.go
  regulation-worker/cmd/main.go
  regulation-worker/cmd/main_test.go
  regulation-worker/cmd/schema_test.go
  utils/logger/nop.go
Labels: Ready for Review, with tests, server-team

#2226 chore: integrate filemanager into replay
  app/apphandlers/embeddedAppHandler.go
  app/features.go
  enterprise/migrator/migrator.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/fileuploader/s3downloader.go
  enterprise/replay/fileuploader/s3helper.go
  enterprise/replay/fileuploader/s3uploader.go
  enterprise/replay/replay.go
  enterprise/replay/setup.go
  enterprise/replay/sourceWorker.go
Labels: server-team

#2243 fix(warehouse): marshall pg_notifier_queue payload during the time of inserting the data
  services/pgnotifier/pgnotifier.go
  warehouse/upload.go
Labels: Ready for Review, warehouse-team

#2278 chore: fix issues during cleanup
  config/backend-config/backend-config.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/multitenant_workspaces_test.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  router/router.go
Labels: with tests, server-team

#2118 chore(warehouse): event schema performance improvements
  event-schema/counter_manager.go
  event-schema/counter_manager_test.go
  event-schema/event_schema.go
  event-schema/event_schema_suite_test.go
  event-schema/event_schema_test.go
  event-schema/setup.go
  event-schema/testdata/test_input.json
Labels: with tests, server-team

#2281 chore(warehouse): batching clickhouse cluster alter statements
  warehouse/clickhouse/clickhouse_test.go
Labels: with tests, warehouse-team

#2290 chore: fix replay bugs
  app/apphandlers/embeddedAppHandler.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/replay.go
  enterprise/replay/setup.go
  enterprise/replay/sourceWorker.go
  services/filemanager/filemanager.go
  services/filemanager/s3manager.go
  utils/misc/misc.go
Labels: server-team

#2291 chore(warehouse): adding support for random schema generation during Warehouse Integration Tests
  Makefile
  warehouse/bigquery/bigquery_test.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/deltalake/deltalake_test.go
  warehouse/docker-compose.test.yml
  warehouse/mssql/mssql_test.go
  warehouse/postgres/postgres_test.go
  warehouse/redshift/redshift_test.go
  warehouse/snowflake/snowflake_test.go
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/generate-workspace-config/generate-workspace-config.go
  warehouse/testhelper/setup.go
Labels: with tests, warehouse-team

#2258 fix(destination): transformer proxy respond with timeout for slow or unresponsive dests.
  mocks/router/transformer/mock_transformer.go
  router/router.go
  router/transformer/transformer.go
  router/transformer/transformer_test.go
Labels: with tests, server-team, integrations-team

#2115 fix(warehouse): support skipping escaping of reserved keywords
  warehouse/bigquery/bigquery.go
  warehouse/bigquery/bigquery_test.go
  warehouse/clickhouse/clickhouse.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/deltalake/deltalake_test.go
  warehouse/mssql/mssql.go
  warehouse/mssql/mssql_test.go
  warehouse/postgres/postgres.go
  warehouse/postgres/postgres_test.go
  warehouse/redshift/redshift_test.go
  warehouse/snowflake/snowflake.go
  warehouse/snowflake/snowflake_test.go
  warehouse/testhelper/events.go
  warehouse/testhelper/setup.go
Labels: with tests, warehouse-team

#2279 chore: remove result set from router
  router/router.go
  router/router_test.go
  router/types/types.go
Labels: with tests, server-team

#2270 refactor: s3manager to use awsutils for creating session
  services/filemanager/s3manager.go
  services/streammanager/eventbridge/eventbridgemanager.go
  services/streammanager/firehose/firehosemanager.go
  services/streammanager/kinesis/kinesismanager.go
  services/streammanager/personalize/personalizemanager.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
Labels: with tests, server-team

#2177 chore(warehouse): added stats for rudder missing datatypes in warehouse schema
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/deltalake/deltalake.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/snowflake/snowflake.go
  warehouse/utils/utils.go
Labels: warehouse-team

#2295 chore(destination): change dest def name to destType for stats
  router/oauthResponseHandler/oauthResponseHandler.go
  router/router.go
  router/transformer/transformer.go
Labels: server-team, integrations-team

#2276 fix(router): handle transformer in/out inconsistencies
  mocks/router/transformer/mock_transformer.go
  router/admin.go
  router/router.go
  router/transformer/transformer.go
  router/transformer/transformer_test.go
  router/types/types.go
Labels: with tests, server-team

#2304 chore: fix misc master issues
  router/types/types.go
  utils/misc/misc.go
Labels: server-team

#2306 fix: awsutils to support secretAccessKey
  utils/awsutils/session.go
  utils/awsutils/session_test.go
Labels: with tests, server-team

#2250 feat(core): secure customer s3 bucket access for backups using cross-account role
  enterprise/replay/setup.go
  jobsdb/jobsdb.go
  processor/stash/stash.go
  services/archiver/archiver.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/filemanager.go
  services/filemanager/s3manager.go
  warehouse/archiver.go
Labels: warehouse-team

#2282 chore: gateway response code fixes
  event-schema/event_schema_api.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/response/response.go
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
Labels: with tests, server-team

#2299 chore: remove workspaceId tag for free tier customer stats
  services/stats/stats.go
  services/stats/stats_suite_test.go
  services/stats/stats_test.go
Labels: with tests, server-team

#2308 chore(router): fix defect in validating in/out inconsistencies
  router/transformer/transformer.go
  router/transformer/transformer_test.go
Labels: with tests, server-team

#2307 feat: minor changes for namespace config endpoint
  config/backend-config/backend_config_test.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  multi_tenant_test.go
Labels: with tests, server-team

#2305 chore: support for startAfter key for S3
  enterprise/replay/dumpsloader.go
  enterprise/replay/setup.go
  jobsdb/jobsdb_backup_test.go
  mocks/services/filemanager/mock_filemanager.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/batch/batch_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouterBenchmark_test.go
  router/batchrouter/batchrouter_test.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/fileManager_test.go
  services/filemanager/filemanager.go
  services/filemanager/gcsmanager.go
  services/filemanager/miniomanager.go
  services/filemanager/s3manager.go
Labels: with tests, server-team

#2266 fix(warehouse): reset priority if earlier upload is already in progress
  warehouse/warehouse.go
Labels: warehouse-team

#2316 chore: fix RetryWith logic
  utils/misc/retry.go
Labels: server-team

#2300 feat: use different http client timeouts for different components
  config/backend-config/multitenant_workspaces.go
  config/backend-config/namespace_config.go
  config/backend-config/single_workspace.go
  enterprise/reporting/reporting.go
  enterprise/suppress-user/suppressUser.go
  gateway/webhook/setup.go
  processor/processor.go
  processor/transformer/transformer.go
  regulation-worker/cmd/main.go
  router/oauthResponseHandler/oauthResponseHandler.go
  router/router.go
  services/alert/pagerduty.go
  services/alert/victorops.go
  services/debugger/uploader.go
  services/destination-connection-tester/destination_connection_tester.go
Labels: server-team

#2309 fix: group errors swallowed + honouring ctx
  main.go
  services/validators/envValidator.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: Ready for Review, warehouse-team

#2175 chore(warehouse): added merge partition pruning for deltalake changes.
  proto/databricks/databricks.pb.go
  proto/databricks/databricks.proto
  proto/databricks/databricks_grpc.pb.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/configuration_testing/types.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/query_builder.go
  warehouse/docker-compose.test.yml
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/warehouse.go
Labels: Ready for Review, with tests, warehouse-team

#2211 feat(processor): filter unsupported messages (type & event fields)
  .gitignore
  processor/eventfilter/eventfilter.go
  processor/processor.go
  processor/processorBenchmark_test.go
  processor/processor_test.go
  processor/trackingplan.go
  utils/pubsub/pubsub_test.go
Labels: with tests, server-team

#2321 fix(router): trying to stop the router before the generatorLoop is started causes router to hang
  app/cluster/dynamic.go
  app/cluster/integration_test.go
  docker_test.go
  multi_tenant_test.go
  router/router.go
  services/stats/stats_test.go
  testdata/mtGatewayTest01.json
  testhelper/destination/minio.go
  testhelper/destination/transformer.go
Labels: with tests, server-team

#2332 fix(warehouse): added initialization for datalake
  main.go
Labels: server-team

#2331 chore: fix misspell
  enterprise/reporting/reporting.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/identity/identity.go
  warehouse/mssql/mssql.go
  warehouse/testhelper/setup.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: warehouse-team

#2334 chore(warehouse): update errorMap for deltalake partition query
  warehouse/deltalake/deltalake.go
Labels: warehouse-team

#2333 fix(jobsdb): report correct table count metrics from gateway writer
  jobsdb/jobsdb.go
Labels: server-team

#2348 fix(warehouse): upload validations should happen when validator is set
  warehouse/upload.go
Labels: warehouse-team

#2346 chore: remove build tags from tests
  .github/workflows/tests.yaml
  Makefile
  app/cluster/integration_test.go
  docker_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_suite_test.go
  jobsdb/readonly_jobsdb_test.go
Labels: with tests, server-team

#2329 fix(router): event ordering algorithm with proper aborted job limiting support
  admin/admin.go
  config/backend-config/single_workspace.go
  eventorder_test.go
  main.go
  router/admin.go
  router/router.go
  services/multitenant/tenantstats.go
  testdata/eventOrderTestTemplate.json
Labels: with tests, server-team

#2350 chore: remove build tag from test
  eventorder_test.go
Labels: with tests, server-team

#2335 fix: remove anti pattern issues
  .deepsource.toml
  enterprise/migrator/export.go
  enterprise/migrator/failedKeysMigrator.go
  enterprise/migrator/import.go
  enterprise/migrator/setup.go
  enterprise/pathfinder/pathfinder.go
  enterprise/reporting/config_noop_test.go
  enterprise/reporting/reporting.go
  enterprise/suppress-user/suppressUser.go
  event-schema/event_schema.go
  event-schema/event_schema_api.go
  gateway/gateway_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  processor/transformer/transformer.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/batch/batch_test.go
  router/destinationReponseHandler.go
  services/archiver/tablearchiver/tablearchiver.go
  services/db/embeddedRecovery.go
  services/db/nullRecovery.go
  services/db/recovery.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/fileManager_test.go
  services/pgnotifier/pgnotifier.go
  services/sql-migrator/migrations_vfsdata.go
  utils/misc/misc.go
  warehouse/api.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/client/client.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/deltalake/deltalake.go
  warehouse/identity/identity.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/redshift/redshift_test.go
  warehouse/scheduling.go
  warehouse/snowflake/snowflake.go
  warehouse/upload.go
  warehouse/utils/csvReader.go
  warehouse/utils/jsonReader.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2352 chore: fix lint errors in test
  eventorder_test.go
Labels: with tests, server-team

#2315 feat: add support for sending custom payload to webhook source
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
  gateway/webhook/webhook_test.go
  mocks/gateway/webhook/mock_webhook.go
Labels: with tests, server-team

#2324 feat: perform ADD_DS operation in a single transaction
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
Labels: with tests, server-team
