Repository rudderlabs/rudder-server, pull requests merged in 2022-03, with the labels that each got.

#1722 Wh instamart gcs issue
  services/filemanager/gcsmanager.go
Labels: WIP

#1723 Wh instamart gcs issue
  services/filemanager/gcsmanager.go
Labels: Ready for Review

#1706 Added column count support per warehouse destination.
  warehouse/upload.go
  warehouse/warehouse.go
Labels: Ready for Review

#1613 Wh clickhouse cluster extented
  docker_test.go
  main.go
  testhelper/warehouse/clickhouse-cluster.go
Labels: Ready for Review

#1761 Warehouse - hasSchemaChanged fix
  warehouse/schema.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: Ready for Review

#1753 Wh hostedsted max connections
  warehouse/warehouse.go
Labels: Ready for Review

#1738 Feat: Warehouse destination validations
  app/apphandlers/setup.go
  main.go
  mocks/services/filemanager/mock_filemanager.go
  processor/integrations/integrations.go
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse.proto
  proto/warehouse/warehouse_grpc.pb.go
  regulation-worker/internal/delete/batch/batch_test.go
  router/batchrouter/batchrouter.go
  services/destination-connection-tester/destination_connection_tester.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/filemanager.go
  services/filemanager/gcsmanager.go
  services/filemanager/miniomanager.go
  services/filemanager/s3manager.go
  warehouse/admin.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/client/client.go
  warehouse/configuration_testing/configuration_testing.go
  warehouse/configuration_testing/helper.go
  warehouse/configuration_testing/query.go
  warehouse/configuration_testing/steps.go
  warehouse/configuration_testing/types.go
  warehouse/configuration_testing/validate.go
  warehouse/constraint.go
  warehouse/datalake/datalake.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/deltalake/deltalake.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/snowflake/snowflake.go
  warehouse/upload.go
  warehouse/utils/eventReader.go
  warehouse/utils/parquetWriter.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
  warehouse/warehousegrpc.go
Labels: Ready for Review

#1784 wh: pendingEvents: handle null values while querying for max(end_stag…
  warehouse/warehouse.go
Labels: ready to merge

#1736 Capture pending-events metrics and publish to StatsD/InfluxDB
  admin/admin.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  config/config.go
  gateway/admin.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_utils.go
  jobsdb/unionQueryLegacy.go
  main.go
  mocks/services/multitenant/mock_tenantstats.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/admin.go
  router/admin.go
  router/batchrouter/batchrouter.go
  router/router.go
  router/router_test.go
  router/utils/utils.go
  services/metric/counter.go
  services/metric/counter_test.go
  services/metric/ewma.go
  services/metric/gauge.go
  services/metric/gauge_test.go
  services/metric/manager.go
  services/metric/measurement.go
  services/metric/registry.go
  services/metric/registry_test.go
  services/multitenant/noop.go
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
  services/stats/metricStatsCollector.go
  services/stats/stats.go
  utils/misc/misc.go
Labels: Ready for Review
