Repository rudderlabs/rudder-server, pull requests merged in 2022-11, with the labels that each got.

#2617 chore(warehouse): fix log level of async jobs
  warehouse/jobs/runner.go
Labels: warehouse-team

#2515 feat(warehouse): added base support for s3 datalake deletion as part of regulation API.
  go.mod
  regulation-worker/cmd/main.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/batch/batch_test.go
  regulation-worker/internal/delete/batch/filehandler/gzip.go
  regulation-worker/internal/delete/batch/filehandler/gzip_test.go
  regulation-worker/internal/delete/batch/filehandler/local_file.go
  regulation-worker/internal/delete/batch/filehandler/parquet.go
  regulation-worker/internal/delete/batch/filehandler/parquet_test.go
  regulation-worker/internal/delete/batch/filehandler/testdata/expected_test_tracks_filtered.json.gz
  regulation-worker/internal/delete/batch/filehandler/testdata/expected_test_tracks_filtered.parquet
  regulation-worker/internal/delete/batch/filehandler/testdata/test_tracks.json.gz
  regulation-worker/internal/delete/batch/filehandler/testdata/test_tracks.parquet
  regulation-worker/internal/delete/batch/goldenFile/original100.json.gz
  regulation-worker/internal/delete/batch/goldenFile/test/original101.json.gz
  regulation-worker/internal/delete/batch/s3.go
  regulation-worker/internal/delete/delete.go
  regulation-worker/internal/service/looper.go
  regulation-worker/internal/service/service.go
  services/filemanager/filemanager.go
Labels: with tests, server-team

#2635 chore: upgrade GO version to 1.19
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  .golangci.yml
  Dockerfile
  build/Dockerfile-warehouse-integration
  go.mod
  proto/common/dpauth.pb.go
Labels: server-team

#2625 feat: support for config to custom destinations
  processor/integrations/integrations.go
  processor/processor.go
  processor/processor_test.go
  utils/misc/misc.go
Labels: Ready for Review, with tests, server-team

#2640 Exp.distributed throttling
  go.mod
  go.sum
  router/router.go
  router/throttler/throttler.go
Labels: server-team

#2622 feat: adding metadata in the proxy request
  router/router.go
  router/transformer/transformer.go
  router/transformer/transformer_test.go
  router/types/types.go
Labels: Ready for Review, with tests, server-team, integrations-team

#2641 fix: golangci-lint issues
  processor/processor_test.go
Labels: with tests, server-team

#2645 fix: use sum64 to avoid checkptr race bug
  services/pgnotifier/pgnotifier.go
Labels: server-team

#2638 feat(warehouse): unrecognized schema in warehouse
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/datalake/datalake.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/datalake/schema-repository/local.go
  warehouse/datalake/schema-repository/schema-repository.go
  warehouse/deltalake/deltalake.go
  warehouse/identities.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/schema.go
  warehouse/snowflake/snowflake.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
Labels: warehouse-team

#2637 fix: send router transform failures to live events
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#2644 fix: remove gateway db write panic
  gateway/gateway.go
  gateway/response/response.go
Labels: server-team

#2649 chore: use WriteTimeout instead of Gateway.pendingEventsQueryTimeout
  gateway/gateway.go
Labels: server-team

#2651 chore(warehouse): add user transformer url env
  processor/integrations/integrations.go
Labels: server-team

#2549 chore: backup support for new multitenant system
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  config/backend-config/types.go
  enterprise/reporting/setup_test.go
  jobsdb/backup.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  jobsdb/testdata/MultiWorkspaceBackupJobs.json.gz
  jobsdb/testdata/MultiWorkspaceBackupStatus.json.gz
  jobsdb/unionQuery_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  processor/stash/stash_test.go
  services/fileuploader/fileuploader.go
  services/fileuploader/fileuploader_test.go
  services/fileuploader/gzwriter.go
  services/fileuploader/gzwriter_test.go
Labels: with tests, server-team

#2652 fix: changed query to accept user input in prepared sql statement
  warehouse/warehouse.go
Labels: warehouse-team

#2653 chore: fix replay bugs
  enterprise/replay/dumpsloader.go
  enterprise/replay/setup.go
  enterprise/replay/sourceWorker.go
  services/filemanager/filemanager.go
  utils/misc/misc.go
Labels: server-team

#2650 chore: rsources flaky test - start services before all
  Makefile
  codecov.yml
  services/rsources/handler_test.go
Labels: with tests, server-team

#2655 feat: support reporting pii filter based on config backend
  config/backend-config/types.go
  config/config.yaml
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_test.go
  mocks/utils/types/mock_types.go
  utils/types/types.go
Labels: with tests, server-team

#2569 feat: support initialisation of producer without topic for kafka, azure event hub and confluent cloud
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/client/producer.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: Ready for Review, with tests, server-team

#2659 fix: use proper status code to handle warehouse process
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
Labels: with tests, server-team

#2663 fix: properly escape table name when querying for failed events
  router/failed-events-manager.go
Labels: server-team

#2662 fix: gcs manager cancels context
  services/filemanager/gcsmanager.go
Labels: server-team

#2661 fix: preferences should be false incase of invalid bucket
  services/fileuploader/fileuploader.go
  services/fileuploader/fileuploader_test.go
Labels: with tests, server-team

#2664 fix: always use a sql safe table name in failed events manager
  router/failed-events-manager.go
Labels: server-team

#2667 fix: use enterprise token from env as fallback
  integration_test/docker_test/docker_test.go
  main.go
Labels: with tests, server-team

#2627 feat(warehouse): degraded workspace id
  warehouse/api.go
  warehouse/archive/archiver.go
  warehouse/archive/archiver_test.go
  warehouse/archive/cron.go
  warehouse/archive/testdata/dump.sql
  warehouse/archive/testdata/storage.json
  warehouse/archiver_test.go
  warehouse/identities.go
  warehouse/model/upload.go
  warehouse/multitenant/manager.go
  warehouse/multitenant/manager_test.go
  warehouse/retry.go
  warehouse/stats_test.go
  warehouse/table_upload.go
  warehouse/table_upload_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#2657 chore: regulation worker avoid panic in case of timeout
  regulation-worker/cmd/main.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/client/client_test.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/model/model.go
  regulation-worker/internal/service/looper.go
  regulation-worker/internal/service/service.go
Labels: with tests, server-team

#2670 test: using arm64 compatible images if necessary
  integration_test/docker_test/docker_test.go
  integration_test/multi_tentant_test/multi_tenant_test.go
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/kafkamanager_test.go
  testhelper/destination/kafka.go
  testhelper/etcd/etcd.go
Labels: with tests, server-team

#2675 fix(destination): empty oauth account check
  router/router.go
Labels: server-team, integrations-team

#2676 fix(warehouse): id resolution index issue
  warehouse/bigquery/bigquery.go
  warehouse/bigquery/bigquery_test.go
  warehouse/identities.go
  warehouse/testhelper/.env
Labels: with tests, warehouse-team

#2678 fix: close init after assigning storage settings
  processor/stash/stash.go
  processor/stash/stash_test.go
  services/fileuploader/fileuploader.go
Labels: with tests, server-team

#2683 fix: take workpaceid from config backend key
  services/fileuploader/fileuploader.go
Labels: server-team

#2642 chore: add source to event_delivery metric
  router/batchrouter/batchrouter.go
  router/router.go
Labels: server-team

#2686 chore: use bugsnag in router and processor goroutines
  processor/processor.go
  router/router.go
Labels: server-team

#2656 doc: create SECURITY.md
  SECURITY.md
Labels: documentation

#2648 chore: by default enable max concurrent gw request limit.
  gateway/configuration.go
Labels: server-team

#2679 feat(warehouse): added support for bigquery custom partition for workspaceIDs
  config/load.go
  go.mod
  go.sum
  warehouse/bigquery/bigquery.go
  warehouse/bigquery/bigquery_test.go
Labels: with tests, warehouse-team

#2598 chore(warehouse): use fastUUID with google UUID generation
  services/pgnotifier/pgnotifier.go
  warehouse/bigquery/bigquery_source_test.go
  warehouse/bigquery/bigquery_test.go
  warehouse/constraint.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/deltalake_test.go
  warehouse/identity/identity.go
  warehouse/redshift/redshift.go
  warehouse/redshift/redshift_source_test.go
  warehouse/slave.go
  warehouse/snowflake/snowflake_source_test.go
  warehouse/testhelper/setup.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/validations/helper.go
  warehouse/validations/validate.go
Labels: Ready for Review, with tests, warehouse-team

#2697 fix(warehouse): warehouse archiver initialize
  runner/runner.go
Labels: server-team

#2698 fix: capture router's iterator stats after iteration is complete
  router/router.go
Labels: server-team

#2654 chore(warehouse): handle schema change
  warehouse/errors.go
  warehouse/model/schema.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave.go
Labels: Ready for Review, with tests, warehouse-team

#2706 fix: use local variable for workspaceId in stash backup
  processor/stash/stash.go
Labels: server-team

#2712 fix: aws role session name
  utils/awsutils/session.go
Labels: server-team

#2711 fix: batch router event delivery time
  router/batchrouter/batchrouter.go
Labels: server-team

#2680 chore: fixing a flaky rsources test
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/rsources.go
  testhelper/log/log.go
Labels: with tests, server-team

#2710 fix: incorrect stats captured at gateway
  gateway/gateway.go
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  mocks/gateway/webhook/mock_webhook.go
Labels: server-team

#2703 chore: data residency adaptations
  config/backend-config/backend-config.go
  config/backend-config/backend_config_test.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  controlplane/auth.go
  proto/common/dpauth.pb.go
  proto/common/dpauth.proto
  warehouse/api.go
Labels: with tests, warehouse-team

#2693 chore(jobsdb): latest job status query optimization
  jobsdb/jobsdb.go
  jobsdb/readonly_jobsdb.go
  jobsdb/unionQuery.go
  sql/migrations/jobsdb/000010_add_index_job_status_table.down.tmpl
  sql/migrations/jobsdb/000010_add_index_job_status_table.up.tmpl
  sql/migrations/node/000008_unionjobsdb_fn.down.sql
  sql/migrations/node/000008_unionjobsdb_fn.up.sql
Labels: server-team

#2619 feat: support using badgerDB as a repository for data regulation suppressions
  app/app.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/features.go
  enterprise/config-env/configEnv.go
  enterprise/config-env/setup.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/replay.go
  enterprise/replay/setup.go
  enterprise/replay/sourceWorker.go
  enterprise/reporting/reporting.go
  enterprise/reporting/setup.go
  enterprise/suppress-user/factory.go
  enterprise/suppress-user/handler.go
  enterprise/suppress-user/handler_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_backup_bench_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_repo_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  enterprise/suppress-user/internal/memory/memory.go
  enterprise/suppress-user/internal/memory/memory_repo_test.go
  enterprise/suppress-user/internal/repotest/repotest.go
  enterprise/suppress-user/model/model.go
  enterprise/suppress-user/repository.go
  enterprise/suppress-user/repository_bench_test.go
  enterprise/suppress-user/setup.go
  enterprise/suppress-user/suppressUser.go
  enterprise/suppress-user/suppressUser_test.go
  enterprise/suppress-user/suppress_user_test.go
  enterprise/suppress-user/syncer.go
  enterprise/suppress-user/syncer_test.go
  gateway/gateway.go
  gateway/gateway_test.go
  go.mod
  go.sum
  mocks/app/mock_features.go
  processor/processor_test.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
Labels: with tests, server-team

#2702 chore: use azure-sql image with m1 compatible healthcheck
  warehouse/docker-compose.test.yml
Labels: warehouse-team

#2720 fix(warehouse): use correct config for columns batch size
  warehouse/bigquery/bigquery.go
  warehouse/upload.go
Labels: warehouse-team

#2729 fix: init jobsdb logger at the right place
  jobsdb/jobsdb.go
Labels: server-team

#2632 feat: regulation api support for Universal Analytics
  mocks/services/oauth/mock_oauth.go
  regulation-worker/cmd/main.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/api/api_test.go
  regulation-worker/internal/delete/api/schema.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/batch/batch_test.go
  regulation-worker/internal/delete/delete.go
  regulation-worker/internal/delete/delete_test.go
  regulation-worker/internal/delete/kvstore/kvstore.go
  regulation-worker/internal/delete/kvstore/kvstore_test.go
  regulation-worker/internal/delete/mock_delete_test.go
  regulation-worker/internal/destination/destination.go
  regulation-worker/internal/model/model.go
  router/router.go
  router/utils/utils.go
  runner/runner.go
  services/oauth/oauth.go
Labels: with tests, server-team, integrations-team

#2691 refactor: introduce api & repo components
  warehouse/api.go
  warehouse/archive/archiver.go
  warehouse/archive/archiver_test.go
  warehouse/identities.go
  warehouse/internal/api/http.go
  warehouse/internal/api/http_test.go
  warehouse/internal/api/testdata/process_request.json
  warehouse/internal/api/testdata/process_request_missing_schema.json
  warehouse/internal/model/schema.go
  warehouse/internal/model/staging.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/retry.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave.go
  warehouse/table_upload.go
  warehouse/types.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2724 chore: add workspaceid label to router aborted events
  router/router.go
Labels: server-team

#2731 fix(warehouse): deepsource fix for use of empty error string in errors.New
  warehouse/upload_test.go
Labels: with tests, warehouse-team

#2721 fix(warehouse): increase async job timeout
  warehouse/jobs/handlers.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/warehouse.go
Labels: warehouse-team

#2737 fix: jobsdb schema migration not performed against all datasets
  jobsdb/setup.go
Labels: server-team

#2688 chore: compact status tables before proceeding with migration
  jobsdb/backup.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/migration.go
  jobsdb/migration_test.go
Labels: with tests, server-team

#2734 refactor: safe database initialisation and schema migration during startup
  app/apphandlers/apphandlers_test.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  config/mode.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/readonly_jobsdb.go
  runner/runner.go
  runner/runner_test.go
  runner/testdata/config.json
  services/db/embeddedRecovery.go
  services/db/nullRecovery.go
  services/db/recovery.go
  services/validators/envValidator.go
  utils/misc/misc.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2732 fix(warehouse): syncs issues
  warehouse/api.go
  warehouse/warehousegrpc.go
Labels: warehouse-team

#2671 fix: no timezone while parsing
  enterprise/replay/dumpsloader.go
  enterprise/replay/sourceWorker.go
  utils/misc/misc.go
Labels: server-team

#2730 fix: regulation-worker changes for oauth destinations
  regulation-worker/cmd/main.go
  regulation-worker/internal/delete/api/api.go
  services/oauth/oauth.go
Labels: server-team, integrations-team

#2735 chore: introduce in-memory stats for testing
  services/stats/memstats/stats.go
  services/stats/memstats/stats_test.go
Labels: with tests, server-team

#2740 fix: warehouse sync job queries for snowflake and bigquery
  warehouse/bigquery/bigquery.go
  warehouse/jobs/handlers.go
  warehouse/jobs/utils.go
  warehouse/snowflake/snowflake.go
Labels: Ready for Review, warehouse-team

#2741 feat: add support for request payloads using gzip content-encoding
  gateway/gateway.go
  middleware/uncompress.go
  middleware/uncompress_test.go
  router/eventorder_test.go
Labels: with tests, server-team

#2743 chore: regression while starting a standalone warehouse slave
  warehouse/warehouse.go
Labels: warehouse-team

#2745 chore: set max connections to readonly jobsdbs
  jobsdb/readonly_jobsdb.go
Labels: server-team

#2742 chore: enhance transformer error with more metadata
  processor/transformer/transformer.go
Labels: server-team

#2744 fix(destination): delete users support add test-cases and better error strings
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/api/api_test.go
Labels: with tests, server-team, integrations-team

#2723 feat(warehouse): added support for warehouse column count limit
  warehouse/identities.go
  warehouse/slave.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/warehouse.go
Labels: Ready for Review, with tests, warehouse-team

#2738 fix: metadata in event_schema table has TotalCount which exceeds 32bit integer limits
  event-schema/event_schema.go
Labels: server-team
