Repository rudderlabs/rudder-server, pull requests merged in 2022-10, with the labels that each got.

#2504 chore: kafka cloud platform CI integration
  .github/workflows/tests.yaml
  services/streammanager/kafka/client/client.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: Ready for Review, with tests, server-team

#2501 test(warehouse): added integration test for snowflake case-sensitive database
  warehouse/snowflake/snowflake_test.go
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/setup.go
Labels: Ready for Review, with tests, warehouse-team

#2493 chore: warehouse lint
  .deepsource.toml
  .golangci.yml
  README.md
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/deltalake/deltalake.go
  warehouse/mssql/mssql.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: warehouse-team

#2460 test(warehouse): pump more test for warehouse module
  warehouse/api.go
  warehouse/archiver.go
  warehouse/archiver_test.go
  warehouse/constraint_test.go
  warehouse/db_test.go
  warehouse/retry.go
  warehouse/scheduling_test.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave_test.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/table_upload_test.go
  warehouse/testdata/sql/1.sql
  warehouse/testdata/sql/2.sql
  warehouse/testdata/sql/3.sql
  warehouse/testdata/sql/4.sql
  warehouse/testdata/sql/5.sql
  warehouse/upload_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
  warehouse/warehousegrpc.go
  warehouse/warehousegrpc_test.go
Labels: Ready for Review, with tests, warehouse-team

#2505 refactor(jobsdb): introduce context aware mutex locks, transactional migrations & cancelable maintenance operations
  eventorder_test.go
  gateway/gateway.go
  gateway/gateway_test.go
  go.mod
  go.sum
  jobsdb/internal/lock/lock.go
  jobsdb/internal/lock/lock_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  jobsdb/setup.go
  jobsdb/unionQuery.go
  mocks/jobsdb/mock_jobsdb.go
  mocks/jobsdb/mock_unionQuery.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#2225 fix(core): cache backend config and block processor
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  config/backend-config/admin.go
  config/backend-config/backend-config.go
  config/backend-config/backend_config_test.go
  config/backend-config/internal/cache/cache.go
  config/backend-config/internal/cache/mock_cache.go
  config/backend-config/mock_workspaceconfig.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  config/backend-config/noop.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  enterprise/reporting/reporting.go
  enterprise/suppress-user/setup.go
  event-schema/event_schema.go
  gateway/admin.go
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/jobsdb.go
  jobsdb/readonly_jobsdb.go
  jobsdb/setup.go
  mocks/config/backend-config/mock_backendconfig.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/admin.go
  processor/transformer/transformer.go
  processor/transformer/transformer_test.go
  regulation-worker/internal/destination/destination.go
  regulation-worker/internal/destination/destination_test.go
  regulation-worker/internal/destination/mock_destination_test.go
  router/admin.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/customdestinationmanager/customdestinationmanager.go
  router/failed-events-manager.go
  router/manager/manager.go
  router/manager/manager_test.go
  router/router.go
  router/router_test.go
  services/controlplane/identity/identity.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/transformation/transformationStatusUploader.go
  services/filemanager/filemanager.go
  services/sql-migrator/migrations_vfsdata.go
  services/transientsource/transientsource.go
  services/transientsource/transientsource_test.go
  services/validators/envValidator.go
  sql/migrations/config_cache/000001_init_schema.down.sql
  sql/migrations/config_cache/000001_init_schema.up.sql
  testdata/eventOrderTestTemplate.json
  testdata/workspaceConfigTemplate.json
  utils/misc/dbutils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2531 chore: include matched template path in gateway's request metrics
  gateway/gateway.go
  middleware/middleware.go
Labels: server-team

#2533 refactor: reduce the warehouse slave payload
  warehouse/slave.go
  warehouse/types.go
  warehouse/upload.go
Labels: warehouse-team

#2519 feat: add support for role based auth flag
  utils/awsutils/session.go
  utils/awsutils/session_test.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#2512 refactor: dataset index calculation
  jobsdb/internal/dsindex/dsindex.go
  jobsdb/internal/dsindex/dsindex_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
Labels: with tests, server-team

#2535 chore: simplify migrations using go's embed fs
  Makefile
  cmd/generate-migrations/generate-sql-migrations.go
  go.mod
  go.sum
  services/sql-migrator/data-dev.go
  services/sql-migrator/migrations_vfsdata.go
  services/sql-migrator/migrator.go
  services/sql-migrator/migrator_test.go
  sql/migrations/embed.go
  sql/migrations/embed_test.go
Labels: with tests, server-team

#2514 feat(destination): add new tags to router-aborted-count alert definition
  router/router.go
  router/utils/utils.go
Labels: server-team

#2540 chore(warehouse): format warehouse queries
  services/pgnotifier/pgnotifier.go
  warehouse/admin.go
  warehouse/api.go
  warehouse/archiver.go
  warehouse/db.go
  warehouse/identities.go
  warehouse/identity/identity.go
  warehouse/query_builder.go
  warehouse/scheduling.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/staging_file.go
  warehouse/table_upload.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: Ready for Review, warehouse-team

#2523 feat(warehouse): introduce workspace id in warehouse
  router/batchrouter/batchrouter.go
  sql/migrations/warehouse/000015_add_wh_uploads_workspace_id.up.sql
  sql/migrations/warehouse/000016_add_wh_stage_files_workspace_id.up.sql
  warehouse/admin.go
  warehouse/api.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/configuration_testing/helper.go
  warehouse/configuration_testing/types.go
  warehouse/datalake/datalake.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/datalake/schema-repository/local.go
  warehouse/datalake/schema-repository/schema-repository.go
  warehouse/deltalake/deltalake.go
  warehouse/identities.go
  warehouse/identity/identity.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/scheduling.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave.go
  warehouse/slave_test.go
  warehouse/snowflake/snowflake.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/table_upload_test.go
  warehouse/types.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/warehouse.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#2319 feat: warehouse_jobs support for async warehouse jobs
  Makefile
  gateway/gateway.go
  services/pgnotifier/pgnotifier.go
  sql/migrations/pg_notifier_queue/0000004_pg_notifier_queue_add_jobtype.down.sql
  sql/migrations/pg_notifier_queue/0000004_pg_notifier_queue_add_jobtype.up.sql
  sql/migrations/warehouse/000017_add_wh_async_jobs.up.sql
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/bigquery/bigquery_source_test.go
  warehouse/bigquery/bigquery_test.go
  warehouse/clickhouse/clickhouse.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/datalake/datalake.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/deltalake_test.go
  warehouse/jobs/handlers.go
  warehouse/jobs/jobs.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/jobs/utils_test.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/mssql/mssql_source_test.go
  warehouse/mssql/mssql_test.go
  warehouse/postgres/postgres.go
  warehouse/postgres/postgres_source_test.go
  warehouse/postgres/postgres_test.go
  warehouse/redshift/redshift.go
  warehouse/redshift/redshift_source_test.go
  warehouse/redshift/redshift_test.go
  warehouse/slave.go
  warehouse/snowflake/snowflake.go
  warehouse/snowflake/snowflake_source_test.go
  warehouse/snowflake/snowflake_test.go
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/events.go
  warehouse/testhelper/setup.go
  warehouse/upload.go
  warehouse/utils/error.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2440 chore(warehouse): validate object storage credentials
  go.mod
  go.sum
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse.proto
  proto/warehouse/warehouse_grpc.pb.go
  services/filemanager/filemanager.go
  warehouse/api.go
  warehouse/api_test.go
  warehouse/configuration_testing/validate.go
  warehouse/errors.go
  warehouse/warehousegrpc.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#2545 feat(warehouse): added warehouse features
  info/features.go
Labels: Ready for Review, server-team

#2538 test(warehouse): add coverage for warehouse configuration validations
  main.go
  warehouse/admin.go
  warehouse/api.go
  warehouse/identities.go
  warehouse/jobs/types.go
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/setup.go
  warehouse/upload.go
  warehouse/validations/helper.go
  warehouse/validations/steps.go
  warehouse/validations/steps_test.go
  warehouse/validations/types.go
  warehouse/validations/validate.go
  warehouse/validations/validations.go
  warehouse/validations/validations_suite_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
  warehouse/warehousegrpc.go
  warehouse/warehousegrpc_test.go
Labels: Ready for Review, with tests, warehouse-team

#2529 refactor(warehouse): utility for staging table name and some refactoring
  warehouse/archiver.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/query_builder.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/postgres/query_builder.go
  warehouse/redshift/redshift.go
  warehouse/snowflake/snowflake.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
Labels: Ready for Review, with tests, warehouse-team

#2547 chore: fix error log defect in processor's transformer
  processor/transformer/transformer.go
Labels: server-team

#2430 chore: add reason tag in failed requests and failed events stats
  gateway/gateway.go
  main.go
Labels: server-team

#2537 chore: fix defect and use noCache if database setup fails during cache.Start
  config/backend-config/backend-config.go
  config/backend-config/backend_config_test.go
  config/backend-config/internal/cache/cache.go
Labels: with tests, server-team

#2550 fix: silent backup ds drop
  jobsdb/jobsdb.go
Labels: server-team

#2543 feat(warehouse): timeout during warehouse table count
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/datalake/datalake.go
  warehouse/deltalake/deltalake.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/snowflake/snowflake.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: Ready for Review, warehouse-team

#2518 feat(warehouse): skipping scanning the entire table for duplicates in redshift
  warehouse/redshift/redshift.go
  warehouse/redshift/redshift_test.go
Labels: Ready for Review, with tests, warehouse-team

#2462 chore: add resource tags in metrics
  router/router.go
Labels: server-team

#2551 chore(warehouse): bigquery handler restructuring
  warehouse/bigquery/bigquery.go
Labels: Ready for Review, warehouse-team

#2556 fix(warehouse): typo with fetch schema for bigquery
  warehouse/bigquery/bigquery.go
Labels: warehouse-team

#2546 fix(router): preserve event order while draining a previously failed job
  eventorder_test.go
  router/internal/eventorder/eventorder.go
  router/internal/eventorder/eventorder_simulation_test.go
  router/internal/eventorder/eventorder_test.go
  router/router.go
  router/router_test.go
  router/utils/utils.go
  testdata/eventOrderTestTemplate.json
  warehouse/api.go
  warehouse/jobs/runner.go
Labels: with tests, warehouse-team

#2557 chore: minor error message change
  warehouse/api.go
  warehouse/errors.go
  warehouse/warehousegrpc.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#2555 chore: excluding destId tag for free customers
  main.go
Labels: server-team

#2554 fix: to prevent migration of tables every loop after maxdsretention is passed
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/testdata/backupJobs.json.gz
  jobsdb/testdata/backupStatus.json.gz
  processor/processor.go
Labels: with tests, server-team

#2561 chore: cleanup unused code
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/setup.go
  jobsdb/jobsdb_utils.go
  jobsdb/readonly_jobsdb.go
  jobsdb/setup.go
  processor/processor.go
  router/router.go
Labels: server-team

#2565 chore: adding log entry to multi tenant test
  go.mod
  multi_tenant_test.go
Labels: with tests, server-team

#2367 feat(destination): bqstream - add support for batch of properties
  mocks/services/streammanager/bqstream/mock_bqstream.go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
Labels: with tests, server-team

#2559 refactor: internal migration in postgres
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
Labels: with tests, server-team

#2567 fix(jobsdb): update cache after transaction completes
  gateway/gateway.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  mocks/jobsdb/mock_jobsdb.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter.go
  router/router.go
Labels: with tests, server-team

#2575 chore(jobsdb): use a different advisory lock for different table prefixes
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  utils/misc/dbutils.go
Labels: with tests, server-team

#2553 chore: improve grpc tooling and upgrade setup-go to v3
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  Makefile
  go.mod
  go.sum
  proto/common/dpauth.pb.go
  proto/common/dpauth_grpc.pb.go
  proto/databricks/databricks.pb.go
  proto/databricks/databricks_grpc.pb.go
  proto/databricks/version.pb.go
  proto/databricks/version_grpc.pb.go
  proto/rudder-sources/rudder-sources.pb.go
  proto/rudder-sources/rudder-sources_grpc.pb.go
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse_grpc.pb.go
Labels: server-team

#2582 fix: router destinationsMap access
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#2583 fix(jobsdb): race - repeat job count calculation after acquiring migration lock
  jobsdb/jobsdb.go
Labels: server-team

#2585 chore: applying 1.2.2 hotfixes to main branch
  CHANGELOG.md
  jobsdb/jobsdb.go
Labels: server-team

#2590 fix(warehouse): Remove bad unlock
  warehouse/identities.go
Labels: warehouse-team

#2592 fix(warehouse): read unlock in historic identities
  warehouse/identities.go
Labels: warehouse-team

#2593 fix: only close response body in oauth handler in case of no error
  router/oauthResponseHandler/oauthResponseHandler.go
Labels: server-team

#2597 chore: applying 1.2.4 hotfixes to main branch
  CHANGELOG.md
  services/pgnotifier/pgnotifier.go
Labels: server-team

#2589 chore: fix defect with router destinations map access event order
  router/router.go
Labels: server-team

#2594 fix: don't ignore stats middleware template path calculation
  gateway/gateway.go
  middleware/middleware.go
  middleware/middleware_test.go
Labels: with tests, server-team

#2568 chore(warehouse): warehouse formatting changes
  warehouse/api.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/datalake/schema-repository/local.go
  warehouse/deltalake/query_builder.go
  warehouse/identities.go
  warehouse/identity/identity.go
  warehouse/jobs/handlers.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/scheduling.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/snowflake/snowflake.go
  warehouse/stats.go
  warehouse/testhelper/setup.go
  warehouse/upload.go
  warehouse/utils/csvLoader.go
  warehouse/utils/eventLoader.go
  warehouse/utils/eventReader.go
  warehouse/utils/jsonLoader.go
  warehouse/utils/parquetLoader.go
  warehouse/utils/parquetWriter.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: Ready for Review, warehouse-team

#2542 chore: added status table cleanup logic before backup with code refactor
  jobsdb/backup.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
Labels: with tests, server-team

#2611 fix: page size fixed irrespectiveof suppressAPIToken
  enterprise/suppress-user/suppressUser.go
Labels: server-team

#2615 test(warehouse): verify workspace ID in stats
  go.mod
  go.sum
  warehouse/archiver.go
  warehouse/bigquery/bigquery_test.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/datalake/datalake_test.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/deltalake_test.go
  warehouse/docker-compose.test.yml
  warehouse/mssql/mssql_test.go
  warehouse/postgres/postgres.go
  warehouse/postgres/postgres_test.go
  warehouse/redshift/redshift_test.go
  warehouse/snowflake/snowflake_test.go
  warehouse/stats.go
  warehouse/testhelper/.env
  warehouse/testhelper/setup.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2612 chore: cleanup unused/obsolete code
  jobsdb/unionQuery.go
  services/db/nullRecovery.go
  services/db/recovery.go
  services/multitenant/noop.go
Labels: server-team

#2579 chore: address snyk vulnerabilities
  cmd/devtool/commands/webhook.go
  go.mod
  go.sum
  services/streammanager/streammanager_suite_test.go
Labels: with tests, server-team

#2521 fix: jobsDB backup query time
  jobsdb/jobsdb.go
Labels: server-team

#2626 chore: modified statsMiddleware to be generic
  gateway/gateway.go
  middleware/middleware.go
  middleware/middleware_test.go
Labels: with tests, server-team

#2484 feat(warehouse): batching of alter add statements
  warehouse/azure-synapse/azure-synapse.go
  warehouse/azure-synapse/azure_synapse_suite_test.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/constraint.go
  warehouse/datalake/datalake.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/datalake/schema-repository/local.go
  warehouse/datalake/schema-repository/schema-repository.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/query_builder.go
  warehouse/manager/manager.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/postgres/query_builder.go
  warehouse/redshift/redshift.go
  warehouse/slave.go
  warehouse/snowflake/snowflake.go
  warehouse/types.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
Labels: Ready for Review, with tests, warehouse-team

#2631 fix(batchrouter): concurrent modification of job parameters causes panic
  go.mod
  go.sum
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouterBenchmark_test.go
Labels: with tests, server-team
