Repository rudderlabs/rudder-server, pull requests merged in 2022-09, with the labels that each got.

#2365 chore: log improvements
  admin/admin.go
  admin/profiler/profiler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/state/etcd.go
  config/backend-config/backend-config.go
  config/backend-config/namespace_config.go
  config/backend-config/single_workspace.go
  enterprise/migrator/setup.go
  gateway/gateway.go
  main.go
  services/validators/envValidator.go
  utils/httputil/server.go
  utils/httputil/server_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2373 chore(router): include original client creation error when circuit breaker is open
  router/customdestinationmanager/customdestinationmanager.go
  router/customdestinationmanager/customdestinationmanager_test.go
Labels: with tests, server-team

#2381 fix: use jsoniter when unmarshaling to avoid perfromance issues
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/batchrouter.go
Labels: server-team

#2347 chore: upgrade golangci and linting fixes
  .github/workflows/verify.yml
  .golangci.yml
  Makefile
  app/cluster/integration_test.go
  docker_test.go
  enterprise/migrator/export.go
  enterprise/migrator/migrator.go
  enterprise/migrator/setup.go
  enterprise/reporting/reporting.go
  gateway/gateway_test.go
  gateway/integration_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_export.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/readonly_jobsdb.go
  jobsdb/unionQuery.go
  multi_tenant_test.go
  processor/processor_test.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/client/client_test.go
  regulation-worker/internal/delete/batch/batch.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  services/destination-connection-tester/destination_connection_tester.go
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/fileManager_test.go
  services/filemanager/filemanager.go
  services/filemanager/gcsmanager.go
  services/filemanager/miniomanager.go
  services/filemanager/s3manager.go
  services/streammanager/kafka/kafkamanager_test.go
  testhelper/health/checker.go
  utils/misc/misc_test.go
Labels: with tests, server-team

#2370 chore: added metrics to track failed DS backup
  jobsdb/jobsdb.go
Labels: server-team

#2356 feat(jobsdb): thread safe addNewDSLoop
  jobsdb/internal/lock/lock.go
  jobsdb/internal/lock/lock_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  utils/misc/dbutils.go
Labels: with tests, server-team

#2389 fix: safe webhook concurrent map access
  gateway/webhook/webhook.go
Labels: server-team

#2344 refactor(router): new event ordering algorithm with proper aborted job limiting
  eventorder_test.go
  router/admin.go
  router/internal/eventorder/eventorder.go
  router/internal/eventorder/eventorder_simulation_test.go
  router/internal/eventorder/eventorder_test.go
  router/router.go
Labels: with tests, server-team

#2233 feat: cpRouter Multitenant Support
  controlplane/auth.go
  gateway/webhook/webhookTransformer.go
  processor/processor.go
  proto/common/dpauth.pb.go
  proto/common/dpauth.proto
  proto/common/dpauth_grpc.pb.go
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse_grpc.pb.go
  router/batchrouter/batchrouter.go
  router/router.go
  services/filemanager/s3manager.go
  utils/types/deployment/deployment.go
  utils/types/deployment/deployment_test.go
  warehouse/api.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2327 chore: migrate small tables
  Makefile
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
Labels: Ready for Review, with tests, server-team

#2404 chore(warehouse): skip warehouse snowflake test
  warehouse/snowflake/snowflake_test.go
Labels: with tests, warehouse-team

#2359 chore(warehouse): remove tokens from logs for redshift and snowflake
  warehouse/redshift/redshift.go
  warehouse/snowflake/snowflake.go
Labels: Ready for Review, warehouse-team

#2394 chore: change proto message names
  controlplane/auth.go
  proto/common/dpauth.pb.go
  proto/common/dpauth.proto
Labels: server-team

#2360 chore(warehouse): unnecessary join in fetch schema for postgres and snowflake
  warehouse/postgres/postgres.go
  warehouse/snowflake/snowflake.go
Labels: Ready for Review, warehouse-team

#2408 chore: add token type for success message
  controlplane/auth.go
  proto/common/dpauth.pb.go
  proto/common/dpauth.proto
  utils/types/deployment/deployment.go
  utils/types/deployment/deployment_test.go
  warehouse/api.go
Labels: with tests, warehouse-team

#2399 chore: use right id to allocate worker
  gateway/gateway.go
Labels: server-team

#2369 feat: isolate destID in router
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  eventorder_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  jobsdb/unionQuery_test.go
  processor/manager_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/factory.go
  router/manager/manager.go
  router/router.go
  router/router_test.go
  router/utils/utils.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  testdata/destIdIsolationTestTemplate.json
  utils/types/deployment/deployment.go
Labels: with tests, server-team

#2410 chore: disable parallel test execution and refactor jobsdb tests
  Makefile
  docker_test.go
  eventorder_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_test.go
  jobsdb/readonly_jobsdb_test.go
  jobsdb/unionQuery_test.go
  testhelper/destination/kafka.go
  testhelper/destination/minio.go
  testhelper/freeport.go
Labels: with tests, server-team

#2403 feat: thread safe Job Storage
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  mocks/jobsdb/mock_jobsdb.go
  services/sql-migrator/migrations_vfsdata.go
  sql/migrations/jobsdb/000009_readonly_table_trigger.down.tmpl
  sql/migrations/jobsdb/000009_readonly_table_trigger.up.tmpl
Labels: with tests, server-team

#2415 chore: skip double mutex unlock
  testhelper/freeport.go
Labels: server-team

#2396 refactor: use generics for contains function
  app/apphandlers/setup.go
  gateway/webhook/webhook.go
  jobsdb/jobsdb.go
  processor/integrations/integrations.go
  processor/processor.go
  router/batchrouter/batchrouter.go
  router/customdestinationmanager/customdestinationmanager.go
  router/manager/manager.go
  router/router.go
  router/utils/utils.go
  services/debugger/source/eventUploader.go
  utils/misc/misc.go
  utils/misc/misc_test.go
  warehouse/api.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/bigquery/bigquery.go
  warehouse/clickhouse/clickhouse.go
  warehouse/configuration_testing/steps.go
  warehouse/deltalake/deltalake.go
  warehouse/retry.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/stats.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2411 chore: using go test
  Makefile
  config/backend-config/namespace_config_test.go
  gateway/gateway.go
  jobsdb/jobsdb_test.go
  mocks/services/rsources/mock_rsources.go
  multi_tenant_test.go
  services/rsources/handler_test.go
  warehouse/warehouse_suite_test.go
Labels: with tests, warehouse-team

#2425 chore: fix for TestNewForDeployment test
  config/backend-config/backend_config_test.go
Labels: with tests, server-team

#2422 chore: modified regulation-worker response code handling from 404 to 204, when no job is available
  regulation-worker/internal/client/client.go
Labels: server-team

#2424 chore: fix flaky tests
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
Labels: with tests, server-team

#2421 chore(router): include runtime information during event ordering errors
  router/internal/eventorder/eventorder.go
  router/internal/eventorder/eventorder_simulation_test.go
  router/internal/eventorder/eventorder_test.go
  router/router.go
Labels: with tests, server-team

#2447 fix: close http response body only if there is no error
  services/destination-connection-tester/destination_connection_tester.go
Labels: server-team

#2275 chore(warehouse): warehouse retry uploads count
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse.proto
  proto/warehouse/warehouse_grpc.pb.go
  warehouse/api.go
  warehouse/db.go
  warehouse/db_test.go
  warehouse/retry.go
  warehouse/types.go
  warehouse/warehousegrpc.go
Labels: Ready for Review, with tests, warehouse-team

#2386 fix: use workspace id as aws iam role external id
  config/backend-config/types.go
  mocks/services/streammanager/common/mock_streammanager.go
  mocks/services/streammanager/eventbridge/mock_eventbride.go
  mocks/services/streammanager/eventbridge/mock_eventbridge.go
  mocks/services/streammanager/mock_streammanager.go
  router/batchrouter/batchrouter.go
  router/customdestinationmanager/customdestinationmanager.go
  router/customdestinationmanager/customdestinationmanager_test.go
  services/filemanager/s3manager.go
  services/filemanager/s3manager_test.go
  services/streammanager/bqstream/bqstreammanager.go
  services/streammanager/bqstream/bqstreammanager_test.go
  services/streammanager/common/common.go
  services/streammanager/eventbridge/eventbridgemanager.go
  services/streammanager/eventbridge/eventbridgemanager_test.go
  services/streammanager/firehose/firehosemanager.go
  services/streammanager/firehose/firehosemanager_test.go
  services/streammanager/googlepubsub/googlepubsubmanager.go
  services/streammanager/googlepubsub/googlepubsubmanager_test.go
  services/streammanager/googlesheets/googlesheetsmanager.go
  services/streammanager/googlesheets/googlesheetsmanager_test.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  services/streammanager/kinesis/kinesis_suite_test.go
  services/streammanager/kinesis/kinesismanager.go
  services/streammanager/lambda/lambdamanager.go
  services/streammanager/lambda/lambdamanager_test.go
  services/streammanager/personalize/personalizamanager_test.go
  services/streammanager/personalize/personalizemanager.go
  services/streammanager/streammanager.go
  services/streammanager/streammanager_suite_test.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
  utils/misc/misc.go
  utils/misc/misc_test.go
Labels: with tests, server-team

#2358 feat: addition of Azure SAS Tokens for Azure Object storage destinations
  services/filemanager/azureBlobStoragemanager.go
  services/filemanager/fileManager_test.go
  warehouse/warehouse_test.go
Labels: Ready for Review, with tests, warehouse-team

#2449 chore: applying 1.1.1 hotfixes to main branch
  CHANGELOG.md
  services/destination-connection-tester/destination_connection_tester.go
Labels: server-team

#2426 chore(warehouse): integration test changes v3
  warehouse/bigquery/bigquery_test.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/constraint.go
  warehouse/constraint_test.go
  warehouse/datalake/datalake_test.go
  warehouse/deltalake/deltalake_test.go
  warehouse/docker-compose.test.yml
  warehouse/mssql/mssql_test.go
  warehouse/postgres/postgres_test.go
  warehouse/redshift/redshift_test.go
  warehouse/scheduling.go
  warehouse/scheduling_test.go
  warehouse/slave.go
  warehouse/snowflake/snowflake_test.go
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/events.go
  warehouse/testhelper/generate-workspace-config/generate-workspace-config.go
  warehouse/testhelper/setup.go
  warehouse/upload.go
Labels: Ready for Review, with tests, warehouse-team

#2416 chore: gateway middleware refactoring
  gateway/gateway.go
  gateway/gateway_test.go
  middleware/middleware.go
Labels: with tests, server-team

#2429 chore: remove unused suite test files
  rate-limiter/rate_limiter_suite_test.go
  rruntime/rruntime_suite_test.go
  services/alert/alert_suite_test.go
  services/db/db_suite_test.go
  services/debugger/transformation/transformation_debugger_suite_test.go
  services/diagnostics/diagnostics_suite_test.go
  services/pgnotifier/pgnotifier_suite_test.go
  services/sql-migrator/sql_migrator_suite_test.go
  services/validators/validators_suite_test.go
  utils/logger/logger_suite_test.go
  utils/sysUtils/sysUtils_suite_test.go
  utils/timeutil/timeutil_suite_test.go
  utils/types/types_suite_test.go
  utils/utils_suite_test.go
  warehouse/azure-synapse/azure_synapse_suite_test.go
  warehouse/configuration_testing/configuration_testing_suite_test.go
  warehouse/datalake/datalake_suite_test.go
Labels: with tests, warehouse-team

#2450 chore: include status code in pipeline_processed_events metric
  router/batchrouter/batchrouter.go
  router/router.go
Labels: server-team

#2438 chore: reverse proxy warehouse pending-events endpoint
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#2446 chore: limit queries to ds
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/unionQuery.go
Labels: with tests, server-team

#2435 chore(warehouse): warehouse api to capture task run ID when calculating the pending uploads.
  warehouse/api.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: warehouse-team

#2457 feat: changes to support variadic keys for deletion from API dest.
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/client/client_test.go
  regulation-worker/internal/client/schema.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/api/api_test.go
  regulation-worker/internal/delete/api/schema.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/batch/batch_test.go
  regulation-worker/internal/delete/kvstore/kvstore.go
  regulation-worker/internal/delete/kvstore/kvstore_test.go
  regulation-worker/internal/model/model.go
Labels: with tests, server-team

#2377 feat: introduce features/settings client
  config/backend-config/backend-config.go
  config/backend-config/backend_config_test.go
  config/backend-config/mock_workspaceconfig.go
  config/backend-config/multitenant_workspaces.go
  config/backend-config/multitenant_workspaces_test.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  config/backend-config/noop.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  enterprise/reporting/config_noop_test.go
  enterprise/reporting/setup_test.go
  info/features.go
  main.go
  mocks/config/backend-config/mock_backendconfig.go
  multi_tenant_test.go
  services/controlplane/features/client.go
  services/controlplane/features/client_test.go
  services/controlplane/identity/identity.go
  testdata/expected_features.json
  utils/httputil/client.go
  utils/httputil/client_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2468 feat: updating supportedDestinations in api.go
  regulation-worker/internal/delete/api/api.go
Labels: server-team

#2471 fix: snowflake identifier issue
  warehouse/snowflake/snowflake.go
Labels: warehouse-team

#2474 chore: applying 1.1.2 hotfixes to main branch
  CHANGELOG.md
  warehouse/snowflake/snowflake.go
Labels: warehouse-team

#2441 chore: added pre_drop_table count metrics
  jobsdb/jobsdb.go
Labels: server-team

#2445 chore: added rudder-server config metrics with version and other details as tag
  main.go
Labels: server-team

#2417 chore: drop old migrator
  app/app.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/features.go
  app/options.go
  enterprise/migrator/export.go
  enterprise/migrator/failedKeysMigrator.go
  enterprise/migrator/import.go
  enterprise/migrator/migrator.go
  enterprise/migrator/setup.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_export.go
  jobsdb/jobsdb_import.go
  jobsdb/jobsdb_migration_checkpoints.go
  jobsdb/jobsdb_test.go
  jobsdb/setup.go
  jobsdb/unionQuery_test.go
  mocks/app/mock_features.go
  processor/manager_test.go
  services/db/embeddedRecovery.go
  services/db/migrationModeHandler.go
  services/db/nullRecovery.go
  services/db/recovery.go
Labels: with tests, server-team

#2479 chore: clean up pathfinder which is related to old migrator code.
  enterprise/pathfinder/pathfinder.go
Labels: server-team

#2482 fix(warehouse): omit view tables while fetching schema
  warehouse/bigquery/bigquery.go
Labels: warehouse-team

#2485 fix: remove custom credentials chain to use default
  utils/awsutils/session.go
  utils/awsutils/session_test.go
Labels: with tests, server-team

#2511 chore: fix race defect after stats refactoring
  services/stats/stats.go
Labels: server-team

#2413 chore: introduce tooling for local development
  Dockerfile
  Makefile
  cmd/devtool/README.md
  cmd/devtool/commands/etcd.go
  cmd/devtool/commands/event.go
  cmd/devtool/commands/payloads/batch.json
  cmd/devtool/commands/webhook.go
  cmd/devtool/main.go
  docker-compose.yml
  go.mod
  go.sum
Labels: server-team

#2496 feat: add support iam role support for warehouse destinations
  enterprise/replay/setup.go
  services/destination-connection-tester/destination_connection_tester.go
  utils/awsutils/session.go
  utils/awsutils/session_test.go
  utils/misc/misc.go
  utils/misc/misc_test.go
  warehouse/azure-synapse/azure-synapse.go
  warehouse/clickhouse/clickhouse.go
  warehouse/configuration_testing/helper.go
  warehouse/datalake/schema-repository/glue.go
  warehouse/deltalake/deltalake.go
  warehouse/identity/identity.go
  warehouse/mssql/mssql.go
  warehouse/postgres/postgres.go
  warehouse/redshift/redshift.go
  warehouse/slave.go
  warehouse/snowflake/snowflake.go
  warehouse/types.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team
