Repository rudderlabs/rudder-server, pull requests merged in 2022-07, with the labels that each got.

#2126 chore(warehouse): handle ErrNoRows during pgnotifier claim
  services/pgnotifier/pgnotifier.go
Labels: server-team

#2139 chore(warehouse): skipping computing latest users traits
  warehouse/redshift/redshift.go
Labels: warehouse-team

#2143 fix(processor): include test for sources fields in transform event metadata
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#2092 chore(warehouse): add tracking plan version when populating context violations
  processor/trackingplan.go
  processor/trackingplan_test.go
Labels: with tests, warehouse-team

#2087 feat(core): add support for managing failed records in rsources.JobService
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/mock_rsources.go
  services/rsources/rsources.go
Labels: with tests, server-team

#2120 feat(core): introduce new failed-records endpoint
  jobsdb/jobsdb_test.go
  processor/processor.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  services/rsources/rsources.go
  services/rsources/stats_collector.go
  services/rsources/stats_collector_test.go
Labels: with tests, server-team

#2131 chore: merge enterprise code
  .enterprise-commit
  .enterprise/env
  .enterprise/hooks/pre-commit
  .enterprise/scripts/init.sh
  .enterprise/scripts/is-at-master.sh
  .enterprise/scripts/update-commit.sh
  .github/workflows/builds.yml
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  .gitignore
  Dockerfile
  Makefile
  app/app.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/features.go
  app/options.go
  enterprise/LICENSE
  enterprise/config-env/configEnv.go
  enterprise/config-env/noop.go
  enterprise/config-env/setup.go
  enterprise/migrator/export.go
  enterprise/migrator/failedKeysMigrator.go
  enterprise/migrator/import.go
  enterprise/migrator/migrator.go
  enterprise/migrator/setup.go
  enterprise/pathfinder/pathfinder.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/fileuploader/s3downloader.go
  enterprise/replay/fileuploader/s3helper.go
  enterprise/replay/fileuploader/s3uploader.go
  enterprise/replay/replay.go
  enterprise/replay/setup.go
  enterprise/replay/sourceWorker.go
  enterprise/reporting/config_noop_test.go
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_suite_test.go
  enterprise/reporting/reporting_test.go
  enterprise/reporting/setup.go
  enterprise/reporting/setup_test.go
  enterprise/suppress-user/noop.go
  enterprise/suppress-user/setup.go
  enterprise/suppress-user/suppressUser.go
  enterprise/suppress-user/suppressUser_test.go
  enterprise/suppress-user/suppress_user_suite_test.go
  enterprise_mod.go
  imports/imports.go
  main.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2167 fix(core): order inserts(updates) to avoid deadlocks
  services/rsources/stats_collector.go
Labels: server-team

#2181 fix(core): configSubscriber lock, router_status_events count
  router/router.go
Labels: server-team

#2146 chore(warehouse): enable debug logs for redshift warehouse.
  utils/misc/misc_test.go
  warehouse/deltalake/deltalake.go
  warehouse/redshift/redshift.go
Labels: Ready for Review, with tests, warehouse-team

#2160 chore(warehouse): handle bucket path styles
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
Labels: Ready for Review, with tests, warehouse-team

#2192 fix(jobsdb): fix ANALYSE for Negative Indices during internal migration
  jobsdb/jobsdb.go
Labels: server-team

#2084 feat(warehouse): handle bucket config change
  config/backend-config/types.go
  router/batchrouter/batchrouter.go
  warehouse/query_builder.go
  warehouse/slave.go
  warehouse/slave_test.go
  warehouse/types.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/warehouse.go
Labels: Ready for Review, with tests, warehouse-team

#2116 chore: remove unused variables
  processor/processor.go
  processor/transformer/transformer.go
  router/router.go
  router/utils/utils.go
Labels: server-team

#2187 chore(router): skip reporting and sending internal failures to Config backend
  router/router.go
  router/types/types.go
Labels: server-team

#2204 chore: fix flaky handler_test
  services/rsources/handler_test.go
Labels: with tests, server-team

#2198 chore: rsources integration improvements
  app/apphandlers/setup.go
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  services/rsources/rsources.go
Labels: with tests, server-team

#2202 chore: using workspaceId as the tag everywhere
  processor/processor.go
  router/batchrouter/batchrouter.go
  router/router.go
  services/metric/measurement.go
Labels: server-team

#2212 chore(router): clean up the various pairs of pause/resume channels
  router/batchrouter/batchrouter.go
  router/router.go
Labels: server-team
