Repository rudderlabs/rudder-server, pull requests merged in 2023-07, with the labels that each got.

#3567 chore: remove unused code from warehouse
  .github/tools/matrixchecker/main.go
  .github/workflows/tests.yaml
  proto/databricks/databricks.pb.go
  proto/databricks/databricks.proto
  proto/databricks/databricks_grpc.pb.go
  proto/databricks/version.pb.go
  proto/databricks/version.proto
  proto/databricks/version_grpc.pb.go
  runner/runner.go
  utils/misc/misc.go
  warehouse/client/client.go
  warehouse/constraint_test.go
  warehouse/encoding/encoding_test.go
  warehouse/encoding/eventloader.go
  warehouse/encoding/parquetwriter.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake-native/testdata/docker-compose.yml
  warehouse/integrations/deltalake/client/client.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_suite_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/deltalake/testdata/upload-job-append-mode.staging-1.json
  warehouse/integrations/deltalake/testdata/upload-job-append-mode.staging-2.json
  warehouse/integrations/deltalake/testdata/upload-job-merge-mode.staging-1.json
  warehouse/integrations/deltalake/testdata/upload-job-merge-mode.staging-2.json
  warehouse/integrations/deltalake/testdata/upload-job-parquet.staging-1.json
  warehouse/integrations/deltalake/testdata/upload-job-parquet.staging-2.json
  warehouse/integrations/manager/manager.go
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/loadfiles_test.go
  warehouse/internal/model/staging.go
  warehouse/internal/service/recovery.go
  warehouse/logfield/logfield.go
  warehouse/slave.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/validations/steps.go
  warehouse/validations/steps_test.go
  warehouse/validations/validate.go
  warehouse/validations/validate_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3577 feat: bingads destination config refresh
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/handle.go
  router/batchrouter/handle_lifecycle.go
Labels: server-team

#3571 chore(router): penalise continuous non-productive pickup loops by sleeping
  go.mod
  go.sum
  integration_test/kafka_batching/kafka_batching_test.go
  router/handle.go
  router/handle_lifecycle.go
  router/types.go
Labels: with tests, server-team

#3542 chore: send stats for the time taken for suppression
  enterprise/suppress-user/factory_test.go
  enterprise/suppress-user/handler.go
  enterprise/suppress-user/handler_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  enterprise/suppress-user/internal/memory/memory.go
  enterprise/suppress-user/internal/repotest/repotest.go
  enterprise/suppress-user/model/model.go
  enterprise/suppress-user/noop.go
  enterprise/suppress-user/repo_switch.go
  enterprise/suppress-user/repository.go
  enterprise/suppress-user/suppress_user_test.go
  enterprise/suppress-user/testdata/full-export
  enterprise/suppress-user/testdata/latest-export
  gateway/gateway.go
  gateway/gateway_test.go
  mocks/utils/types/mock_types.go
  suppression-backup-service/api/api_test.go
  suppression-backup-service/cmd/main.go
  suppression-backup-service/cmd/main_test.go
  suppression-backup-service/exporter/exporter.go
  suppression-backup-service/exporter/exporter_test.go
  utils/types/types.go
Labels: with tests, server-team

#3581 fix: transformation does not retry indefinitely when control plane is down
  processor/transformer/transformer.go
  processor/transformer/transformer_test.go
Labels: with tests, server-team

#3582 chore(router): stop pickup iteration conditions
  router/handle.go
Labels: server-team

#3552 chore: load file upload
  go.mod
  warehouse/errors.go
  warehouse/slave.go
  warehouse/slave_test.go
  warehouse/stats.go
  warehouse/types.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3573 refactor: bingads implementation
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/status-check.zip
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/statuscheck.zip
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/uploadstatus.csv
  router/batchrouter/asyncdestinationmanager/bing-ads/types.go
  router/batchrouter/asyncdestinationmanager/bing-ads/util.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_lifecycle.go
Labels: with tests, server-team

#3584 chore(jobsdb): tuning and improvements
  jobsdb/jobsdb.go
  jobsdb/migration.go
  router/handle_lifecycle.go
Labels: server-team

#3522 feat: save webhook (/source transformation) failures to proc errors
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/mocks/mockwebhook.go
  gateway/webhook/model/model.go
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#3580 fix: jobsdb panics during recovery after backup failure(s)
  jobsdb/backup.go
Labels: server-team

#3592 fix: warehouse stringmap configs are lower case w.r.t viper
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/upload.go
Labels: warehouse-team

#3597 chore: add max connections to warehouse and pgnotifier
  services/pgnotifier/pgnotifier.go
  warehouse/warehouse.go
Labels: warehouse-team

#3596 fix: cleanup for warehouse integration tests
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
Labels: with tests, warehouse-team

#3583 fix: user transformations timeout
  app/cluster/integration_test.go
  enterprise/replay/replay.go
  enterprise/replay/sourceWorker.go
  mocks/processor/transformer/mock_transformer.go
  processor/eventfilter/eventfilter.go
  processor/integrations/integrations.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/trackingplan.go
  processor/trackingplan_test.go
  processor/transformer/transformer.go
  processor/transformer/transformer_test.go
  runner/runner.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#3576 chore: remove google cloud storage dependency for gcs datalake test using fake-gcs-server
  go.mod
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/testdata/docker-compose.yml
  warehouse/integrations/datalake/testdata/template.json
Labels: with tests, warehouse-team

#3617 chore: retry on 408 response events
  processor/transformer/transformer.go
  router/batchrouter/util.go
  router/misc.go
Labels: server-team

#3525 chore: added trino and spark test
  go.mod
  go.sum
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/testdata/conf/core-site.xml
  warehouse/integrations/datalake/testdata/conf/hive-site.xml
  warehouse/integrations/datalake/testdata/conf/log4j.properties
  warehouse/integrations/datalake/testdata/conf/metastore-site.xml
  warehouse/integrations/datalake/testdata/conf/spark-defaults.conf
  warehouse/integrations/datalake/testdata/docker-compose.spark.yml
  warehouse/integrations/datalake/testdata/docker-compose.trino.yml
  warehouse/integrations/datalake/testdata/etc/catalog/minio.properties
  warehouse/integrations/datalake/testdata/etc/catalog/tpcds.properties
  warehouse/integrations/datalake/testdata/etc/catalog/tpch.properties
  warehouse/integrations/datalake/testdata/etc/config.properties
  warehouse/integrations/datalake/testdata/etc/jvm.config
  warehouse/integrations/datalake/testdata/etc/log.properties
  warehouse/integrations/datalake/testdata/etc/node.properties
Labels: with tests, warehouse-team

#3629 chore: retry on 408 response events hot fix
  processor/transformer/transformer.go
  router/batchrouter/util.go
  router/misc.go
Labels: server-team

#3630 chore: release 1.10.1
  CHANGELOG.md
Labels: autorelease: pending

#3623 refactor: batch router handle async
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/bing-ads/util.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/common/manager.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_lifecycle.go
Labels: with tests, server-team

#3635 chore: cleanup integrations package
  warehouse/admin.go
  warehouse/errors_test.go
  warehouse/identities.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/datalake/schema-repository/glue_test.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/slave.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/validations/validate.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3593 chore: release 1.11.0
  CHANGELOG.md
Labels: autorelease: pending

#3632 chore: add provision to disable tracking event names from a source for reporting
  enterprise/reporting/reporting.go
Labels: server-team

#3641 chore: fix negative pending event count
  processor/manager.go
  processor/processor.go
Labels: server-team

#3643 fix(destination): fix: add max-open connections & close deleted rows for reporting modules
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
Labels: server-team

#3642 chore: release 1.11.1
  CHANGELOG.md
Labels: autorelease: pending

#3644 chore: fix stat table prefix
  app/cluster/dynamic.go
  processor/processor.go
Labels: server-team

#3638 chore: warehouse sql stats
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/jobs/runner.go
  warehouse/tracker_test.go
  warehouse/upload.go
  warehouse/utils/querytype.go
  warehouse/utils/querytype_benchmark_test.go
  warehouse/utils/querytype_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3655 chore: merge release 1.11.2 in main branch
  CHANGELOG.md
  app/cluster/dynamic.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
  processor/manager.go
  processor/processor.go
  processor/transformer/transformer.go
  router/batchrouter/util.go
  router/misc.go
Labels: server-team

#3656 chore: revert merge release 1.11.2 in main branch
  CHANGELOG.md
  app/cluster/dynamic.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
  processor/manager.go
  processor/processor.go
  processor/transformer/transformer.go
  router/batchrouter/util.go
  router/misc.go
Labels: server-team

#3657 chore: merge release 1.11.2 in main branch
  CHANGELOG.md
  app/cluster/dynamic.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
  processor/manager.go
  processor/processor.go
  processor/transformer/transformer.go
  router/batchrouter/util.go
  router/misc.go
Labels: server-team

#3601 chore(jobsdb): increase maintenance operation timeouts and make them hot-reloadable
  jobsdb/jobsdb.go
Labels: server-team

#3662 chore: remove unused ginkgo suites
  services/multitenant/multitenant_suite_test.go
  warehouse/integrations/azure-synapse/azure_synapse_suite_test.go
  warehouse/integrations/bigquery/bigquery_suite_test.go
  warehouse/integrations/clickhouse/clickhouse_suite_test.go
  warehouse/integrations/deltalake/deltalake_suite_test.go
  warehouse/integrations/mssql/mssql_suite_test.go
  warehouse/integrations/postgres/postgres_suite_test.go
  warehouse/integrations/redshift/redshift_suite_test.go
  warehouse/integrations/snowflake/snowflake_suite_test.go
Labels: with tests, warehouse-team

#3679 chore: add custom buckets to gateway.user_suppression_age
  runner/buckets.go
Labels: server-team

#3680 chore: release 1.11.3
  CHANGELOG.md
Labels: autorelease: pending

#3683 chore: applying 1.11.3 hotfixes to main branch
  CHANGELOG.md
  runner/buckets.go
Labels: server-team

#3684 fix: marketo bulk upload poll function
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
Labels: bug, Do not merge, server-team

#3685 fix: ignore workspace if no backup config is found
  jobsdb/backup.go
  processor/stash/stash_test.go
  services/fileuploader/fileuploader.go
  services/fileuploader/fileuploader_test.go
Labels: with tests, server-team

#3553 chore: standardize warehouse timeout config name
  warehouse/utils/utils.go
Labels: Stale, warehouse-team
