Repository rudderlabs/rudder-server, pull requests merged in 2023-12, with the labels that each got.

#4179 fix: snowflake delete
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/testhelper/verify.go
  warehouse/source/source.go
  warehouse/source/types.go
  warehouse/source/types_test.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#4181 chore: error logs for unmarshal error debugging
  router/worker.go
Labels: server-team

#4182 fix(warehouse): crash recovery without panics
  go.mod
  go.sum
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/service/recovery.go
  warehouse/internal/service/recovery_test.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#4056 feat: generic consent management
  processor/consent.go
  processor/consent_test.go
  processor/processor.go
  processor/processor_test.go
  utils/types/types.go
Labels: Ready for Review, with tests, server-team

#4193 feat: introduce random sleep before clickhouse loads
  warehouse/integrations/clickhouse/clickhouse.go
Labels: warehouse-team

#4189 chore: improve fatal log during panic capture
  utils/misc/misc.go
Labels: server-team

#4197 fix: source no pending jobs
  warehouse/source/source.go
Labels: warehouse-team

#4199 chore: applying 1.17.3 hotfixes to main branch
  CHANGELOG.md
  warehouse/source/source.go
Labels: warehouse-team

#4206 chore: prerelease 1.18.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#4139 feat: warehouse append vs merge
  integration_test/warehouse/integration_test.go
  testhelper/clone.go
  testhelper/ptr.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/bigquery/testdata/upload-job-merge-mode.staging-1.json
  warehouse/integrations/bigquery/testdata/upload-job-merge-mode.staging-2.json
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/deltalake/testdata/upload-job-undefined-preferAppend-mode.staging-1.json
  warehouse/integrations/deltalake/testdata/upload-job-undefined-preferAppend-mode.staging-2.json
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/postgres/testdata/template.json
  warehouse/integrations/postgres/testdata/upload-job-append-mode.staging-1.json
  warehouse/integrations/postgres/testdata/upload-job-append-mode.staging-2.json
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/redshift/testdata/template.json
  warehouse/integrations/redshift/testdata/upload-job-append-mode.staging-1.json
  warehouse/integrations/redshift/testdata/upload-job-append-mode.staging-2.json
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/template.json
  warehouse/integrations/snowflake/testdata/upload-job-undefined-preferAppend-mode.staging-1.json
  warehouse/integrations/snowflake/testdata/upload-job-undefined-preferAppend-mode.staging-2.json
  warehouse/internal/model/warehouse.go
  warehouse/logfield/logfield.go
  warehouse/router/router.go
  warehouse/router/upload.go
  warehouse/utils/utils_test.go
Labels: Do not merge, with tests, warehouse-team

#4160 feat: support for adaptive rate limiting [PIPE-481]
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  router/factory.go
  router/handle.go
  router/handle_lifecycle.go
  router/manager/manager_test.go
  router/router_test.go
  router/throttler/adaptive.go
  router/throttler/adaptivethrottlercounter/algorithm.go
  router/throttler/adaptivethrottlercounter/algorithm_test.go
  router/throttler/adaptivethrottlercounter/decrease_limit_counter.go
  router/throttler/adaptivethrottlercounter/increase_limit_counter.go
  router/throttler/algorithm.go
  router/throttler/factory.go
  router/throttler/factory_test.go
  router/throttler/static.go
  router/throttler/switcher.go
  router/throttler/throttler.go
  router/worker_test.go
Labels: with tests, server-team

#4213 chore: tune shared db connection pooling
  app/apphandlers/setup.go
  internal/drain-config/drainConfig.go
  services/rsources/rsources.go
Labels: server-team

#4214 chore: release 1.18.1
  CHANGELOG.md
Labels: autorelease: pending

#4221 chore: applying 1.18.1 hotfixes to main branch
  CHANGELOG.md
  app/apphandlers/setup.go
  internal/drain-config/drainConfig.go
  services/rsources/rsources.go
Labels: server-team

#4223 fix(processor): duplicate rsources out stats can be recorded in case of a retry due to an operation timeout
  processor/processor.go
  services/rsources/stats_collector.go
Labels: server-team

#4228 fix: server panics during shutdown with reporting metrics: failed to store jobs: context canceled
  enterprise/reporting/error_index/error_index_reporting.go
  enterprise/reporting/error_index/error_index_reporting_test.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/event_stats.go
  enterprise/reporting/mediator.go
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  mocks/utils/types/mock_types.go
  processor/processor.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/worker.go
  router/factory.go
  router/handle.go
  utils/types/types.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#4229 chore: release 1.18.2
  CHANGELOG.md
Labels: autorelease: pending

#4230 chore: applying 1.18.2 hotfixes to main branch
  CHANGELOG.md
  enterprise/reporting/error_index/error_index_reporting.go
  enterprise/reporting/error_index/error_index_reporting_test.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/event_stats.go
  enterprise/reporting/mediator.go
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  mocks/utils/types/mock_types.go
  processor/processor.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/worker.go
  router/factory.go
  router/handle.go
  utils/types/types.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#4224 chore: autofix corrupted job-status stats
  services/rsources/http/http.go
  services/rsources/rsources.go
  services/rsources/rsources_test.go
Labels: with tests, server-team

#4215 fix: gateway stat tags when source is disabled
  gateway/handle_http_auth.go
  gateway/handle_http_auth_test.go
Labels: with tests, server-team
