Repository rudderlabs/rudder-server, pull requests merged in 2023-10, with the labels that each got.

#3933 chore: fix backup prefix
  jobsdb/jobsdb.go
Labels: with tests, warehouse-team

#3934 chore: release 1.14.5
  CHANGELOG.md
Labels: autorelease: pending

#3936 chore: omit failedMessages from reporting json object
  utils/types/reporting_types.go
Labels: server-team

#3882 feat: filter events support
  jobsdb/jobsdb.go
  processor/eventfilter/eventfilter.go
  processor/eventfilter/eventfilter_test.go
  processor/processor.go
  processor/processor_test.go
  processor/trackingplan.go
  processor/transformer/transformer.go
  router/handle.go
  router/internal/eventorder/eventorder.go
  router/router_test.go
  router/transformer/transformer.go
  router/worker.go
  services/rsources/stats_collector.go
  utils/types/types.go
Labels: with tests, server-team

#3938 chore: release 1.14.6
  CHANGELOG.md
Labels: autorelease: pending

#3904 feat: add gzip bodyFormat support
  router/network.go
  router/network_test.go
Labels: with tests, server-team

#3939 chore: applying hotfix for 1.14.6 to main branch
  CHANGELOG.md
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#3940 fix: increasing default marketo bulk upload timeout
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
Labels: enhancement, server-team, integrations-team

#3906 feat: health dashboard
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse.proto
  proto/warehouse/warehouse_grpc.pb.go
  sql/migrations/warehouse/000024_add_wh_uploads_error_category.up.sql
  warehouse/errors.go
  warehouse/errors_test.go
  warehouse/grpc.go
  warehouse/grpc_test.go
  warehouse/internal/model/syncs.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/logfield/logfield.go
Labels: with tests, warehouse-team

#3945 chore: removing some deps
  warehouse/admin/admin.go
  warehouse/app.go
  warehouse/errors/errors.go
  warehouse/router/errors.go
  warehouse/router/errors_test.go
  warehouse/router/testdata/errors/BQ
  warehouse/router/testdata/errors/CLICKHOUSE
  warehouse/router/testdata/errors/DELTALAKE
  warehouse/router/testdata/errors/MSSQL
  warehouse/router/testdata/errors/POSTGRES
  warehouse/router/testdata/errors/RS
  warehouse/router/testdata/errors/S3_DATALAKE
  warehouse/router/testdata/errors/SNOWFLAKE
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#3946 chore: enable user deletion for supported destinations
  regulation-worker/internal/delete/api/api.go
Labels: Ready for Review, server-team

#3947 chore: empty batch payload
  gateway/gateway_test.go
  gateway/handle.go
  gateway/response/response.go
Labels: with tests, server-team

#3949 chore: populate error category
  warehouse/errors.go
  warehouse/errors_test.go
  warehouse/grpc_test.go
  warehouse/internal/model/upload.go
  warehouse/internal/model/upload_test.go
  warehouse/internal/repo/upload_test.go
  warehouse/testdata/errors/BQ
  warehouse/testdata/errors/CLICKHOUSE
  warehouse/testdata/errors/DELTALAKE
  warehouse/testdata/errors/MSSQL
  warehouse/testdata/errors/POSTGRES
  warehouse/testdata/errors/RS
  warehouse/testdata/errors/S3_DATALAKE
  warehouse/testdata/errors/SNOWFLAKE
  warehouse/upload.go
Labels: with tests, warehouse-team

#3944 chore: different router retry limits for sources jobs
  router/handle_lifecycle.go
  router/router_test.go
  router/types.go
  router/worker.go
Labels: with tests, server-team

#3951 fix: wh query types
  warehouse/utils/querytype.go
  warehouse/utils/querytype_test.go
Labels: with tests, warehouse-team

#3853 fix: access_denied error handling for OAuth destinations
  mocks/services/oauth/mock_oauth.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/api/api_test.go
  router/handle.go
  services/oauth/oauth.go
  services/oauth/oauth_test.go
Labels: with tests, server-team

#3956 fix: set local schema when syncing from remote
  warehouse/schema/schema.go
  warehouse/schema/schema_test.go
Labels: with tests, warehouse-team

#3930 chore: collect only drained failed keys at router
  processor/processor.go
  router/batchrouter/handle.go
  router/batchrouter/handle_observability.go
  router/batchrouter/worker.go
  router/eventorder_test.go
  router/handle_observability.go
  router/router_test.go
  router/utils/utils.go
  router/worker.go
  services/rsources/stats_collector.go
  services/rsources/stats_collector_test.go
Labels: with tests, server-team

#3963 chore: release 1.15.0
  CHANGELOG.md
Labels: autorelease: pending

#3970 chore: enable errcheck and unparam linters for warehouse
  .golangci.yml
  warehouse/client/controlplane/client_test.go
  warehouse/identity/identity.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake_test.go
Labels: with tests, warehouse-team

#3972 chore: send filtered events in ut as dropped
  jobsdb/jobsdb.go
  processor/processor.go
  services/debugger/transformation/transformationStatusUploader.go
Labels: server-team

#3914 feat: report failed messages in processor, router and batchrouter
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
  integration_test/reporting_dropped_events/reporting_dropped_events_test.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_observability.go
  router/batchrouter/types.go
  router/batchrouter/types_test.go
  router/batchrouter/worker.go
  router/handle.go
  router/rterror/error.go
  router/types.go
  router/types_test.go
  router/worker.go
  runner/runner.go
  schema-forwarder/internal/forwarder/abortingforwarder.go
  testhelper/backendconfigtest/config_builder.go
  testhelper/backendconfigtest/destination_builder.go
  testhelper/backendconfigtest/server_builder.go
  testhelper/backendconfigtest/source_builder.go
  testhelper/backendconfigtest/value_builder.go
  testhelper/transformertest/builder.go
  testhelper/transformertest/handler_funcs.go
Labels: with tests, server-team

#3971 fix: create schema before even fetching for deltalake
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#3948 feat: error index reporting implementation
  enterprise/reporting/config_subscriber.go
  enterprise/reporting/config_subscriber_test.go
  enterprise/reporting/error_index_reporting.go
  enterprise/reporting/error_index_reporting_test.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/mediator.go
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_test.go
  enterprise/reporting/setup_test.go
  mocks/utils/types/mock_types.go
  processor/processor.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/worker.go
  router/factory.go
  router/handle.go
  utils/types/reporting_types.go
  utils/types/types.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#3977 chore: add workspaceID to router discarded stats
  router/handle.go
  router/types/types.go
Labels: server-team

#3975 chore: release 1.15.1
  CHANGELOG.md
Labels: autorelease: pending

#3981 chore: merge release 1.15.1 in main branch
  CHANGELOG.md
  jobsdb/jobsdb.go
  processor/processor.go
  services/debugger/transformation/transformationStatusUploader.go
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#3982 chore: fix remove warehouse jobs panic
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/internal/mocks/utils/mock_uploader.go
  warehouse/internal/service/loadfiles/downloader/downloader.go
  warehouse/internal/service/loadfiles/downloader/downloader_test.go
  warehouse/jobs/jobs.go
  warehouse/router/upload.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
Labels: with tests, warehouse-team

#3988 chore: flaky error index report test
  enterprise/reporting/error_index_reporting_test.go
Labels: with tests, server-team

#3978 fix: add error log for reporting metrics
  enterprise/reporting/reporting.go
Labels: server-team

#3960 feat: oauth access denied handling
  mocks/services/oauth/mock_oauth.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/api/api_test.go
  router/handle.go
  services/oauth/oauth.go
  services/oauth/oauth_test.go
Labels: with tests, server-team

#3990 chore: advertise gzip support to transformer through X-Feature-Gzip-Support header
  processor/transformer/transformer.go
  router/transformer/transformer.go
Labels: server-team

#3989 chore: flaky tests
  enterprise/reporting/error_index_reporting.go
  enterprise/reporting/error_index_reporting_test.go
  enterprise/reporting/setup_test.go
  go.mod
  go.sum
  services/rsources/handler_test.go
Labels: with tests, server-team

#3996 fix: update error parsing of eloqua
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/eloqua/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/eloqua/manager.go
  router/batchrouter/asyncdestinationmanager/eloqua/types.go
  router/batchrouter/asyncdestinationmanager/eloqua/utils.go
Labels: server-team

#3999 fix: corrupted rsources stats captured by processor for dropped jobs
  processor/processor.go
Labels: server-team

#3998 chore: release 1.15.3
  CHANGELOG.md
Labels: autorelease: pending

#4000 chore: applying 1.15.3 hotfixes to main branch
  CHANGELOG.md
  processor/processor.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/eloqua/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/eloqua/manager.go
  router/batchrouter/asyncdestinationmanager/eloqua/types.go
  router/batchrouter/asyncdestinationmanager/eloqua/utils.go
Labels: server-team

#4001 fix: config for stash payload limit
  processor/stash/stash.go
Labels: server-team

#4003 fix: invalid memory address or nil pointer dereference in googlecloudfunction
  services/streammanager/googlecloudfunction/googlecloudfunction.go
  utils/httputil/client.go
Labels: server-team

#4006 chore: applying 1.15.4 hotfixes to main branch
  CHANGELOG.md
  services/streammanager/googlecloudfunction/googlecloudfunction.go
  utils/httputil/client.go
Labels: server-team

#3994 chore: error index reporter improvements
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  enterprise/reporting/error_index_reporting.go
  enterprise/reporting/error_index_reporting_test.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/mediator.go
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  enterprise/reporting/setup_test.go
  jobsdb/backup.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_test.go
  jobsdb/migration.go
  mocks/jobsdb/mock_jobsdb.go
  mocks/utils/types/mock_types.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/worker.go
  router/factory.go
  router/handle.go
  router/handle_observability.go
  utils/tx/tx.go
  utils/types/types.go
  warehouse/app.go
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#3980 chore: upgrade urfave/cli v2 for rudder-cli
  cmd/devtool/commands/event.go
  cmd/rudder-cli/db/queries.go
  cmd/rudder-cli/gateway/gateway.go
  cmd/rudder-cli/main.go
  cmd/rudder-cli/router/router.go
  cmd/rudder-cli/stash/stash.go
  cmd/rudder-cli/status/status.go
  cmd/rudder-cli/warehouse/warehouse.go
  go.mod
  go.sum
Labels: server-team

#4004 fix: merge error blocks in gcf
  services/streammanager/googlecloudfunction/googlecloudfunction.go
  services/streammanager/googlecloudfunction/googlecloudfunction_test.go
Labels: with tests, server-team

#3866 feat(processor): added ability for geolocation enrichment during pipeline processing
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  backend-config/types.go
  go.mod
  go.sum
  internal/enricher/enricher.go
  internal/enricher/geolocation.go
  internal/enricher/geolocation_test.go
  internal/enricher/testdata/geolocation/city_test.mmdb
  internal/enricher/testdata/geolocation/city_test_input.json
  internal/enricher/testdata/geolocation/corrupted_city_test.mmdb
  internal/enricher/testdata/minio/file.txt
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_geolocation_test.go
  processor/processor_test.go
  processor/testdata/geolite2City.mmdb
  runner/runner.go
  services/geolocation/maxmind.go
  services/geolocation/maxmind_test.go
  services/geolocation/testdata/city_test.mmdb
  services/geolocation/testdata/city_test_input.json
  services/geolocation/testdata/corrupted_city_test.mmdb
  services/geolocation/types.go
  testhelper/backendconfigtest/source_builder.go
Labels: with tests, server-team

#4010 feat: introducing chi middleware for warehouse
  warehouse/api/http.go
Labels: warehouse-team

#4012 fix: flaky validations tests
  warehouse/validations/validate_test.go
  warehouse/validations/validations_test.go
Labels: with tests, warehouse-team

#4014 chore: go kit v1.16.0
  gateway/handle_lifecycle.go
  go.mod
  go.sum
  integration_test/kafka_batching/kafka_batching_test.go
  suppression-backup-service/api/api.go
  warehouse/api/http.go
Labels: with tests, warehouse-team

#3961 feat: introduce pagination in failed-keys endpoint
  go.mod
  go.sum
  processor/transformer/transformer_test.go
  services/rsources/failed_records_pagination_test.go
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/http/http.go
  services/rsources/http/http_integration_test.go
  services/rsources/http/http_test.go
  services/rsources/mock_rsources.go
  services/rsources/rsources.go
  services/rsources/stats_collector.go
Labels: with tests, server-team

#4027 chore: flaky validations test
  warehouse/validations/validate_test.go
  warehouse/validations/validations_test.go
Labels: with tests, warehouse-team

#4030 feat: grpc middleware for stats
  controlplane/controlplane.go
  controlplane/manager.go
  go.mod
  warehouse/api/grpc.go
  warehouse/api/grpc_test.go
  warehouse/app.go
Labels: with tests, warehouse-team

#4031 chore: replace golang.org/x/exp/slices to slices
  .github/tools/matrixchecker/main.go
  enterprise/reporting/reporting.go
  gateway/webhook/webhook.go
  jobsdb/internal/cache/cache.go
  jobsdb/jobsdb.go
  processor/eventfilter/eventfilter.go
  processor/processor.go
  processor/transformer/transformer_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_lifecycle.go
  router/batchrouter/util.go
  router/batchrouter/worker.go
  router/customdestinationmanager/customdestinationmanager.go
  router/internal/partition/stats.go
  router/manager/manager.go
  router/utils/utils.go
  router/worker.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  services/debugger/source/eventUploader.go
  warehouse/api/grpc.go
  warehouse/app.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/mock_loadfile_repo_test.go
  warehouse/internal/repo/schema_test.go
  warehouse/internal/service/recovery.go
  warehouse/router/router.go
  warehouse/router/upload.go
  warehouse/router/upload_stats.go
  warehouse/schema/schema.go
  warehouse/slave/worker_job.go
  warehouse/slave/worker_job_test.go
Labels: with tests, warehouse-team

#4040 chore: increase archiver postgres shm size
  archiver/archiver_isolation_test.go
  archiver/archiver_test.go
Labels: with tests, server-team

#4032 refactor: minor scheduler cleanup
  warehouse/admin/admin.go
  warehouse/app.go
  warehouse/router/router.go
  warehouse/router/router_test.go
  warehouse/router/scheduling.go
  warehouse/router/scheduling_test.go
Labels: with tests, warehouse-team

#4002 feat: push error index metadata
  enterprise/reporting/error_index/error_index_reporting.go
  enterprise/reporting/error_index/error_index_reporting_test.go
  enterprise/reporting/error_index/types.go
  enterprise/reporting/error_index/worker.go
  enterprise/reporting/error_index/worker_test.go
  enterprise/reporting/error_index_reporting.go
  enterprise/reporting/mediator.go
  go.mod
  go.sum
  integration_test/reporting_error_index/reporting_error_index_test.go
  testhelper/transformertest/handler_funcs.go
Labels: with tests, server-team

#4046 chore: avoid using global conf during tests
  warehouse/api/grpc_test.go
  warehouse/api/http_test.go
  warehouse/app_test.go
  warehouse/archive/archiver_test.go
  warehouse/bcm/backend_config_test.go
  warehouse/encoding/encoding_test.go
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/internal/api/http_test.go
  warehouse/jobs/http_test.go
  warehouse/multitenant/manager_test.go
  warehouse/router/errors_test.go
  warehouse/router/router_test.go
  warehouse/router/tracker_test.go
  warehouse/router/upload_stats_test.go
  warehouse/router/upload_test.go
  warehouse/slave/slave_test.go
  warehouse/slave/worker_job_test.go
  warehouse/slave/worker_test.go
Labels: with tests, warehouse-team

#4049 chore: prerelease 1.16.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#3965 feat: use append vs merge option from backend config
  go.mod
  go.sum
  testhelper/clone.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/bigquery/testdata/template.json
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/template.json
  warehouse/internal/model/warehouse.go
  warehouse/logfield/logfield.go
  warehouse/router/router.go
  warehouse/router/upload.go
  warehouse/utils/querytype.go
  warehouse/utils/querytype_test.go
  warehouse/utils/utils_test.go
Labels: question, Do not merge, with tests, warehouse-team

#4062 fix: error index filtering for timestamp fields use int64
  enterprise/reporting/error_index/types.go
  enterprise/reporting/error_index/worker_test.go
Labels: with tests, server-team
