Repository rudderlabs/rudder-server, pull requests merged in 2023-02, with the labels that each got.

#2918 chore: remove gorate throttling algorithm
  go.mod
  go.sum
  internal/throttling/benchmark_test.go
  internal/throttling/memory_gorate.go
  internal/throttling/options.go
  internal/throttling/return.go
  internal/throttling/throttling.go
  internal/throttling/throttling_test.go
  router/throttler/throttler.go
Labels: with tests, server-team

#2914 chore: enhance data sent to reporting
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_test.go
  processor/processor.go
  processor/processor_test.go
  processor/transformer/transformer.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/router.go
  sql/migrations/reports/000003_alter_reports_remove_source_batch_id.down.sql
  sql/migrations/reports/000003_alter_reports_remove_source_batch_id.up.sql
  utils/types/reporting_types.go
  warehouse/client/warehouse.go
  warehouse/client/warehouse_test.go
  warehouse/internal/api/http.go
  warehouse/internal/api/http_test.go
  warehouse/internal/api/testdata/process_request.json
  warehouse/internal/api/testdata/process_request_missing_schema.json
  warehouse/internal/model/staging.go
  warehouse/internal/model/staging_test.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2899 feat(warehouse): glue partitions
  .github/workflows/tests.yaml
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/datalake/schema-repository/glue_test.go
  warehouse/integrations/datalake/schema-repository/local.go
  warehouse/integrations/datalake/schema-repository/local_test.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/datalake/schema-repository/schema_repository_test.go
  warehouse/integrations/datalake/schema-repository/testdata/load.csv.gz
  warehouse/integrations/datalake/schema-repository/testdata/load.parquet
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/loadfiles_test.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#2923 fix: adding throttling stats in router
  config/config.yaml
  router/router.go
Labels: server-team

#2927 chore: applying 1.5.1 hotfixes to main branch
  CHANGELOG.md
  config/config.yaml
  router/router.go
Labels: server-team

#2929 feat(warehouse): added use rudder storage option to deltalake
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#2932 fix: runtime error: slice bounds out of range [:-1]
  gateway/webhook/webhook.go
Labels: server-team

#2934 chore: applying 1.5.2 hotfixes to main branch
  CHANGELOG.md
  gateway/webhook/webhook.go
Labels: server-team

#2931 fix(warehouse): warehouse successful upload exists
  warehouse/tracker.go
  warehouse/tracker_test.go
  warehouse/utils/utils.go
Labels: Ready for Review, with tests, warehouse-team

#2937 fix(warehouse): use single protocol source category while doing dedup for new record
  warehouse/upload.go
Labels: Ready for Review

#2908 feat: introduce upload id to associate staging files to uploads
  sql/migrations/warehouse/000020_add_staging_files_upload_id.up.sql
  warehouse/archive/testdata/dump.sql
  warehouse/archive/testdata/storage.json
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2936 fix: suppression syncer using wrong credentials in multi-tenant mode
  enterprise/suppress-user/syncer.go
Labels: server-team

#2941 chore: applying 1.5.3 hotfixes to main branch
  CHANGELOG.md
  warehouse/tracker.go
  warehouse/tracker_test.go
  warehouse/upload.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2938 chore: introduce stat for skip upload syncs
  warehouse/scheduling.go
  warehouse/warehouse.go
Labels: warehouse-team

#2928 fix: limit entire transformationStatus struct when caching them
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
Labels: with tests, server-team

#2888 chore(warehouse): alter handling for redshift
  config/config.yaml
  processor/integrations/integrations.go
  services/alerta/client.go
  services/alerta/client_test.go
  services/alerta/noop.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/datalake/schema-repository/local.go
  warehouse/integrations/datalake/schema-repository/local_test.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/testhelper/setup.go
  warehouse/internal/model/upload.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2953 chore: applying 1.5.4 & 1.5.5 hotfixes to main branch
  CHANGELOG.md
  warehouse/scheduling.go
  warehouse/tracker.go
  warehouse/tracker_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2946 chore: protect measurement & tag names from empty strings
  services/stats/measurement.go
  services/stats/stats.go
  services/stats/stats_test.go
Labels: with tests, server-team

#2950 fix(warehouse): warehouse validations fixed to lookup secrets using sshKeyId
  warehouse/client/controlplane/client.go
  warehouse/validations/validate.go
Labels: warehouse-team

#2958 feat: add webhook source error logging
  gateway/webhook/webhook.go
Labels: server-team

#2961 fix(warehouse): deltalake client crashing when failing on connectionstep
  warehouse/integrations/deltalake/client/client.go
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#2960 chore: use gauge for capturing pending events
  warehouse/warehouse.go
Labels: warehouse-team

#2965 fix: setting default throttling algorithm to gcra
  router/throttler/throttler.go
Labels: server-team

#2968 fix: backporting limit entire transformationStatus struct when caching them
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
Labels: with tests, server-team

#2967 fix: handle NULL on upload timings
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/upload.go
  warehouse/upload_test.go
Labels: with tests, warehouse-team

#2944 chore(warehouse): use warn while getting total count in warehouse
  warehouse/logfield/logfield.go
  warehouse/tracker.go
  warehouse/upload.go
  warehouse/utils/utils.go
Labels: warehouse-team

#2959 fix: move recovery from scheduler to upload
  warehouse/internal/model/upload.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/internal/service/recovery.go
  warehouse/internal/service/recovery_test.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2956 feat(warehouse): error tagging
  warehouse/errors.go
  warehouse/errors_test.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/model/upload.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/stats.go
  warehouse/testdata/errors/BQ
  warehouse/testdata/errors/CLICKHOUSE
  warehouse/testdata/errors/DELTALAKE
  warehouse/testdata/errors/MSSQL
  warehouse/testdata/errors/POSTGRES
  warehouse/testdata/errors/RS
  warehouse/testdata/errors/S3_DATALAKE
  warehouse/testdata/errors/SNOWFLAKE
  warehouse/upload.go
Labels: with tests, warehouse-team

#2945 chore: capture cgroup-aware memory stats
  go.mod
  go.sum
  utils/mem/internal/cgroup/mem.go
  utils/mem/internal/cgroup/mem_test.go
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_hierarchy/README.md
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_hierarchy/sys/fs/cgroup/memory/memory.limit_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_hierarchy/sys/fs/cgroup/memory/memory.stat
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_hierarchy/sys/fs/cgroup/memory/memory.usage_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit/README.md
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.limit_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.stat
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.usage_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit_proc_self/README.md
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit_proc_self/proc/self/cgroup
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit_proc_self/sys/fs/cgroup/memory/pid1/memory.limit_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit_proc_self/sys/fs/cgroup/memory/pid1/memory.stat
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit_proc_self/sys/fs/cgroup/memory/pid1/memory.usage_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_no_limit/README.md
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_no_limit/sys/fs/cgroup/memory/memory.limit_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_no_limit/sys/fs/cgroup/memory/memory.stat
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_no_limit/sys/fs/cgroup/memory/memory.usage_in_bytes
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_limit/README.md
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_limit/sys/fs/cgroup/memory.current
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_limit/sys/fs/cgroup/memory.max
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_limit/sys/fs/cgroup/memory.stat
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_no_limit/README.md
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_no_limit/sys/fs/cgroup/memory.current
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_no_limit/sys/fs/cgroup/memory.max
  utils/mem/internal/cgroup/testdata/cgroups_v2_mem_no_limit/sys/fs/cgroup/memory.stat
  utils/mem/internal/cgroup/util.go
  utils/mem/mem.go
  utils/mem/mem_test.go
  utils/mem/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.limit_in_bytes
  utils/mem/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.stat
  utils/mem/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.usage_in_bytes
Labels: with tests, server-team

#2972 fix(warehouse): fix upload error and add additional logs
  warehouse/logfield/logfield.go
  warehouse/upload.go
Labels: warehouse-team

#2949 feat: adaptive payload size limits
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  processor/manager.go
  processor/processor.go
  processor/stash/stash.go
  router/batchrouter/batchrouter.go
  router/batchrouter/factory.go
  router/factory.go
  router/router.go
  router/router_throttling_test.go
  utils/payload/limiter.go
  utils/payload/limiter_config.go
  utils/payload/limiter_setup.go
  utils/payload/limiter_test.go
Labels: with tests, server-team

#2982 chore: dedup destination metadata in router based on job id
  router/router.go
Labels: server-team

#2981 fix(warehouse): added check for nil warehouse manager during error mapping
  warehouse/errors.go
  warehouse/errors_test.go
  warehouse/internal/model/upload.go
  warehouse/logfield/logfield.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/upload.go
Labels: with tests, warehouse-team

#2976 chore(warehouse): log improvements for total count in warehouse integrations
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/testhelper/setup.go
Labels: with tests, warehouse-team

#2977 chore(warehouse): remove unused stats from deltalake integration
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#2983 fix(warehouse): consolidaiton for merged schema to give preference for text datatype
  warehouse/schema.go
  warehouse/schema_test.go
Labels: with tests, warehouse-team

#2986 chore(warehouse): filemanager nil fix for validations
  warehouse/logfield/logfield.go
  warehouse/validations/helper.go
Labels: warehouse-team

#2891 feat(processor): add support for workspace-level isolation
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  gateway/internal/stats/stats_test.go
  integration_test/docker_test/docker_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  mocks/jobsdb/mock_jobsdb.go
  processor/isolation/isolation.go
  processor/processor.go
  processor/processor_isolation_test.go
  processor/processor_test.go
  processor/testdata/procIsolationTestTemplate.json.tpl
  processor/worker.go
  processor/worker_handle.go
  processor/worker_handle_adapter.go
  processor/worker_pool.go
  processor/worker_pool_test.go
  router/eventorder_test.go
  router/router_dest_isolation_test.go
  runner/runner_test.go
  sql/migrations/jobsdb/000011_add_workspace_id_index.up.tmpl
  sql/migrations/jobsdb_always/000011_add_workspace_id_index.up.tmpl
  testhelper/destination/postgres.go
  testhelper/health/checker.go
  testhelper/workspaceConfig/workspaceConfig.go
  utils/misc/exponential.go
  utils/misc/exponential_test.go
  utils/queue/priorityQueue.go
  utils/queue/priorityQueue_test.go
  utils/sync/limiter.go
  utils/sync/limiter_test.go
Labels: with tests, server-team

#2795 chore: migrate stats to otel
  .github/workflows/verify.yml
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/setup.go
  config/misc.go
  gateway/gateway_test.go
  gateway/internal/stats/stats.go
  gateway/internal/stats/stats_test.go
  gateway/webhook/setup.go
  gateway/webhook/webhook_test.go
  go.mod
  go.sum
  jobsdb/admin.go
  mocks/services/stats/mock_stats.go
  otel/options.go
  otel/otel.go
  otel/otel_test.go
  otel/testdata/otel-collector-config.yaml
  regulation-worker/cmd/main.go
  runner/runner.go
  services/metric/manager.go
  services/metric/measurement.go
  services/metric/registry.go
  services/stats/config.go
  services/stats/measurement.go
  services/stats/memstats/stats.go
  services/stats/memstats/stats_test.go
  services/stats/options.go
  services/stats/otel.go
  services/stats/otel_measurement.go
  services/stats/otel_test.go
  services/stats/periodic.go
  services/stats/stats.go
  services/stats/stats_internal_test.go
  services/stats/stats_test.go
  services/stats/statsd.go
  services/stats/statsd_measurement.go
  services/stats/statsd_test.go
  services/stats/tags.go
  services/stats/testdata/otel-collector-config.yaml
  testhelper/docker/docker.go
  testhelper/stats/otel.go
  testhelper/stats/prometheus.go
Labels: Do not merge, with tests, server-team

#2988 chore: revert migrate stats to otel
  .github/workflows/verify.yml
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/setup.go
  config/misc.go
  gateway/gateway_test.go
  gateway/internal/stats/stats.go
  gateway/internal/stats/stats_test.go
  gateway/webhook/setup.go
  gateway/webhook/webhook_test.go
  go.mod
  go.sum
  jobsdb/admin.go
  mocks/services/stats/mock_stats.go
  otel/options.go
  otel/otel.go
  otel/otel_test.go
  otel/testdata/otel-collector-config.yaml
  regulation-worker/cmd/main.go
  runner/runner.go
  services/metric/manager.go
  services/metric/measurement.go
  services/metric/registry.go
  services/stats/config.go
  services/stats/measurement.go
  services/stats/memstats/stats.go
  services/stats/memstats/stats_test.go
  services/stats/options.go
  services/stats/otel.go
  services/stats/otel_measurement.go
  services/stats/otel_test.go
  services/stats/periodic.go
  services/stats/stats.go
  services/stats/stats_internal_test.go
  services/stats/stats_test.go
  services/stats/statsd.go
  services/stats/statsd_measurement.go
  services/stats/statsd_test.go
  services/stats/tags.go
  services/stats/testdata/otel-collector-config.yaml
  testhelper/docker/docker.go
  testhelper/stats/otel.go
  testhelper/stats/prometheus.go
Labels: with tests, server-team

#2973 feat: filter events based on destination consent management rules
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#3000 fix(warehouse): skipping deprecated columns
  warehouse/identities.go
  warehouse/logfield/logfield.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2994 chore(warehouse): additional error mappings
  warehouse/integrations/postgres/postgres.go
Labels: warehouse-team

#2996 chore: upgrade all dependencies
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  .golangci.yml
  Dockerfile
  Makefile
  build/Dockerfile-warehouse-integration
  cmd/benchmark/Dockerfile
  gateway/internal/stats/stats_test.go
  go.mod
  go.sum
  processor/processor_isolation_test.go
  rate-limiter/rate-limiter.go
  router/eventorder_test.go
  router/internal/eventorder/eventorder_simulation_test.go
  utils/misc/misc.go
  warehouse/integrations/deltalake/deltalake.go
Labels: with tests, warehouse-team

#3013 fix(warehouse): redshift dedup window
  warehouse/integrations/redshift/redshift.go
Labels: warehouse-team

#3019 fix(router): wrong job order keys used in batching job order logic
  router/router.go
  router/types/types.go
Labels: server-team

#3002 fix: inconsistent and leaky retry delay logic in router
  internal/throttling/throttling_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_utils.go
  jobsdb/unionQuery.go
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#3023 chore: make GC discard ratio configurable
  services/debugger/cache/internal/badger/badger.go
Labels: server-team

#3028 fix: processor read of dest consent categories
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#3027 chore: tunable badgerDB config params
  services/debugger/cache/internal/badger/badger.go
Labels: server-team

#3026 chore(warehouse): default warehouse priority set to 100
  warehouse/warehouse.go
Labels: warehouse-team

#2998 refactor: prefer using lo.BufferWithTimeout
  gateway/admin.go
  gateway/gateway.go
  processor/transformer/transformer.go
  router/router.go
  router/router_throttling_test.go
Labels: with tests, server-team

#3012 chore: abort job after 5 attempts at deletion-worker
  regulation-worker/cmd/main.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/client/schema.go
  regulation-worker/internal/model/model.go
  regulation-worker/internal/service/service.go
  regulation-worker/internal/service/service_test.go
Labels: Ready for Review, with tests, server-team

#2837 chore: improve regulation-worker status capture
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/client/client_test.go
  regulation-worker/internal/client/schema.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/api/api_test.go
  regulation-worker/internal/delete/api/mock_api.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/batch/batch_test.go
  regulation-worker/internal/delete/delete.go
  regulation-worker/internal/delete/delete_test.go
  regulation-worker/internal/delete/kvstore/kvstore.go
  regulation-worker/internal/delete/kvstore/kvstore_test.go
  regulation-worker/internal/model/model.go
  regulation-worker/internal/service/service.go
  regulation-worker/internal/service/service_test.go
Labels: with tests, server-team

#3036 chore(warehouse): use first_event_at while pickup for warehouse processing jobs
  warehouse/internal/repo/upload.go
Labels: warehouse-team

#3039 fix(warehouse): grouping uploads for processing pickup
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
Labels: with tests, warehouse-team

#3042 chore: debugger's badgerdb cache optimisations
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_test.go
Labels: with tests, server-team

#3044 chore: applying 1.6.1 hotfixes to main branch
  CHANGELOG.md
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_test.go
Labels: with tests, server-team

#3047 chore: use official bitnami images for arm64
  testhelper/destination/kafka.go
  testhelper/etcd/etcd.go
Labels: server-team

#3048 fix: payload limiter gauge reports invalid value type
  utils/payload/limiter_setup.go
Labels: server-team

#3051 fix: user/anonymous id read at gateway
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#3054 chore: applying 1.6.2 hotfixes to main branch
  CHANGELOG.md
  gateway/gateway.go
  gateway/gateway_test.go
  utils/payload/limiter_setup.go
Labels: with tests, server-team
