Repository rudderlabs/rudder-server, pull requests merged in 2023-01, with the labels that each got.

#2813 chore: docs update - unlimited event copy
  README.md
Labels: Stale

#2836 fix(warehouse): added support for testing ssh tunnelling using postgres
  go.mod
  go.sum
  warehouse/docker-compose.test.yml
  warehouse/postgres/postgres_test.go
  warehouse/testdata/ssh-server/test_key
  warehouse/testdata/ssh-server/test_key.pub
  warehouse/testdata/workspaceConfig/template.json
  warehouse/testhelper/setup.go
Labels: with tests, warehouse-team

#2831 feat: added MT support for regulation worker
  config/backend-config/backend-config.go
  config/backend-config/backend_config_test.go
  config/backend-config/mock_workspaceconfig.go
  config/backend-config/namespace_config.go
  config/backend-config/namespace_config_test.go
  config/backend-config/noop.go
  config/backend-config/single_workspace.go
  config/backend-config/single_workspace_test.go
  mocks/config/backend-config/mock_backendconfig.go
  regulation-worker/README.md
  regulation-worker/cmd/main.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/client/client.go
  regulation-worker/internal/client/client_test.go
  regulation-worker/internal/client/schema.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/destination/destination.go
  regulation-worker/internal/destination/destination_test.go
  regulation-worker/internal/destination/mock_destination.go
  regulation-worker/internal/destination/mock_destination_test.go
  regulation-worker/internal/service/mock_service.go
  regulation-worker/internal/service/service.go
  regulation-worker/internal/service/service_test.go
  warehouse/multitenant/manager_test.go
Labels: with tests, warehouse-team

#2849 fix: unnecessary router pending event counts
  processor/processor.go
  router/batchrouter/batchrouter.go
  router/router.go
  services/multitenant/tenantstats.go
Labels: server-team

#2850 chore: prohibit deletion of incomplete job-status stats
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  services/rsources/rsources.go
Labels: with tests, server-team

#2855 fix(destination): add proper stats for rt/batch transformation & proxy
  router/router.go
  router/transformer/transformer.go
Labels: server-team, integrations-team

#2856 fix: shallow copy config in processor
  Makefile
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#2860 chore: applying 1.4.6 hotfixes to main branch
  CHANGELOG.md
  processor/processor.go
  processor/processor_test.go
  router/router.go
  router/transformer/transformer.go
Labels: with tests, server-team

#2823 feat: changes to make rudder-scheduler work with HA gateway
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
  config/config_test.go
  config/misc.go
Labels: with tests, server-team

#2866 fix: stats.Timer#End panics with nil pointer
  services/stats/measurement.go
  services/stats/stats_internal_test.go
Labels: with tests, server-team

#2758 refactor: gateway stats
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/internal/stats/stats.go
  gateway/internal/stats/stats_test.go
  gateway/mocks/mockwebhook.go
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
Labels: with tests, server-team

#2867 chore: add logs when backup is skipped due to preferences
  jobsdb/backup.go
  processor/stash/stash.go
Labels: server-team

#2853 feat: add `total_bytes` field in staging file model
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  sql/migrations/warehouse/000018_add_wh_stage_files_total_bytes.up.sql
  warehouse/archive/testdata/dump.sql
  warehouse/archive/testdata/storage.json
  warehouse/client/warehouse.go
  warehouse/client/warehouse_test.go
  warehouse/internal/api/http.go
  warehouse/internal/api/http_test.go
  warehouse/internal/api/testdata/process_request.json
  warehouse/internal/model/staging.go
  warehouse/internal/repo/staging.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#2865 refactor: using an exponential backoff
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#2870 refactor: timerStat.RecordDuration, Since instead of timerStat.Start, End
  event-schema/event_schema.go
  gateway/gateway.go
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
  internal/throttling/throttling.go
  jobsdb/admin.go
  jobsdb/backup.go
  jobsdb/jobsdb.go
  jobsdb/migration.go
  jobsdb/queued_db_request.go
  mocks/services/stats/mock_stats.go
  processor/stash/stash.go
  processor/trackingplan.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/kvstore/kvstore.go
  router/batchrouter/batchrouter.go
  router/router.go
  services/stats/measurement.go
  services/stats/memstats/stats.go
  services/stats/memstats/stats_test.go
  services/stats/stats_internal_test.go
  services/stats/stats_test.go
  warehouse/clickhouse/clickhouse.go
  warehouse/deltalake/databricks/databricks.go
  warehouse/deltalake/deltalake.go
  warehouse/slave.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2877 fix: regulation-worker panics during startup
  gateway/internal/stats/stats_test.go
  regulation-worker/cmd/main.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/client/client_test.go
  regulation-worker/internal/delete/api/api_test.go
  regulation-worker/internal/delete/batch/batch_test.go
  regulation-worker/internal/delete/delete_test.go
  regulation-worker/internal/delete/kvstore/kvstore_test.go
  regulation-worker/internal/destination/destination_test.go
  regulation-worker/internal/initialize/initialize.go
  regulation-worker/internal/service/service_test.go
  services/stats/stats_test.go
Labels: with tests, server-team

#2879 chore: added prefix to regulation worker stats
  regulation-worker/internal/client/client.go
  regulation-worker/internal/delete/api/api.go
  regulation-worker/internal/delete/batch/batch.go
  regulation-worker/internal/delete/kvstore/kvstore.go
  regulation-worker/internal/service/service.go
Labels: server-team

#2739 feat(warehouse): clickhouse s3 table engine for load tables
  testhelper/destination/minio.go
  warehouse/clickhouse/clickhouse.go
  warehouse/clickhouse/clickhouse_test.go
  warehouse/clickhouse/testdata/load-copy.csv.gz
  warehouse/clickhouse/testdata/load.csv.gz
  warehouse/manager/manager.go
  warehouse/slave.go
Labels: Ready for Review, with tests, warehouse-team

#2882 fix: stash reporting back less error jobs after store
  processor/stash/stash.go
Labels: server-team

#2753 refactor: decouple loadfile logic and repo
  warehouse/identities.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/loadfiles_test.go
  warehouse/internal/loadfiles/mock_loadfile_repo_test.go
  warehouse/internal/loadfiles/mock_notifier_test.go
  warehouse/internal/loadfiles/mock_stagefile_repo_test.go
  warehouse/internal/model/load.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/load_test.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/query_builder.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: Stale, with tests, warehouse-team

#2848 chore: add workspace id in wh_async_jobs table
  sql/migrations/warehouse/000019_add_wh_async_jobs_workspace_id.up.sql
  warehouse/jobs/handlers.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils_test.go
  warehouse/testhelper/events.go
  warehouse/testhelper/setup.go
Labels: with tests, warehouse-team

#2886 chore: disable batch destinations by default in regulation worker
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/delete/batch/batch.go
Labels: with tests, server-team

#2833 chore: use badgerdb for live events cache
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  gateway/gateway.go
  gateway/gateway_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/factory.go
  router/eventorder_test.go
  router/factory.go
  router/router.go
  router/router_test.go
  runner/runner.go
  services/debugger/cache.go
  services/debugger/cache/cache.go
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_suite_test.go
  services/debugger/cache/internal/badger/badger_test.go
  services/debugger/cache/internal/memory/memory.go
  services/debugger/cache/internal/memory/memory_suite_test.go
  services/debugger/cache/internal/memory/memory_test.go
  services/debugger/cache_test.go
  services/debugger/destination/destination_suite_test.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/source/source_suite_test.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
  services/debugger/transformation/transformation_debugger_suite_test.go
  services/debugger/transformation/transformation_suite_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#2881 refactor(processor): stop using global variables
  app/cluster/integration_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/trackingplan.go
  processor/transformqueue.go
  runner/runner.go
  utils/misc/asyncinit.go
  utils/misc/asyncinit_test.go
Labels: with tests, server-team

#2889 fix(processor): wrong event filter in count stat captured
  processor/processor.go
Labels: server-team

#2878 feat(warehouse): databricks unity catalog
  warehouse/client/client.go
  warehouse/deltalake/client/client.go
  warehouse/deltalake/databricks/databricks.go
  warehouse/deltalake/deltalake.go
  warehouse/deltalake/deltalake_test.go
  warehouse/manager/manager.go
  warehouse/testhelper/setup.go
Labels: with tests, warehouse-team

#2885 chore(warehouse): move warehouse destinations to integrations package
  Makefile
  runner/runner.go
  warehouse/admin.go
  warehouse/client/client.go
  warehouse/identities.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/azure-synapse/azure_synapse_suite_test.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_suite_test.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_suite_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/clickhouse/testdata/load-copy.csv.gz
  warehouse/integrations/clickhouse/testdata/load.csv.gz
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/datalake/schema-repository/local.go
  warehouse/integrations/datalake/schema-repository/schema-repository.go
  warehouse/integrations/deltalake/client/client.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_suite_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/docker-compose.test.yml
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/mssql/mssql_suite_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_suite_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_suite_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_suite_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse01/config.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse01/users.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse02/config.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse02/users.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse03/config.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse03/users.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse04/config.xml
  warehouse/integrations/testdata/clickhouse/cluster/clickhouse04/users.xml
  warehouse/integrations/testdata/ssh-server/test_key
  warehouse/integrations/testdata/ssh-server/test_key.pub
  warehouse/integrations/testdata/workspaceConfig/template.json
  warehouse/integrations/testhelper/.env
  warehouse/integrations/testhelper/events.go
  warehouse/integrations/testhelper/generate-workspace-config/generate-workspace-config.go
  warehouse/integrations/testhelper/setup.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/upload.go
  warehouse/validations/types.go
  warehouse/validations/validate.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#2898 chore: handling wrapped temporary errors for Kafka destinations
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/client/logger.go
  services/streammanager/kafka/client/producer.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#2896 chore: add tags(sourceType, sdkVersion) to gateway stats
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/internal/stats/stats.go
  gateway/internal/stats/stats_test.go
Labels: with tests, server-team

#2900 chore: merging release 1.5.0 to main branch
  CHANGELOG.md
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/internal/stats/stats.go
  gateway/internal/stats/stats_test.go
  processor/processor.go
  processor/stash/stash.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/delete/batch/batch.go
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/client/logger.go
  services/streammanager/kafka/client/producer.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#2863 refactor: staging files to uploads
  go.mod
  warehouse/api.go
  warehouse/identities.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/model/upload.go
  warehouse/internal/model/upload_test.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/load_test.go
  warehouse/internal/repo/repo.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/internal/service/staging.go
  warehouse/internal/service/staging_test.go
  warehouse/staging_file.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/table_upload_test.go
  warehouse/testdata/sql/upload_test.sql
  warehouse/types.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#2909 chore: warmup gcra algorithms in throttling test
  internal/throttling/throttling_test.go
Labels: with tests, server-team

#2911 chore(jobsdb): support query filter by workspaceID
  enterprise/replay/replay.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
Labels: with tests, server-team

#2902 chore: use a partition lock when updating badger live events cache
  services/debugger/cache/internal/badger/badger.go
  utils/sync/plocker.go
  utils/sync/plocker_test.go
  utils/sync/prwlocker.go
  utils/sync/prwlocker_test.go
Labels: with tests, server-team
