Repository rudderlabs/rudder-server, pull requests merged in 2023-09, with the labels that each got.

#3809 chore: add gw failure stats
  gateway/gateway_test.go
  gateway/handle_http_auth.go
  gateway/handle_http_beacon.go
  gateway/handle_http_pixel.go
  gateway/internal/stats/stats.go
Labels: with tests, server-team

#3821 chore: License update
  LICENSE
  README.md
Labels: documentation

#3812 fix: increased postgres cpu usage after switching to a single get jobs query
  jobsdb/jobsdb.go
  jobsdb/queued_db_request.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle.go
  router/internal/jobiterator/jobiterator.go
Labels: with tests, server-team

#3823 chore: update license to ELv2
  enterprise/LICENSE
Labels: documentation

#3826 fix: adding the poll failure response details to db
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle_async.go
Labels: enhancement, server-team, integrations-team

#3815 chore: populate context with validation errors when context is nil
  processor/trackingplan.go
  processor/trackingplan_test.go
Labels: with tests, server-team

#3830 chore: release 1.13.0
  CHANGELOG.md
Labels: autorelease: pending

#3836 chore: add stats for archiver
  archiver/archiver.go
  archiver/worker.go
Labels: server-team

#3831 fix: redis cluster mode
  go.mod
  go.sum
  services/kvstoremanager/redis.go
Labels: server-team

#3837 fix: remove table name for load file
  warehouse/slave_worker_job.go
Labels: warehouse-team

#3844 chore: release 1.13.1
  CHANGELOG.md
Labels: autorelease: pending

#3845 chore: applying hotfix for 1.13.1 to main branch
  CHANGELOG.md
  archiver/archiver.go
  archiver/worker.go
  go.mod
  go.sum
  services/kvstoremanager/redis.go
  warehouse/slave_worker_job.go
Labels: warehouse-team

#3779 feat: onboard bulk upload destination eloqua
  mocks/router/eloqua/mock_eloqua.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/eloqua/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/eloqua/eloqua.go
  router/batchrouter/asyncdestinationmanager/eloqua/eloqua_suite_test.go
  router/batchrouter/asyncdestinationmanager/eloqua/eloqua_test.go
  router/batchrouter/asyncdestinationmanager/eloqua/manager.go
  router/batchrouter/asyncdestinationmanager/eloqua/testdata/uploadDataIdentify.txt
  router/batchrouter/asyncdestinationmanager/eloqua/types.go
  router/batchrouter/asyncdestinationmanager/eloqua/utils.go
  router/batchrouter/asyncdestinationmanager/manager.go
  router/batchrouter/batchrouter.go
  router/batchrouter/handle_async.go
  router/batchrouter/util.go
  router/manager/manager.go
  utils/misc/misc.go
Labels: with tests, server-team

#3820 chore: use single query for getting jobs
  jobsdb/jobsdb.go
  processor/processor_isolation_test.go
  processor/processor_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle.go
  router/handle.go
  router/internal/jobiterator/jobiterator.go
Labels: with tests, server-team

#3850 fix: error while cleaning up old jobs: sql: no rows in result set
  jobsdb/admin.go
  jobsdb/jobsdb_test.go
Labels: with tests, server-team

#3857 fix: send reportedAt in milliseconds for error reporting
  enterprise/reporting/error_reporting.go
Labels: warehouse-team

#3860 chore: merge release 1.13.2 in main branch
  CHANGELOG.md
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting_test.go
Labels: with tests, server-team

#3864 chore: go-kit v0.15.9
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/state/etcd.go
  backend-config/backend-config.go
  gateway/handle_lifecycle.go
  gateway/webhook/configuration.go
  go.mod
  go.sum
  jobsdb/jobsdb.go
  jobsdb/migration.go
  processor/processor.go
  processor/stash/stash.go
  processor/transformer/transformer.go
  router/batchrouter/asyncdestinationmanager/manager.go
  router/batchrouter/handle_lifecycle.go
  router/customdestinationmanager/customdestinationmanager.go
  router/handle_lifecycle.go
  router/transformer/transformer.go
  router/utils/utils.go
  runner/runner.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  services/db/normalModeHandler.go
  services/db/recovery.go
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/memory/memory.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
  services/debugger/uploader.go
  services/dedup/dedup.go
  services/diagnostics/diagnostics.go
  services/pgnotifier/pgnotifier.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  utils/misc/misc.go
  warehouse/archive/archiver.go
  warehouse/archive/cron.go
  warehouse/constraint.go
  warehouse/encoding/encoding.go
  warehouse/router.go
  warehouse/slave.go
  warehouse/slave_worker.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3805 chore: uploader can append
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/schema-repository/local_test.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/internal/mocks/utils/mock_uploader.go
  warehouse/internal/service/loadfiles/downloader/downloader_test.go
  warehouse/jobs/jobs.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
Labels: with tests, warehouse-team

#3794 feat: onboard destination google cloud function
  mocks/services/streammanager/googlecloudfunction/mock_googlecloudfunction.go
  router/customdestinationmanager/customdestinationmanager.go
  services/streammanager/googlecloudfunction/googlecloudfunction.go
  services/streammanager/googlecloudfunction/googlecloudfunction_test.go
  services/streammanager/streammanager.go
  services/streammanager/streammanager_suite_test.go
Labels: with tests, server-team

#3786 chore: use structured logging in jobsdb backup
  jobsdb/backup.go
Labels: server-team

#3871 chore: use new reloadable config api in router and batchrouter
  go.mod
  go.sum
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_lifecycle.go
  router/batchrouter/worker.go
  router/eventorder_test.go
  router/handle.go
  router/handle_lifecycle.go
  router/partition_worker.go
  router/router_test.go
  router/transformer/transformer.go
  router/transformer/transformer_test.go
  router/types.go
  router/utils/utils.go
  router/worker.go
  runner/runner.go
Labels: with tests, server-team

#3868 chore: new reloadable config in jobsdb
  jobsdb/backup.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/migration.go
  jobsdb/migration_test.go
Labels: with tests, server-team

#3873 chore: check list permissions for replay
  warehouse/grpc.go
  warehouse/grpc_test.go
Labels: with tests, warehouse-team

#3877 fix: update error processing of eloqua
  router/batchrouter/asyncdestinationmanager/eloqua/eloqua_test.go
  router/batchrouter/asyncdestinationmanager/eloqua/testdata/uploadDataIdentify.txt
  router/batchrouter/asyncdestinationmanager/eloqua/utils.go
  router/batchrouter/handle_async.go
Labels: with tests, server-team

#3875 refactor: use new reloadable config api in processor and gateway
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  backend-config/backend-config.go
  backend-config/backend_config_test.go
  enterprise/replay/setup.go
  enterprise/replay/sourceWorker.go
  enterprise/suppress-user/factory.go
  enterprise/suppress-user/repository_bench_test.go
  gateway/gateway_test.go
  gateway/handle.go
  gateway/handle_lifecycle.go
  gateway/webhook/configuration.go
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
  gateway/webhook/webhook_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/stash/stash.go
  processor/trackingplan.go
  processor/transformer/transformer.go
  processor/transformer/transformer_test.go
  processor/worker.go
  processor/worker_handle.go
  processor/worker_test.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_lifecycle.go
  router/manager/manager_test.go
  router/router_test.go
  router/types.go
  runner/runner.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_test.go
  services/debugger/cache/internal/memory/memory.go
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/destination/eventDeliveryStatusUploader_test.go
  services/debugger/source/eventUploader.go
  services/debugger/source/eventUploader_test.go
  services/debugger/transformation/transformationStatusUploader.go
  services/debugger/transformation/transformationStatusUploader_test.go
  services/debugger/uploader.go
  services/debugger/uploader_test.go
  services/dedup/badger.go
  services/dedup/dedup.go
  services/pgnotifier/pgnotifier.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  utils/misc/value_loader.go
  warehouse/archive/archiver.go
  warehouse/encoding/encoding.go
Labels: with tests, warehouse-team

#3755 chore: alerting on reports pileup
  enterprise/reporting/reporting.go
Labels: server-team

#3878 chore: better log message
  processor/eventfilter/eventfilter.go
Labels: server-team

#3887 fix: jobsdb ds max table size
  jobsdb/jobsdb.go
Labels: server-team

#3881 fix: detected illegal job sequence during barrier enter/wait
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#3885 chore: don't create custom destination clients for disabled destination
  router/customdestinationmanager/customdestinationmanager.go
Labels: server-team

#3889 chore(batchrouter): decouple upload frequency from main loop frequency
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_lifecycle.go
Labels: with tests, server-team

#3883 fix: error message for deltalake during test connection
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
  warehouse/validations/validations.go
Labels: with tests, warehouse-team

#3884 fix: sample duplicate messagesids for snowflake
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
Labels: with tests, warehouse-team

#3891 chore: release 1.14.0
  CHANGELOG.md
Labels: autorelease: pending

#3880 chore: upgrade go mod replace versions
  Dockerfile
  go.mod
  go.sum
  router/internal/partition/stats.go
  warehouse/internal/loadfiles/loadfiles.go
Labels: warehouse-team

#3867 chore: cleanup notifier
  runner/runner.go
  services/notifier/notifier.go
  services/notifier/notifier_test.go
  services/notifier/repo.go
  services/notifier/repo_test.go
  services/pgnotifier/pgnotifier.go
  warehouse/http.go
  warehouse/http_test.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/loadfiles_test.go
  warehouse/internal/loadfiles/mock_notifier_test.go
  warehouse/jobs/http.go
  warehouse/jobs/http_test.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/router.go
  warehouse/router_test.go
  warehouse/slave.go
  warehouse/slave_test.go
  warehouse/slave_worker.go
  warehouse/slave_worker_job_test.go
  warehouse/slave_worker_test.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3852 chore: add rsources stats for dropped events at processor
  processor/events_response.go
  processor/processor.go
  processor/processor_test.go
  processor/transformer/transformer.go
  services/debugger/transformation/transformationStatusUploader.go
  services/rsources/stats_collector.go
  services/rsources/stats_collector_test.go
Labels: with tests, server-team

#3780 chore: use memoized payloadFunc for dedup
  processor/processor.go
Labels: server-team

#3888 chore: moving uploadSchema into UploadJob
  warehouse/internal/repo/upload.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/upload.go
Labels: with tests, warehouse-team

#3898 fix: router transformer client fails with error connect: cannot assign requested address
  processor/transformer/transformer.go
  router/transformer/transformer.go
Labels: server-team

#3901 chore: applying 1.14.1 hotfixes to main branch
  CHANGELOG.md
  processor/transformer/transformer.go
  router/transformer/transformer.go
Labels: server-team

#3893 chore: cleanup JobsDB.useSingleGetJobsQuery config option
  jobsdb/jobsdb.go
  processor/stash/stash.go
  router/batchrouter/handle.go
  router/handle.go
  router/internal/jobiterator/jobiterator.go
Labels: server-team

#3902 chore: fix archiver test - inconsistent number of files
  archiver/archiver_test.go
Labels: with tests, server-team

#3907 fix: googlecloudfunction destination implementation and refactor code
  mocks/services/streammanager/googlecloudfunction/mock_googlecloudfunction.go
  services/streammanager/googlecloudfunction/googlecloudfunction.go
  services/streammanager/googlecloudfunction/googlecloudfunction_test.go
  services/streammanager/streammanager.go
Labels: with tests, server-team

#3909 chore: use the new reloadable config api in reporting
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
Labels: server-team

#3834 chore: support replay with new file format
  app/apphandlers/embeddedAppHandler.go
  app/features.go
  enterprise/replay/dumpsloader.go
  enterprise/replay/dumpsloader/dumpsloader.go
  enterprise/replay/dumpsloader/gwreplay.go
  enterprise/replay/dumpsloader/procreplay.go
  enterprise/replay/replay.go
  enterprise/replay/replayer/replay.go
  enterprise/replay/replayer/sourceWorker.go
  enterprise/replay/replayer/transformer.go
  enterprise/replay/setup.go
  enterprise/replay/utils/utils.go
  enterprise/reporting/error_extractor.go
  integration_test/docker_test/docker_test.go
  jobsdb/jobsdb.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3900 chore: warehouse schema race and cleanup
  Makefile
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/internal/mocks/utils/mock_uploader.go
  warehouse/jobs/jobs.go
  warehouse/router_identities.go
  warehouse/schema/schema.go
  warehouse/schema/schema_test.go
  warehouse/slave_worker.go
  warehouse/slave_worker_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
Labels: with tests, warehouse-team

#3911 fix: replay request fails with 400 - request neither has anonymousId nor userId
  backend-config/replay_types.go
  backend-config/replay_types_test.go
  backend-config/types.go
  gateway/gateway_test.go
  gateway/handle.go
Labels: with tests, server-team

#3913 fix: event schema versions without a sample event
  proto/event-schema/types.helper.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
Labels: server-team

#3862 chore: app for warehouse
  runner/runner.go
  warehouse/admin.go
  warehouse/archive/archiver.go
  warehouse/archive/archiver_test.go
  warehouse/backend_config_test.go
  warehouse/client/client.go
  warehouse/encoding/encoding.go
  warehouse/grpc.go
  warehouse/grpc_test.go
  warehouse/http.go
  warehouse/http_test.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/repo/schema.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/upload.go
  warehouse/jobs/http_test.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/mode.go
  warehouse/router.go
  warehouse/router_identities.go
  warehouse/router_scheduling.go
  warehouse/router_scheduling_test.go
  warehouse/router_test.go
  warehouse/router_tracker.go
  warehouse/router_tracker_test.go
  warehouse/slave_test.go
  warehouse/slave_worker_job.go
  warehouse/slave_worker_test.go
  warehouse/upload.go
  warehouse/upload_stats.go
  warehouse/upload_stats_test.go
  warehouse/upload_test.go
  warehouse/warehouse.go
  warehouse/warehouse_suite_test.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3915 fix: test ssh
  services/streammanager/kafka/client/client_test.go
Labels: with tests, server-team

#3918 chore: sampling errors if no message in the batch succeeds
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3921 fix: invalid JobsDB.backup.pathPrefix configuration
  jobsdb/jobsdb.go
Labels: server-team

#3859 feat: added flags for event audit
  archiver/archiver_isolation_test.go
  backend-config/backend-config.go
  backend-config/replay_types.go
  backend-config/types.go
  processor/processor.go
  processor/processor_test.go
  schema-forwarder/internal/testdata/configdata.go
Labels: with tests, server-team

#3922 chore: applying 1.14.2 hotfixes to main branch
  CHANGELOG.md
  mocks/services/streammanager/googlecloudfunction/mock_googlecloudfunction.go
  services/streammanager/googlecloudfunction/googlecloudfunction.go
  services/streammanager/googlecloudfunction/googlecloudfunction_test.go
  services/streammanager/streammanager.go
Labels: with tests, server-team

#3924 chore: added flags for event audit
  archiver/archiver_isolation_test.go
  backend-config/backend-config.go
  backend-config/replay_types.go
  backend-config/types.go
  processor/processor.go
  processor/processor_test.go
  schema-forwarder/internal/testdata/configdata.go
Labels: with tests, server-team

#3919 chore: rsources tests - postgres resources use different creds
  services/rsources/handler.go
  services/rsources/handler_test.go
Labels: with tests, server-team

#3927 fix: use dedup on new records for deltalake
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#3928 chore: release 1.14.4
  CHANGELOG.md
Labels: autorelease: pending

#3912 refactor: reporting feature
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/features.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/mediator.go
  enterprise/reporting/noop.go
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_test.go
  enterprise/reporting/setup.go
  enterprise/reporting/setup_test.go
  mocks/utils/types/mock_types.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/handle_lifecycle.go
  router/factory.go
  router/handle_lifecycle.go
  services/rsources/handler.go
  utils/types/reporting_types.go
  utils/types/types.go
  warehouse/router.go
  warehouse/router_test.go
  warehouse/upload.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3929 chore: applying 1.14.4 hotfixes to main branch
  CHANGELOG.md
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#3917 chore: adding missing query types
  warehouse/utils/querytype.go
  warehouse/utils/querytype_benchmark_test.go
  warehouse/utils/querytype_test.go
Labels: with tests, warehouse-team
