Repository rudderlabs/rudder-server, pull requests merged in 2023-04, with the labels that each got.

#3134 fix: roleBasedAuth parameter wasn't being set correctly
  utils/awsutils/session.go
  utils/awsutils/session_test.go
Labels: with tests, server-team

#3153 fix: add externalID to S3 file uploader config
  services/filemanager/filemanager.go
  services/fileuploader/fileuploader.go
  services/fileuploader/fileuploader_test.go
  warehouse/api.go
Labels: with tests, warehouse-team

#3158 chore: use tmpdir
  enterprise/replay/dumpsloader.go
Labels: server-team

#3150 chore: updating error mappings
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/testdata/errors/RS
  warehouse/testdata/errors/SNOWFLAKE
Labels: warehouse-team

#3160 chore: applying 1.7.3 hotfixes to main branch
  CHANGELOG.md
  services/filemanager/filemanager.go
  services/fileuploader/fileuploader.go
  services/fileuploader/fileuploader_test.go
  warehouse/api.go
Labels: with tests, warehouse-team

#3159 fix: stats come first
  regulation-worker/cmd/main.go
  runner/runner.go
Labels: server-team

#3116 feat: rudder-server modification to use suppression-backup service.
  enterprise/suppress-user/factory.go
  enterprise/suppress-user/factory_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  enterprise/suppress-user/model/model.go
  enterprise/suppress-user/repo_switch.go
  enterprise/suppress-user/testdata/full-export
  enterprise/suppress-user/testdata/latest-export
Labels: with tests, server-team

#3163 fix: illegal job order with maxRetriesLimitReached
  router/router.go
  router/router_test.go
Labels: with tests, server-team

#3168 chore: remove readonlyjobsdb and some status handlers
  admin/admin.go
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  backend-config/admin.go
  backend-config/backend-config.go
  event-schema/event_schema_test.go
  gateway/admin.go
  gateway/gateway.go
  jobsdb/admin.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/readonly_jobsdb.go
  jobsdb/readonly_jobsdb_test.go
  mocks/jobsdb/mock_jobsdb.go
  processor/manager_test.go
  processor/processor.go
  processor/stash/admin.go
  processor/stash/stash_test.go
  processor/transformqueue.go
  router/admin.go
  router/batchrouter/admin.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/manager/manager_test.go
  router/router.go
  router/router_test.go
  runner/runner.go
Labels: with tests, server-team

#3151 chore: kafka batching
  go.mod
  go.sum
  integration_test/kafka_batching/kafka_batching_test.go
  integration_test/kafka_batching/testdata/backend_config.json
  services/streammanager/kafka/client/producer.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3179 feat: kafka compression
  Makefile
  services/streammanager/kafka/client/compression_benchmark_results.txt
  services/streammanager/kafka/client/compression_benchmark_test.go
  services/streammanager/kafka/client/producer.go
  services/streammanager/kafka/kafkamanager.go
  testhelper/destination/kafka/kafka.go
  utils/tcpproxy/tcpproxy.go
Labels: with tests, server-team

#3180 fix: redshift staging table creation
  warehouse/integrations/redshift/redshift.go
Labels: warehouse-team

#3191 fix: error messages map !initialized in gateway
  gateway/gateway.go
  jobsdb/jobsdb.go
Labels: server-team

#3192 chore: remove jobsdb status handler
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_test.go
  jobsdb/migration_test.go
  jobsdb/unionQuery_test.go
  processor/manager_test.go
Labels: with tests, server-team

#3186 chore: access denied for s3 datalake
  warehouse/integrations/datalake/datalake.go
  warehouse/testdata/errors/S3_DATALAKE
Labels: warehouse-team

#3182 chore: error enrichment for redshift
  warehouse/integrations/redshift/redshift.go
Labels: warehouse-team

#3185 chore: bigquery query rate limited
  warehouse/integrations/bigquery/bigquery.go
  warehouse/testdata/errors/BQ
Labels: warehouse-team

#3190 feat(warehouse): middleware for sql warehouse integrations queries
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/logfield/logfield.go
Labels: with tests, warehouse-team

#3148 feat: databricks compatible go driver
  go.mod
  go.sum
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake-native/deltalake_suite_test.go
  warehouse/integrations/deltalake-native/deltalake_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/testdata/workspaceConfig/template.json
  warehouse/integrations/testhelper/setup.go
Labels: with tests, warehouse-team

#3202 chore: remove global pkglogger from warehouse integrations
  runner/runner.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/deltalake-native/deltalake_test.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/diagnostic_test.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/upload_test.go
  warehouse/validations/validate_test.go
  warehouse/validations/validations_test.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3208 chore: cleanup of unnecessary connection-tester
  router/batchrouter/batchrouter.go
  runner/runner.go
  services/destination-connection-tester/destination_connection_tester.go
  services/destination-connection-tester/destination_connection_tester_suite_test.go
  services/destination-connection-tester/destination_connection_tester_test.go
Labels: with tests, server-team

#3195 fix: remove logging in messages potentially leaking creds
  warehouse/internal/api/http.go
  warehouse/warehouse.go
Labels: warehouse-team

#3203 fix: no need for setup during warehouse crash recovery
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/service/recovery.go
  warehouse/internal/service/recovery_test.go
Labels: with tests, warehouse-team

#3209 chore: kit v0.12.0
  app/cluster/state/etcd.go
  cmd/benchmark/throttling/main.go
  cmd/devtool/commands/etcd.go
  gateway/throttler/throttler.go
  gateway/throttler/throttler_test.go
  go.mod
  go.sum
  integration_test/docker_test/docker_test.go
  integration_test/multi_tentant_test/multi_tenant_test.go
  internal/throttling/benchmark_test.go
  internal/throttling/cachettl/cachettl.go
  internal/throttling/cachettl/cachettl_test.go
  internal/throttling/lua/gcra.lua
  internal/throttling/lua/sortedset.lua
  internal/throttling/memory_gcra.go
  internal/throttling/options.go
  internal/throttling/return.go
  internal/throttling/throttling.go
  internal/throttling/throttling_test.go
  internal/throttling/util_test.go
  processor/processor.go
  processor/trackingplan.go
  router/throttler/throttler.go
  testhelper/destination/redis.go
  utils/misc/misc.go
  utils/misc/misc_test.go
Labels: with tests, server-team

#3201 feat(processor): forward events to new events-schema jobsDB
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  backend-config/types.go
  go.mod
  go.sum
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#3215 fix(destination): connection mode filter logic
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  backend-config/backend-config.go
  backend-config/backend_config_test.go
  backend-config/types.go
  go.mod
  go.sum
  processor/eventfilter/eventfilter.go
  processor/eventfilter/eventfilter_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  processor/transformer/transformer.go
Labels: Do not merge, testing, with tests, server-team, integrations-team

#3217 chore: bump kafka-go and gosnowflake
  .github/workflows/tests.yaml
  .github/workflows/verify.yml
  gateway/gateway_test.go
  go.mod
  go.sum
  router/router_dest_isolation_test.go
  suppression-backup-service/exporter/exporter_test.go
  suppression-backup-service/exporter/testdata/goldenFile.txt
Labels: with tests, server-team

#3223 chore: upgrade direct dependencies
  go.mod
  go.sum
  regulation-worker/internal/delete/api/api_test.go
Labels: with tests, server-team

#3138 feat(processor): enhance reports to hold transformation and tracking plan metrics
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_test.go
  processor/processor.go
  processor/processor_test.go
  processor/trackingplan.go
  processor/transformer/transformer.go
  router/batchrouter/batchrouter.go
  router/router.go
  sql/migrations/reports/000004_alter_reports_add_tr_tp_columns.up.sql
  utils/types/reporting_types.go
Labels: with tests, server-team

#3230 chore: refactor regulation worker integration test
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/delete/delete.go
  regulation-worker/internal/delete/kvstore/kvstore.go
  testhelper/destination/minio.go
  warehouse/integrations/testhelper/setup.go
  warehouse/internal/service/loadfiles/downloader/downloader_test.go
Labels: with tests, warehouse-team

#3232 chore: lock bitnami test image versions
  testhelper/destination/kafka/kafka.go
Labels: server-team

#3146 feat: schema forwarder
  .github/workflows/verify.yml
  Makefile
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/apphandlers/setup_test.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  app/cluster/state/etcd.go
  gateway/integration_test.go
  go.mod
  go.sum
  integration_test/docker_test/docker_test.go
  integration_test/kafka_batching/kafka_batching_test.go
  integration_test/multi_tenant_test/multi_tenant_test.go
  integration_test/multi_tenant_test/testdata/expected_features.json
  integration_test/multi_tenant_test/testdata/mtGatewayTest01.json
  integration_test/multi_tenant_test/testdata/mtGatewayTest02.json
  internal/pulsar/pulsar.go
  internal/pulsar/pulsar_test.go
  jobsdb/jobsdb.go
  mocks/jobs-forwarder/mock_jobs_forwarder.go
  proto/common/dpauth.pb.go
  proto/common/dpauth_grpc.pb.go
  proto/databricks/databricks.pb.go
  proto/databricks/databricks_grpc.pb.go
  proto/databricks/version.pb.go
  proto/databricks/version_grpc.pb.go
  proto/event-schema/types.helper.go
  proto/event-schema/types.pb.go
  proto/event-schema/types.proto
  proto/rudder-sources/rudder-sources.pb.go
  proto/rudder-sources/rudder-sources_grpc.pb.go
  proto/warehouse/warehouse.pb.go
  proto/warehouse/warehouse_grpc.pb.go
  router/batchrouter/batchrouter.go
  schema-forwarder/internal/forwarder/abortingforwarder.go
  schema-forwarder/internal/forwarder/abortingforwarder_test.go
  schema-forwarder/internal/forwarder/baseforwarder.go
  schema-forwarder/internal/forwarder/baseforwarder_test.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  schema-forwarder/internal/forwarder/jobsforwarder_test.go
  schema-forwarder/internal/forwarder/sampler.go
  schema-forwarder/internal/forwarder/sampler_test.go
  schema-forwarder/internal/testdata/configdata.go
  schema-forwarder/internal/testdata/testevents.go
  schema-forwarder/internal/transformer/transformer.go
  schema-forwarder/internal/transformer/transformer_test.go
  schema-forwarder/internal/transformer/types.go
  schema-forwarder/setup.go
Labels: with tests, server-team

#3187 feat: source level isolation at processor
  enterprise/replay/replay.go
  enterprise/replay/sourceWorker.go
  gateway/webhook/webhook.go
  go.mod
  go.sum
  jobsdb/admin.go
  jobsdb/internal/cache/cache.go
  jobsdb/internal/cache/cache_internal_test.go
  jobsdb/internal/cache/cache_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_backup_test.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_test.go
  jobsdb/jobsdb_utils.go
  jobsdb/unionQuery.go
  mocks/jobsdb/mock_jobsdb.go
  processor/integrations/integrations.go
  processor/isolation/isolation.go
  processor/processor.go
  processor/processor_isolation_test.go
  processor/processor_test.go
  processor/stash/stash.go
  processor/testdata/procIsolationTestTemplate.json.tpl
  router/batchrouter/batchrouter.go
  router/customdestinationmanager/customdestinationmanager.go
  router/manager/manager.go
  router/router.go
  router/utils/utils.go
  schema-forwarder/internal/forwarder/abortingforwarder.go
  schema-forwarder/internal/forwarder/baseforwarder_test.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  services/debugger/source/eventUploader.go
  services/streammanager/kafka/client/client_test.go
  sql/migrations/jobsdb/000012_add_param_indexes.up.tmpl
  sql/migrations/jobsdb_always/000012_add_param_indexes.up.tmpl
  utils/misc/misc.go
  utils/misc/misc_test.go
  warehouse/api.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/retry.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/stats.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3188 feat(destination): support event filtering in a scalable way for hybrid & cloud modes
  backend-config/types.go
  processor/eventfilter/eventfilter.go
  processor/eventfilter/eventfilter_test.go
  processor/processor.go
  processor/processor_test.go
  processor/transformer/transformer.go
  services/oauth/oauth.go
  utils/misc/misc.go
  utils/misc/misc_test.go
Labels: with tests, server-team, integrations-team

#3231 chore: added transactions to sqlquerywrapper
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
Labels: with tests, warehouse-team

#3238 fix: update lo to slices in eventfilter package
  processor/eventfilter/eventfilter.go
Labels: server-team, integrations-team

#3136 chore: change stash defaults
  integration_test/docker_test/docker_test.go
  processor/processor_test.go
  processor/stash/stash.go
Labels: with tests, server-team

#3212 chore: add sql middleware to for warehouse
  .github/workflows/tests.yaml
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/middleware/middleware.go
  warehouse/integrations/bigquery/middleware/middleware_test.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/testhelper/setup.go
  warehouse/upload_test.go
Labels: with tests, warehouse-team

#3239 fix: add numeric scale precision to snowflake
  warehouse/integrations/snowflake/datatype_mapper.go
  warehouse/integrations/snowflake/datatype_mapper_test.go
  warehouse/integrations/snowflake/snowflake.go
Labels: with tests, warehouse-team
