Repository rudderlabs/rudder-server, pull requests merged in 2023-06, with the labels that each got.

#3430 chore: fix idle query
  warehouse/warehouse.go
Labels: warehouse-team

#3435 chore: set limits for event schema messages and discard messages above these limits
  schema-forwarder/internal/transformer/transformer.go
  schema-forwarder/internal/transformer/transformer_test.go
  schema-forwarder/internal/transformer/types.go
Labels: with tests, server-team

#3444 update message structure of bingads_audience
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
Labels: server-team

#3443 chore: upgrade golangci version and lint fixes
  .github/workflows/verify.yml
  Makefile
  build/wait-for-go/wait-for.go
  jobsdb/admin.go
  jobsdb/backup.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_utils.go
  jobsdb/migration.go
  router/eventorder_test.go
  services/multitenant/tenantstats.go
  services/pgnotifier/pgnotifier.go
  services/validators/envValidator.go
  utils/misc/dbutils.go
  utils/misc/misc.go
  warehouse/api.go
  warehouse/archive/archiver.go
  warehouse/client/client.go
  warehouse/identity/identity.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/upload.go
  warehouse/upload.go
Labels: with tests, warehouse-team

#3419 fix: respect user schema modification by user in warehouse
  warehouse/schema.go
  warehouse/schema_test.go
Labels: with tests, warehouse-team

#3447 fix: kafka flaky batching test
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3434 chore: vaccum status tables if they cross threshold
  jobsdb/backup.go
  jobsdb/jobsdb.go
  jobsdb/migration.go
  jobsdb/migration_test.go
Labels: with tests, server-team

#3428 chore(processor): support multiple jobsdb writers when source isolation is enabled
  processor/processor.go
Labels: server-team

#3446 chore: add resp body status check
  processor/transformer/transformer.go
Labels: server-team

#3452 chore: release 1.9.4
  CHANGELOG.md
Labels: autorelease: pending

#3439 feat: facade implementation for reporting
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  app/features.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/mediator.go
  enterprise/reporting/reporting_test.go
  enterprise/reporting/setup.go
  enterprise/reporting/setup_test.go
  mocks/utils/types/mock_types.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  router/factory.go
  router/manager/manager_test.go
  router/router.go
  router/router_test.go
  utils/types/reporting_types.go
  utils/types/types.go
  warehouse/upload.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team, integrations-team

#3454 chore: applying 1.9.4 hotfixes to main branch
  CHANGELOG.md
  processor/transformer/transformer.go
Labels: server-team

#3455 chore.bing ads
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/base.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/bulk.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/client.go
  router/batchrouter/batchrouter_test.go
Labels: with tests, server-team

#3460 fix: flag for warehouse altering
  warehouse/upload.go
Labels: warehouse-team

#3463 chore: release 1.9.5
  CHANGELOG.md
Labels: autorelease: pending

#3429 feat(brt): onboarding bing ads audience bulk upload poll function
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/base.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/bulk.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/client.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle_async.go
Labels: Do not merge, with tests, server-team, integrations-team

#3462 feat(brt): adding unit test cases for bingads audience bulk upload
  go.mod
  go.sum
  mocks/router/bingads/mock_bulkservice.go
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/base.go
Labels: with tests, server-team

#3464 fix: migration fails with error pq: VACUUM cannot run inside a transaction block
  jobsdb/backup.go
  jobsdb/migration.go
  jobsdb/migration_test.go
  services/dedup/dedup_test.go
Labels: with tests, server-team

#3465 chore: kafka manager errors
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3467 fix: router panics with limit for rt_pickup must be greater than 0
  router/handle_lifecycle.go
Labels: server-team

#3468 chore: remove namespace tag from measurements
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
Labels: warehouse-team

#3476 fix: warehouse proxy endpoints
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#3477 chore: release 1.9.6
  CHANGELOG.md
Labels: autorelease: pending

#3471 feat: adding primary unit test case for poll function
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/common/common.go
Labels: with tests, server-team, integrations-team

#3479 chore: add unit test cases to bingAds
  go.mod
  go.sum
  mocks/router/bingads/mock_bulkservice.go
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_sdk/base.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle_lifecycle.go
Labels: with tests, server-team

#3491 chore(router): observability on job iterator discards & stop iteration if throttled with destination isolation enabled
  router/handle.go
  router/isolation/isolation.go
  router/isolation/isolation_test.go
  router/router_test.go
  router/types/types.go
Labels: with tests, server-team

#3490 chore: using parquet-rudderlabs-go
  go.mod
  go.sum
  regulation-worker/internal/delete/batch/filehandler/testdata/expected_test_tracks_filtered.parquet
  warehouse/encoding/encoding_test.go
Labels: with tests, warehouse-team

#3478 chore: avoid querying a dataset in case AfterJobID falls after said dataset
  jobsdb/jobsdb.go
Labels: server-team

#3499 fix: error extraction for errors in destination transformation
  enterprise/reporting/error_extractor.go
  enterprise/reporting/reporting_test.go
Labels: with tests, server-team

#3420 chore: jobsdb max age for jobs, cleanup routine
  jobsdb/admin.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
Labels: with tests, server-team

#3448 chore: clean up warehouse indexes and queries
  sql/migrations/warehouse/000022_alter_wh_indexes.up.sql
  warehouse/db.go
  warehouse/internal/repo/staging.go
  warehouse/warehouse.go
Labels: warehouse-team

#3504 chore: add support for detecting bot events in gateway
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/internal/bot/bot.go
  gateway/internal/bot/bot_test.go
  gateway/internal/stats/stats.go
Labels: with tests, server-team

#3512 fix: add unit test cases to bingads bulk upload
  mocks/router/bingads/mock_bulkUtils.go
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/statuscheck.zip
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/uploadData.txt
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/uploadstatus.csv
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle.go
  router/batchrouter/handle_lifecycle.go
Labels: with tests, server-team

#3526 fix(gateway): method for /fetch-tables
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#3527 fix(gateway): use get method for /fetch-tables
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#3532 chore: release 1.9.7
  CHANGELOG.md
Labels: autorelease: pending

#3524 chore: source transformation failures stat
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
Labels: with tests, server-team

#3433 chore: timeout for warehouse sql queries
  services/pgnotifier/pgnotifier.go
  warehouse/admin.go
  warehouse/api.go
  warehouse/db.go
  warehouse/identities.go
  warehouse/identity/identity.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/datalake/schema-repository/schema_repository_test.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/repo.go
  warehouse/internal/repo/schema.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3540 chore(gateway): move warehouse fetch tables under internal
  gateway/gateway.go
  gateway/gateway_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3541 chore: source transformation failures stat tag correction
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
Labels: with tests, server-team

#3513 chore: release 1.10.0
  CHANGELOG.md
Labels: autorelease: pending

#3548 chore: merge release 1.10.0 in main branch
  CHANGELOG.md
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
  router/handle_lifecycle.go
  services/pgnotifier/pgnotifier.go
  sql/migrations/warehouse/000023_alter_wh_add_index_wh_load_files.up.sql
  warehouse/admin.go
  warehouse/api.go
  warehouse/db.go
  warehouse/identities.go
  warehouse/identity/identity.go
  warehouse/integrations/datalake/schema-repository/schema_repository.go
  warehouse/integrations/datalake/schema-repository/schema_repository_test.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/repo.go
  warehouse/internal/repo/schema.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/schema.go
  warehouse/slave.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3534 refactor: minor processor refactor for error handling and readability
  processor/processor.go
  utils/misc/misc.go
  utils/types/types.go
Labels: server-team

#3549 chore: exclude attempt from metrics
  warehouse/stats.go
  warehouse/upload.go
Labels: warehouse-team

#3551 chore: drop attempt_number tag from metrics
  router/batchrouter/handle.go
  router/batchrouter/handle_observability.go
  router/worker.go
  services/diagnostics/diagnostics.go
Labels: server-team

#3521 chore: drop union query, fair pickup and multitenant handle
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  config/config.yaml
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/unionQuery.go
  jobsdb/unionQueryLegacy.go
  jobsdb/unionQuery_test.go
  mocks/jobsdb/mock_jobsdb.go
  mocks/jobsdb/mock_unionQuery.go
  mocks/services/multitenant/mock_tenantstats.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/factory.go
  router/batchrouter/handle.go
  router/batchrouter/handle_lifecycle.go
  router/eventorder_test.go
  router/factory.go
  router/handle.go
  router/handle_lifecycle.go
  router/internal/jobiterator/jobiterator.go
  router/internal/jobiterator/jobiterator_test.go
  router/isolation/isolation.go
  router/manager/manager_test.go
  router/partition_worker.go
  router/router_test.go
  router/worker.go
  runner/runner.go
  services/multitenant/legacy.go
  services/multitenant/tenantstats.go
  services/multitenant/tenantstats_test.go
  utils/misc/misc.go
Labels: with tests, server-team

#3566 chore: typo for workspaceId in stats
  warehouse/internal/api/http.go
Labels: warehouse-team

#3560 chore: support replay with iam role
  enterprise/replay/setup.go
Labels: server-team

#3559 chore(jobsdb): dsList lock performance improvements
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  jobsdb/migration.go
Labels: with tests, server-team

#3554 chore: gateway_response_time buckets
  integration_test/kafka_batching/kafka_batching_test.go
  runner/buckets.go
  runner/runner.go
Labels: with tests, server-team

#3565 feat: bingads audience adding support for multiple action polling and response parsing
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/test-files/uploadData.txt
  router/batchrouter/asyncdestinationmanager/bing-ads/util.go
  router/batchrouter/asyncdestinationmanager/common/common.go
Labels: with tests, server-team, integrations-team
