Repository rudderlabs/rudder-server, pull requests merged in 2023-08, with the labels that each got.

#3692 fix: send last error response for aborted jobs to reporting
  router/router_test.go
  router/worker.go
Labels: with tests, server-team

#3688 chore: gateway backend config initialisation improvements
  backend-config/backend-config.go
  backend-config/backend_config_test.go
  gateway/gateway.go
Labels: with tests, server-team

#3696 fix: batch router attemptnos
  router/batchrouter/asyncdestinationmanager/bing-ads/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/handle_async.go
Labels: server-team

#3695 chore: drop failing backups after few retries
  jobsdb/backup.go
Labels: server-team

#3701 chore: increase transformer request timeouts
  processor/transformer/transformer.go
  router/handle.go
  router/handle_lifecycle.go
  router/transformer/transformer.go
  router/worker.go
Labels: server-team

#3602 chore: warehouse backend config refactoring
  integration_test/docker_test/docker_test.go
  runner/runner.go
  warehouse/admin.go
  warehouse/api.go
  warehouse/backend_config.go
  warehouse/backend_config_test.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/multitenant/manager.go
  warehouse/retry.go
  warehouse/scheduling_test.go
  warehouse/stats_test.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#3714 fix(jobsdb): when running in embedded mode migration fails with column workspace_id does not exist
  app/apphandlers/embeddedAppHandler.go
Labels: server-team

#3715 chore: release 1.11.4
  CHANGELOG.md
Labels: autorelease: pending

#3716 chore: applying 1.11.4 hotfixes to main branch
  CHANGELOG.md
  app/apphandlers/embeddedAppHandler.go
Labels: server-team

#3708 refactor: gateway
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  gateway/configuration.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/handle.go
  gateway/handle_config.go
  gateway/handle_http.go
  gateway/handle_lifecycle.go
  gateway/import_handler.go
  gateway/regular_handler.go
  gateway/types.go
  runner/runner.go
Labels: with tests, server-team

#3698 fix: batch router attemptnos, reports, rsources stats
  router/batchrouter/asyncdestinationmanager/bing-ads/util.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/manager/manager.go
  utils/misc/misc.go
Labels: server-team

#3371 feat: bing ads bulk upload
  go.mod
  go.sum
  mocks/router/bingads/mock_bulkservice.go
  router/batchrouter/asyncdestinationmanager/asyncdestinationmanager.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_suite_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/bulk_uploader.go
  router/batchrouter/asyncdestinationmanager/bing-ads/manager.go
  router/batchrouter/asyncdestinationmanager/bing-ads/testdata/status-check.zip
  router/batchrouter/asyncdestinationmanager/bing-ads/testdata/uploadData.txt
  router/batchrouter/asyncdestinationmanager/bing-ads/token.go
  router/batchrouter/asyncdestinationmanager/bing-ads/types.go
  router/batchrouter/asyncdestinationmanager/bing-ads/util.go
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/common/manager.go
  router/batchrouter/asyncdestinationmanager/manager.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/batchrouter.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_lifecycle.go
  router/batchrouter/handle_observability.go
  router/batchrouter/types.go
  router/batchrouter/util.go
  router/manager/manager.go
  router/utils/utils.go
  utils/misc/misc.go
Labels: with tests, server-team, integrations-team

#3726 chore: archiver cleanup
  warehouse/archive/archiver.go
  warehouse/archive/archiver_test.go
  warehouse/jobs/runner.go
  warehouse/warehouse.go
Labels: Do not merge, with tests, warehouse-team

#3703 feat: parse replay configuration from backend config
  backend-config/namespace_config.go
  backend-config/replay_types.go
  backend-config/replay_types_test.go
  backend-config/single_workspace.go
  backend-config/types.go
Labels: with tests, server-team

#3730 chore: introduce source category for deduplication
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
Labels: warehouse-team

#3737 fix: illegal job sequence during barrier enter in router pickup
  router/handle.go
Labels: server-team

#3735 chore: remove Init and exported struct variables from Archiver
  runner/runner.go
  warehouse/archive/archiver.go
  warehouse/archive/archiver_test.go
  warehouse/archive/cron.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3728 chore: slave cleanup and introduce tests
  runner/runner.go
  warehouse/constraint.go
  warehouse/constraint_test.go
  warehouse/internal/model/schema.go
  warehouse/slave.go
  warehouse/slave_test.go
  warehouse/slave_worker.go
  warehouse/slave_worker_job.go
  warehouse/slave_worker_job_test.go
  warehouse/slave_worker_test.go
  warehouse/stats.go
  warehouse/testdata/staging.json.gz
  warehouse/types.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3747 chore: release 1.12.0
  CHANGELOG.md
Labels: autorelease: pending

#3750 chore: bingads safetypecast
  router/batchrouter/asyncdestinationmanager/bing-ads/bulk_uploader.go
Labels: server-team

#3751 chore: release 1.12.1
  CHANGELOG.md
Labels: autorelease: pending

#3752 chore: merge release 1.12.1 in main branch
  CHANGELOG.md
  router/batchrouter/asyncdestinationmanager/bing-ads/bulk_uploader.go
Labels: server-team

#3736 refactor(gateway): authentication middlewares and context information
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  gateway/gateway_test.go
  gateway/handle.go
  gateway/handle_config.go
  gateway/handle_diagnostics.go
  gateway/handle_http.go
  gateway/handle_http_auth.go
  gateway/handle_http_auth_test.go
  gateway/handle_http_beacon.go
  gateway/handle_http_beacon_test.go
  gateway/handle_http_import.go
  gateway/handle_http_pixel.go
  gateway/handle_http_pixel_test.go
  gateway/handle_lifecycle.go
  gateway/handle_observability.go
  gateway/handle_webhook.go
  gateway/import_handler.go
  gateway/internal/types/types.go
  gateway/mocks/mockwebhook.go
  gateway/regular_handler.go
  gateway/response/response.go
  gateway/types.go
  gateway/webhook/model/model.go
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
  utils/misc/misc.go
Labels: with tests, server-team

#3721 feat: archive jobs to object storage
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/integration_test.go
  archiver/archiver.go
  archiver/archiver_isolation_test.go
  archiver/archiver_test.go
  archiver/options.go
  archiver/testdata/MultiWorkspaceBackupJobs.json.gz
  archiver/worker.go
  jobsdb/admin.go
  jobsdb/jobsdb.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#3758 chore: remove archival for jobsdb journal tables
  app/cluster/integration_test.go
  archiver/archiver_isolation_test.go
  archiver/archiver_test.go
  event-schema/event_schema_test.go
  jobsdb/admin.go
  jobsdb/archiver.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  processor/manager_test.go
  router/batchrouter/batchrouter_isolation_test.go
  router/manager/manager_test.go
  router/router_isolation_test.go
  runner/runner.go
  schema-forwarder/internal/forwarder/abortingforwarder_test.go
  schema-forwarder/internal/forwarder/baseforwarder_test.go
  schema-forwarder/internal/forwarder/jobsforwarder_test.go
  services/archiver/archiver.go
Labels: with tests, server-team

#3743 chore: uploads cleanup
  .github/tools/matrixchecker/main.go
  runner/runner.go
  warehouse/integrations/config/config.go
  warehouse/router.go
  warehouse/router_test.go
  warehouse/slave_worker.go
  warehouse/slave_worker_job.go
  warehouse/slave_worker_test.go
  warehouse/stats_test.go
  warehouse/upload.go
  warehouse/upload_stats.go
  warehouse/upload_stats_test.go
  warehouse/upload_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3740 chore: introduce encoding factory
  go.mod
  runner/runner.go
  warehouse/encoding/csvloader.go
  warehouse/encoding/csvreader.go
  warehouse/encoding/encoding.go
  warehouse/encoding/encoding_test.go
  warehouse/encoding/eventloader.go
  warehouse/encoding/eventreader.go
  warehouse/encoding/jsonloader.go
  warehouse/encoding/jsonreader.go
  warehouse/encoding/parquetloader.go
  warehouse/encoding/parquetwriter.go
  warehouse/identity/identity.go
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/schema-repository/glue_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/router.go
  warehouse/router_test.go
  warehouse/slave.go
  warehouse/slave_test.go
  warehouse/slave_worker.go
  warehouse/slave_worker_job.go
  warehouse/slave_worker_job_test.go
  warehouse/slave_worker_test.go
  warehouse/upload.go
  warehouse/validations/steps_test.go
  warehouse/validations/validate.go
  warehouse/validations/validate_test.go
  warehouse/validations/validations_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3746 chore: replay internal endpoint
  backend-config/types.go
  gateway/gateway_test.go
  gateway/handle.go
  gateway/handle_http_auth.go
  gateway/handle_http_auth_test.go
  gateway/handle_http_replay.go
  gateway/handle_lifecycle.go
  gateway/internal/types/types.go
  gateway/response/response.go
  processor/processor.go
  processor/processorBenchmark_test.go
  processor/processor_test.go
  processor/trackingplan.go
  processor/worker.go
  router/utils/utils.go
  utils/types/types.go
Labels: with tests, server-team

#3766 chore: deltalake error message length
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
Labels: with tests, warehouse-team

#3771 fix: extend sql middleware for mssql, azure_synapse and clickhouse
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
Labels: warehouse-team

#3764 chore: option to pass *config.Config to jobsdb
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  app/cluster/integration_test.go
  archiver/archiver_isolation_test.go
  archiver/archiver_test.go
  backend-config/internal/cache/cache.go
  event-schema/event_schema.go
  event-schema/event_schema_test.go
  jobsdb/admin.go
  jobsdb/backup.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_renameDs_test.go
  jobsdb/jobsdb_test.go
  jobsdb/migration.go
  jobsdb/migration_test.go
  jobsdb/queued_db_request.go
  jobsdb/queued_db_request_test.go
  jobsdb/setup.go
  mocks/jobsdb/mock_jobsdb.go
  processor/manager_test.go
  processor/stash/stash.go
  router/batchrouter/batchrouter_isolation_test.go
  router/manager/manager_test.go
  router/router_isolation_test.go
  runner/runner.go
  schema-forwarder/internal/forwarder/abortingforwarder_test.go
  schema-forwarder/internal/forwarder/baseforwarder_test.go
  schema-forwarder/internal/forwarder/jobsforwarder_test.go
  services/validators/envValidator.go
  utils/misc/dbutils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3767 chore: cleanup http handlers
  warehouse/archive/archiver_test.go
  warehouse/backend_config_test.go
  warehouse/http.go
  warehouse/http_test.go
  warehouse/internal/api/http.go
  warehouse/internal/api/http_test.go
  warehouse/internal/errors/errors.go
  warehouse/jobs/handlers.go
  warehouse/jobs/http.go
  warehouse/jobs/http_test.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/jobs/utils_test.go
  warehouse/logfield/logfield.go
  warehouse/mode.go
  warehouse/mode_test.go
  warehouse/multitenant/manager.go
  warehouse/multitenant/manager_test.go
  warehouse/router_test.go
  warehouse/slave_worker_test.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#3788 chore: applying 1.12.2 hotfixes to main branch
  CHANGELOG.md
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
Labels: with tests, warehouse-team

#3745 feat: snowflake appendmode
  warehouse/integrations/manager/manager.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/append-job.staging-1.json
  warehouse/integrations/snowflake/testdata/append-job.staging-2.json
  warehouse/integrations/testhelper/setup.go
  warehouse/integrations/testhelper/verify.go
  warehouse/logfield/logfield.go
Labels: with tests, warehouse-team

#3787 chore(router): provide more debug info when detecting an illegal job sequence
  go.mod
  go.sum
  router/eventorder_debugger_test.go
  router/handle_observability.go
  router/internal/eventorder/eventorder.go
  router/misc.go
  router/partition_worker.go
  sql/migrations/node/000011_joborderlog_fn.up.sql
Labels: with tests, server-team

#3778 fix: marketo bulk upload edits
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/marketo-bulk-upload/marketobulkupload.go
  router/batchrouter/handle_async.go
  router/batchrouter/types.go
Labels: server-team, integrations-team

#3759 chore: add support for logging duplicate messageIDs
  warehouse/integrations/snowflake/snowflake.go
  warehouse/logfield/logfield.go
  warehouse/upload.go
  warehouse/utils/context.go
  warehouse/utils/context_test.go
Labels: with tests, warehouse-team

#3799 chore: router_response_counts stat now shows if it's a retry attempt
  router/worker.go
Labels: server-team

#3800 chore: cloud extract should always merge
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
Labels: with tests, warehouse-team

#3801 fix: do not delete staging files when opted for rudderstorge during archival
  warehouse/archive/archiver.go
Labels: warehouse-team

#3808 fix: correct jobsdb table count stat
  jobsdb/jobsdb.go
Labels: server-team

#3768 feat: support `HSET` in redis
  mocks/services/kvstoremanager/mock_kvstoremanager.go
  router/customdestinationmanager/customdestinationmanager.go
  router/customdestinationmanager/customdestinationmanager_test.go
  services/kvstoremanager/kvstoremanager.go
  services/kvstoremanager/redis.go
Labels: with tests, server-team

#3810 fix: don't query db if archival is disabled, set parameters in jobStatus
  archiver/archiver.go
  archiver/archiver_test.go
  archiver/options.go
  archiver/worker.go
  processor/processor.go
Labels: with tests, server-team
