Repository rudderlabs/rudder-server, pull requests merged in 2023-11, with the labels that each got.

#4042 feat: introducing warehouse repo withTx
  warehouse/internal/repo/load.go
  warehouse/internal/repo/repo.go
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/upload.go
Labels: warehouse-team

#4055 fix: don't send error in stats
  warehouse/router/router.go
Labels: warehouse-team

#4053 chore: release 1.16.0
  CHANGELOG.md
Labels: autorelease: pending

#4008 refactor: sources async job
  warehouse/api/http.go
  warehouse/api/http_test.go
  warehouse/app.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/testhelper/setup.go
  warehouse/integrations/testhelper/verify.go
  warehouse/internal/errors/errors.go
  warehouse/internal/model/source.go
  warehouse/internal/model/source_test.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/source.go
  warehouse/internal/repo/source_test.go
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/table_upload_test.go
  warehouse/internal/repo/upload_test.go
  warehouse/jobs/http.go
  warehouse/jobs/http_test.go
  warehouse/jobs/jobs.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/slave/worker.go
  warehouse/slave/worker_test.go
  warehouse/source/http.go
  warehouse/source/http_test.go
  warehouse/source/source.go
  warehouse/source/source_test.go
  warehouse/source/types.go
Labels: with tests, warehouse-team

#4068 fix: minio heathcheck
  warehouse/integrations/testdata/docker-compose.minio.yml
Labels: warehouse-team

#3876 chore: minor processor cleanup
  archiver/archiver_test.go
  processor/processor.go
  processor/processor_test.go
  processor/trackingplan.go
  processor/transformer/transformer.go
  processor/transformer/transformer_test.go
  router/types/types_test.go
Labels: with tests, server-team

#4045 refactor: uploads updates
  warehouse/internal/repo/repo.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#4064 chore: meaningful name for receivers
  warehouse/internal/repo/schema.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/upload.go
Labels: warehouse-team

#4069 chore: set gw rate limits at event level
  gateway/gateway_test.go
  gateway/handle.go
  gateway/throttler/throttler.go
  gateway/throttler/throttler_test.go
  mocks/gateway/throttler.go
Labels: with tests, server-team

#4063 fix: sanitize messageID from \u0000 and irregular utf8 runes
  gateway/gateway_test.go
  gateway/handle.go
  go.mod
  utils/misc/unicode.go
  utils/misc/unicode_test.go
Labels: with tests, server-team

#4033 fix(destination): oauth stats prefix
  regulation-worker/internal/delete/api/api.go
  router/handle.go
  router/worker.go
  services/oauth/oauth.go
Labels: server-team

#3856 chore: support generic rules to have routers drain events
  integration_test/reporting_dropped_events/reporting_dropped_events_test.go
  integration_test/reporting_error_index/reporting_error_index_test.go
  processor/manager.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/batchrouterBenchmark_test.go
  router/batchrouter/batchrouter_test.go
  router/batchrouter/factory.go
  router/batchrouter/handle.go
  router/batchrouter/handle_async.go
  router/batchrouter/handle_lifecycle.go
  router/batchrouter/types.go
  router/batchrouter/types_test.go
  router/batchrouter/worker.go
  router/handle.go
  router/handle_lifecycle.go
  router/router_test.go
  router/types.go
  router/types_test.go
  router/utils/utils.go
  router/worker.go
  utils/types/types.go
Labels: with tests, server-team

#4078 fix: sorting key for error indexing during parquet
  enterprise/reporting/error_index/worker.go
Labels: server-team

#4057 chore: state for uploads
  warehouse/router/identities.go
  warehouse/router/state.go
  warehouse/router/state_test.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#4080 chore: release 1.16.1
  CHANGELOG.md
Labels: autorelease: pending

#4081 chore: adapt health.WaitUntilReady
  warehouse/api/http_test.go
  warehouse/app_test.go
Labels: with tests, warehouse-team

#4079 chore: minor formatting changes
  warehouse/api/grpc.go
  warehouse/client/client.go
  warehouse/client/warehouse_test.go
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/datalake/schema-repository/glue.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/internal/loadfiles/mock_loadfile_repo_test.go
  warehouse/internal/loadfiles/mock_stagefile_repo_test.go
  warehouse/internal/repo/upload.go
  warehouse/router/upload.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#4066 chore: remove workspace ack in multitenant setup [PIPE-474]
  app/cluster/configlifecycle_mock_test.go
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/state/etcd.go
  app/cluster/state/etcd_test.go
  app/cluster/state/static.go
  app/cluster/state/static_test.go
  cmd/devtool/commands/etcd.go
  integration_test/multi_tenant_test/multi_tenant_test.go
  utils/types/workspace/workspace.go
Labels: with tests, server-team

#4090 fix: invalid input syntax for type json for table esch_job_status
  schema-forwarder/internal/forwarder/jobsforwarder.go
Labels: server-team

#4087 chore: have processor dropped stats to include only source info and not destination
  processor/processor.go
  processor/processor_test.go
  services/rsources/stats_collector.go
  services/rsources/stats_collector_test.go
Labels: with tests, server-team

#4098 fix: preferAppend defaults to false if not defined
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/bigquery/testdata/template.json
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/template.json
  warehouse/integrations/testdata/docker-compose.minio.yml
  warehouse/internal/model/warehouse.go
Labels: with tests, warehouse-team

#4100 chore: release 1.16.2
  CHANGELOG.md
Labels: autorelease: pending

#4067 feat(router): disable event order for users with event volume above threshold
  router/eventorder_test.go
  router/handle.go
  router/handle_lifecycle.go
  router/internal/eventorder/eventorder.go
  router/internal/eventorder/eventorder_simulation_test.go
  router/internal/eventorder/eventorder_test.go
  router/partition_worker.go
  router/router_test.go
  router/worker.go
Labels: with tests, server-team

#3879 feat: new event type - record
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/handle.go
  gateway/handle_http_replay.go
  gateway/handle_http_retl.go
  gateway/handle_lifecycle.go
Labels: with tests, server-team

#4092 chore: use latest dependencies for tests
  warehouse/integrations/datalake/testdata/docker-compose.spark.yml
  warehouse/integrations/datalake/testdata/docker-compose.trino.yml
  warehouse/integrations/datalake/testdata/etc/catalog/minio.properties
  warehouse/integrations/datalake/testdata/etc/jvm.config
  warehouse/integrations/postgres/testdata/docker-compose.postgres.yml
  warehouse/integrations/postgres/testdata/docker-compose.ssh-server.yml
  warehouse/integrations/testdata/docker-compose.jobsdb.yml
  warehouse/integrations/tunnelling/testdata/docker-compose.yml
Labels: warehouse-team

#4102 fix: error index sortKey filter based test
  enterprise/reporting/error_index/worker_test.go
Labels: with tests, server-team

#4101 chore: merge release 1.16.2 in main branch
  CHANGELOG.md
  enterprise/reporting/error_index/worker.go
  enterprise/reporting/error_index/worker_test.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/bigquery/testdata/template.json
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/template.json
  warehouse/internal/model/warehouse.go
Labels: with tests, warehouse-team

#4109 chore: remove panic and trigger full update on incremental update failure
  backend-config/namespace_config.go
  backend-config/namespace_config_test.go
Labels: with tests, server-team

#4105 chore: increasing retries for health check for trino
  warehouse/integrations/datalake/testdata/docker-compose.trino.yml
Labels: warehouse-team

#4110 chore: release 1.16.3
  CHANGELOG.md
Labels: autorelease: pending

#4111 chore: applying 1.16.3 hotfixes to main branch
  CHANGELOG.md
  backend-config/namespace_config.go
  backend-config/namespace_config_test.go
Labels: with tests, server-team

#3974 feat: track event delivery stats
  enterprise/reporting/event_stats.go
  enterprise/reporting/event_stats_test.go
  enterprise/reporting/mediator.go
  enterprise/reporting/reporting.go
  enterprise/reporting/reporting_test.go
  enterprise/reporting/setup_test.go
Labels: with tests, server-team

#4076 feat: new sources endpoints
  gateway/handle_lifecycle.go
  services/rsources/handler.go
  services/rsources/handlerv2_test.go
  services/rsources/http/http.go
  services/rsources/http/http_integration_test.go
  services/rsources/http/http_test.go
  services/rsources/http/httpv2_test.go
  services/rsources/mock_rsources.go
  services/rsources/rsources.go
Labels: with tests, server-team

#4077 feat: ketch consent manager cloud mode filtering
  processor/consent.go
  processor/consent_test.go
  processor/processor.go
  processor/processor_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/types.go
  router/batchrouter/asyncdestinationmanager/eloqua/types.go
  schema-forwarder/internal/testdata/configdata.go
Labels: with tests, server-team

#4007 feat: new transformer service to fetch and serve transformer features
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/cluster/integration_test.go
  gateway/gateway_test.go
  gateway/handle_http_auth.go
  gateway/handle_lifecycle.go
  gateway/internal/types/types.go
  gateway/response/response.go
  gateway/webhook/setup.go
  gateway/webhook/webhook.go
  gateway/webhook/webhookTransformer.go
  gateway/webhook/webhookTransformer_test.go
  gateway/webhook/webhook_test.go
  processor/manager.go
  processor/manager_test.go
  processor/processor.go
  processor/processor_test.go
  services/transformer/features.go
  services/transformer/features_impl.go
  services/transformer/features_impl_test.go
  services/transformer/features_suite_test.go
Labels: with tests, server-team, integrations-team

#4119 chore: prerelease 1.17.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#4058 chore: split state machine
  integration_test/warehouse/integration_test.go
  integration_test/warehouse/testdata/docker-compose.ssh-server.yml
  integration_test/warehouse/testdata/ssh-server/test_key
  integration_test/warehouse/testdata/ssh-server/test_key.pub
  warehouse/router/identities.go
  warehouse/router/state_create_schema.go
  warehouse/router/state_create_table_uploads.go
  warehouse/router/state_export_data.go
  warehouse/router/state_generate_load_files.go
  warehouse/router/state_generate_upload_schema.go
  warehouse/router/state_update_table_uploads.go
  warehouse/router/upload.go
Labels: with tests, warehouse-team

#4120 fix: webhook source transformation failed with error: cannot find module
  gateway/gateway_integration_test.go
  gateway/webhook/webhookTransformer.go
  gateway/webhook/webhookTransformer_test.go
  testhelper/backendconfigtest/source_builder.go
Labels: with tests, server-team

#4093 refactor: introduce loadfiles GetByID
  warehouse/internal/model/load.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/load_test.go
  warehouse/router/testdata/sql/stats_test.sql
  warehouse/router/upload_stats.go
  warehouse/router/upload_stats_test.go
Labels: with tests, warehouse-team

#4099 refactor: populate total events
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/table_upload_test.go
  warehouse/router/state_update_table_uploads.go
Labels: with tests, warehouse-team

#4123 chore: prerelease 1.7.0-rc.2
  CHANGELOG.md
Labels: autorelease: pending

#4126 chore: prerelease 1.17.0-rc.2
  CHANGELOG.md
Labels: autorelease: pending

#4127 chore: add a dial timeout of 10 seconds in etcd client during tests
  testhelper/etcd/etcd.go
Labels: server-team

#4128 fix: graceful termination for cron tracker
  warehouse/router/tracker.go
Labels: warehouse-team

#4129 chore: revert append vs merge
  integration_test/warehouse/integration_test.go
  testhelper/clone.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/bigquery/testdata/template.json
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/template.json
  warehouse/internal/model/warehouse.go
  warehouse/logfield/logfield.go
  warehouse/router/router.go
  warehouse/router/upload.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#4132 chore: prerelease 1.17.0-rc.3
  CHANGELOG.md
Labels: autorelease: pending

#4021 chore: linter fixes for enterprise and event-schema in rudder-server
  .golangci.yml
  enterprise/reporting/error_index/error_index_reporting.go
  enterprise/reporting/error_index/worker_test.go
  enterprise/reporting/error_reporting.go
  enterprise/reporting/reporting.go
  enterprise/suppress-user/factory_test.go
  enterprise/suppress-user/handler.go
  enterprise/suppress-user/handler_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  enterprise/suppress-user/internal/memory/memory.go
  enterprise/suppress-user/internal/repotest/repotest.go
  enterprise/suppress-user/model/model.go
Labels: with tests, server-team

#4133 chore: syncing release/1.17.x to master
  integration_test/warehouse/integration_test.go
  testhelper/clone.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/bigquery/testdata/template.json
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/deltalake/testdata/template.json
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/integrations/snowflake/testdata/template.json
  warehouse/internal/model/warehouse.go
  warehouse/logfield/logfield.go
  warehouse/router/router.go
  warehouse/router/upload.go
  warehouse/utils/utils_test.go
Labels: with tests, warehouse-team

#4135 fix: warehouse archiver integration tests
  integration_test/warehouse/integration_test.go
Labels: with tests, server-team

#4122 chore: release 1.17.0
  CHANGELOG.md
Labels: autorelease: pending

#4146 chore: kafka batch integration test
  integration_test/kafka_batching/kafka_batching_test.go
Labels: with tests, server-team

#4121 fix: clickhouse zookeeper table metadata
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
Labels: with tests, warehouse-team

#4136 fix: add autovacuum_vacuum_cost_limit to the reports table [PIPE-512]
  enterprise/reporting/reporting.go
  services/sql-migrator/migrator_test.go
  sql/migrations/reports_always/000006_alter_reports_autovacuum.up.tmpl
Labels: with tests, server-team

#4156 chore: uncomment clickhouse integration test
  warehouse/integrations/clickhouse/clickhouse_test.go
Labels: with tests, warehouse-team

#4154 chore: include all aborted jobs in failed records
  router/batchrouter/handle_observability.go
  router/handle_observability.go
Labels: server-team

#4161 fix: gateway responds with http status 500 and body pq: invalid byte sequence for encoding UTF8: 0x00
  gateway/handle.go
Labels: server-team

#4162 chore: release 1.17.2
  CHANGELOG.md
Labels: autorelease: pending

#4104 feat: capture delayed events
  go.mod
  go.sum
  processor/delayed/stats.go
  processor/delayed/stats_test.go
  processor/processor.go
  processor/processor_test.go
Labels: with tests, server-team

#4163 chore: applying 1.17.2 hotfixes to main branch
  CHANGELOG.md
  gateway/handle.go
Labels: server-team

#4137 chore: filtered and error stats separated in processor
  processor/processor.go
  processor/trackingplan.go
Labels: server-team

#4166 chore: trim down error responses stored in job status to a maximum of 10KB
  router/worker.go
Labels: server-team

#4171 chore(router): interruption of iterator should cause router to sleep
  router/handle.go
Labels: server-team

#4169 chore(router): fine grained job iterator configuration
  router/handle.go
  router/handle_lifecycle.go
  router/router_test.go
  router/types.go
Labels: with tests, server-team

#4170 chore(processor): include partition tag in stats
  processor/processor.go
  processor/worker.go
  processor/worker_handle.go
  processor/worker_test.go
Labels: with tests, server-team

#4165 chore: improve rsources service table setup procedure
  .github/workflows/tests.yaml
  Makefile
  services/rsources/handler.go
  services/rsources/handler_test.go
  services/rsources/handler_v1_test.go
  services/rsources/rsources.go
Labels: with tests, server-team
