Repository rudderlabs/rudder-server, pull requests merged in 2023-05, with the labels that each got.

#3253 chore: improve pending events api
  warehouse/internal/repo/staging.go
Labels: warehouse-team

#3243 feat(router): limit number of jobs with the same ordering key in worker's queue
  router/eventorder_test.go
  router/internal/eventorder/eventorder.go
  router/internal/eventorder/eventorder_test.go
  router/router.go
  schema-forwarder/internal/forwarder/abortingforwarder.go
Labels: with tests, server-team

#3260 chore: adding BeginTx to sqlwrapper
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/postgres/diagnostic.go
  warehouse/integrations/postgres/diagnostic_test.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/redshift/redshift.go
Labels: with tests, warehouse-team

#3211 chore: cleanup warehouse handlers
  runner/runner.go
  services/pgnotifier/pgnotifier.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/mock_notifier_test.go
  warehouse/jobs/handlers.go
  warehouse/jobs/runner.go
  warehouse/jobs/types.go
  warehouse/jobs/utils.go
  warehouse/slave.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3269 chore: fix typecast panic
  warehouse/internal/loadfiles/loadfiles.go
Labels: warehouse-team

#3237 fix: postgres support for loading users and identifies in same transactions
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/middleware/sqlquerywrapper/sql.go
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/diagnostic.go
  warehouse/integrations/postgres/diagnostic_test.go
  warehouse/integrations/postgres/load.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/upload.go
Labels: with tests, warehouse-team

#3270 chore: initiate db handle warehouse slave
  warehouse/warehouse.go
Labels: warehouse-team

#3272 chore: fix deadlock issue uploader
  services/debugger/destination/eventDeliveryStatusUploader.go
  services/debugger/source/eventUploader.go
  services/debugger/transformation/transformationStatusUploader.go
Labels: server-team

#3282 chore: enable setting of `embedAvroSchemaID` from config
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3205 feat: modifed kafka to use config received from config-be.
  services/controlplane/client.go
  services/controlplane/client_test.go
  services/streammanager/kafka/client/client.go
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/client/config.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3291 fix: stash loop is not sleeping even though query limits are not being reached
  processor/stash/stash.go
Labels: server-team

#3242 chore: cleanup fetch schema
  warehouse/identities.go
  warehouse/integrations/azure-synapse/azure-synapse.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/clickhouse/clickhouse.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/manager/manager.go
  warehouse/integrations/mssql/mssql.go
  warehouse/integrations/postgres-legacy/postgres.go
  warehouse/integrations/postgres/postgres.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/snowflake/snowflake.go
  warehouse/schema.go
  warehouse/validations/validate.go
Labels: with tests, warehouse-team

#3297 fix: kafka with CP admin client
  services/controlplane/client.go
  services/controlplane/client_test.go
  services/controlplane/identity/identity.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
Labels: with tests, server-team

#3249 chore: added logs to help debug suppression backup service issue
  enterprise/suppress-user/factory.go
Labels: server-team

#3304 fix: databricks retries
  warehouse/integrations/deltalake-native/deltalake.go
Labels: warehouse-team

#3305 fix: databricks retries
  warehouse/integrations/deltalake-native/deltalake.go
Labels: warehouse-team

#3287 chore: release 1.8.0
  CHANGELOG.md
Labels: autorelease: pending

#3307 fix: kafka secret comes first
  services/streammanager/kafka/kafkamanager.go
Labels: server-team

#3308 chore: release 1.8.1
  CHANGELOG.md
Labels: autorelease: pending

#3289 chore: dedup based on message ID
  mocks/services/dedup/mock_dedup.go
  processor/processor.go
  processor/processor_test.go
  processor/worker.go
  runner/runner.go
  services/dedup/badger.go
  services/dedup/dedup.go
  services/dedup/dedup_test.go
  services/dedup/setup.go
  services/dedup/setup_test.go
  utils/misc/misc.go
Labels: with tests, server-team

#3312 fix: stash sleep
  processor/stash/stash.go
Labels: server-team

#3313 chore: release 1.8.2
  CHANGELOG.md
Labels: autorelease: pending

#3306 chore: merge release 1.8.0 in main branch
  CHANGELOG.md
  processor/stash/stash.go
  services/controlplane/client.go
  services/controlplane/client_test.go
  services/controlplane/identity/identity.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  warehouse/integrations/deltalake-native/deltalake.go
Labels: with tests, warehouse-team

#3320 chore: add toggle for backendconfig db caching
  backend-config/backend-config.go
Labels: server-team

#3324 chore: release 1.8.3
  CHANGELOG.md
Labels: autorelease: pending

#3271 feat: add error extraction logic
  enterprise/reporting/error-detail-extractor.go
  enterprise/reporting/error_detail_reporting.go
  enterprise/reporting/reporting_test.go
Labels: with tests, server-team, integrations-team

#3325 chore: fix flaky test
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3332 fix: staging files status when insert
  warehouse/internal/repo/staging.go
Labels: warehouse-team

#3175 feat: support for incremental updates while fetching backend config
  backend-config/backend-config.go
  backend-config/backend_config_test.go
  backend-config/namespace_config.go
  backend-config/namespace_config_test.go
  backend-config/testdata/sample_namespace.json
  backend-config/types.go
Labels: with tests, server-team

#3334 chore: adaptive processor worker sleep time
  processor/processor.go
  processor/worker.go
  processor/worker_test.go
Labels: with tests, server-team

#3279 feat: wh Endpoint To Fetch Tables Per Connection
  warehouse/internal/repo/schema.go
  warehouse/internal/repo/schema_test.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3338 fix: include source definition type when destination has UT
  processor/processor.go
Labels: server-team, integrations-team

#3341 fix: max connections for warehouse slaves
  warehouse/warehouse.go
Labels: warehouse-team

#3342 chore: release 1.8.5
  CHANGELOG.md
Labels: autorelease: pending

#3263 chore: moved from gorilla to chi
  app/apphandlers/processorAppHandler.go
  enterprise/suppress-user/factory_test.go
  event-schema/event_schema_api.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/integration_test.go
  gateway/webhook/webhook.go
  go.mod
  go.sum
  integration_test/docker_test/docker_test.go
  integration_test/multi_tenant_test/multi_tenant_test.go
  mocks/gateway/webhook.go
  regulation-worker/cmd/main_test.go
  regulation-worker/internal/delete/api/api_test.go
  router/transformer/transformer_test.go
  services/rsources/http/http.go
  services/rsources/http/http_test.go
  suppression-backup-service/api/api.go
  suppression-backup-service/cmd/main_test.go
  suppression-backup-service/exporter/exporter_test.go
  warehouse/internal/api/http.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3350 fix: schema forwarder records invalid json in statuses
  jobsdb/jobsdb.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
Labels: server-team

#3348 chore: include error message in error log
  gateway/gateway.go
Labels: server-team

#3353 chore: upgraded chi v1 middleware to v5
  go.mod
  go.sum
  suppression-backup-service/api/api.go
Labels: server-team

#3365 chore: rudder-go-kit v0.13.4
  go.mod
  go.sum
  integration_test/kafka_batching/kafka_batching_test.go
Labels: with tests, server-team

#3088 feat(warehouse): staging file schema consolidation
  warehouse/errors.go
  warehouse/identities.go
  warehouse/internal/loadfiles/loadfiles_test.go
  warehouse/internal/repo/load_test.go
  warehouse/internal/repo/staging.go
  warehouse/internal/repo/staging_test.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/slave.go
  warehouse/upload.go
  warehouse/upload_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3367 fix: limiter not respecting WithLimiterTags option
  utils/sync/limiter.go
Labels: server-team

#3378 fix: external table support for databricks validations
  warehouse/integrations/deltalake-native/deltalake_test.go
  warehouse/validations/validate.go
  warehouse/validations/validations.go
Labels: with tests, warehouse-team

#3380 chore: getUploadsToProcess error handling
  warehouse/errors.go
  warehouse/warehouse.go
Labels: warehouse-team

#3374 fix: regulation-worker flaky test
  regulation-worker/cmd/main_test.go
Labels: with tests, server-team

#3393 fix: deltalake parquet datatype support
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake/deltalake.go
Labels: warehouse-team

#3396 fix: processor panicking during shutdown
  processor/manager.go
  processor/processor.go
Labels: server-team

#3355 chore: release 1.9.0
  CHANGELOG.md
Labels: autorelease: pending

#3392 fix: clickhouse flaky test
  warehouse/archive/archiver_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/clickhouse/testdata/docker-compose.clickhouse-cluster.yml
  warehouse/integrations/clickhouse/testdata/docker-compose.clickhouse.yml
  warehouse/integrations/middleware/sqlquerywrapper/sql_test.go
  warehouse/integrations/postgres/load_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/internal/service/loadfiles/downloader/downloader_test.go
  warehouse/tracker_test.go
  warehouse/upload_test.go
  warehouse/validations/validate_test.go
  warehouse/warehouse_test.go
  warehouse/warehousegrpc_test.go
Labels: with tests, warehouse-team

#3401 chore: merge release 1.9.0 in main branch
  CHANGELOG.md
  go.mod
  go.sum
  integration_test/kafka_batching/kafka_batching_test.go
  jobsdb/jobsdb.go
  processor/manager.go
  processor/processor.go
  router/batchrouter/handle.go
  router/batchrouter/handle_lifecycle.go
  utils/sync/limiter.go
  warehouse/integrations/deltalake-native/deltalake.go
  warehouse/integrations/deltalake-native/deltalake_test.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/validations/validate.go
  warehouse/validations/validations.go
Labels: with tests, warehouse-team

#3402 fix: warehouse flaky test
  warehouse/internal/service/loadfiles/downloader/downloader_test.go
  warehouse/validations/validate_test.go
Labels: with tests, warehouse-team

#3256 chore: gateway stores singular event batches
  gateway/configuration.go
  gateway/gateway.go
  gateway/gateway_test.go
  jobsdb/integration_test.go
  jobsdb/jobsdb.go
  jobsdb/jobsdb_test.go
  mocks/jobsdb/mock_jobsdb.go
  processor/processor.go
  processor/processor_isolation_test.go
  processor/processor_test.go
  processor/worker.go
  processor/worker_handle.go
  processor/worker_test.go
Labels: with tests, server-team

#3406 chore: batch event schema messages for faster processing
  proto/event-schema/types.helper.go
  proto/event-schema/types.pb.go
  proto/event-schema/types.proto
  schema-forwarder/internal/batcher/batcher.go
  schema-forwarder/internal/batcher/batcher_test.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  schema-forwarder/internal/transformer/transformer.go
  schema-forwarder/internal/transformer/transformer_test.go
Labels: with tests, server-team

#3410 chore: release 1.9.1
  CHANGELOG.md
Labels: autorelease: pending

#3414 fix: jobsforwarder panics with slice bounds out of range
  schema-forwarder/internal/batcher/batcher.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
Labels: with tests, server-team

#3415 chore: release 1.9.2
  CHANGELOG.md
Labels: autorelease: pending

#3413 chore: applying 1.9.1 and 1.9.2 hotfixes to main branch
  CHANGELOG.md
  go.mod
  go.sum
  proto/event-schema/types.helper.go
  proto/event-schema/types.pb.go
  proto/event-schema/types.proto
  schema-forwarder/internal/batcher/batcher.go
  schema-forwarder/internal/batcher/batcher_test.go
  schema-forwarder/internal/forwarder/jobsforwarder.go
  schema-forwarder/internal/transformer/transformer.go
  schema-forwarder/internal/transformer/transformer_test.go
Labels: with tests, server-team

#3340 chore: upgrade to badgerV4
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  go.mod
  go.sum
  processor/manager.go
  processor/processor.go
  processor/processor_test.go
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_test.go
  services/dedup/badger.go
  services/dedup/dedup.go
  services/dedup/dedup_test.go
  services/pgnotifier/pgnotifier.go
  warehouse/internal/repo/upload.go
  warehouse/upload.go
Labels: with tests, warehouse-team

#3412 chore: cleanup for integration tests for warehouse
  warehouse/integrations/azure-synapse/azure_synapse_test.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/deltalake-native/deltalake_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
Labels: with tests, warehouse-team

#3421 fix(batchrouter): batchrouter stops processing events for destinations where a destType-specific config option is set
  router/batchrouter/handle_lifecycle.go
  utils/sync/limiter.go
Labels: server-team

#3422 chore: release 1.9.3
  CHANGELOG.md
Labels: autorelease: pending

#3417 chore: fix flaky dedup test
  services/dedup/dedup_test.go
Labels: with tests, server-team

#3351 chore: gateway health endpoint should return 503 if db is down
  app/app.go
Labels: server-team
