Repository rudderlabs/rudder-server, pull requests merged in 2023-03, with the labels that each got.

#3055 chore: remove workerID tag
  gateway/gateway.go
Labels: server-team

#3059 chore(warehouse): warehouse integration tests improvements
  Makefile
  warehouse/integrations/docker-compose.test.yml
Labels: warehouse-team

#3057 chore(jobsdb): omit workspaceId tag when it doesn't correspond to an actual workspace
  jobsdb/jobsdb_utils.go
  services/metric/measurement.go
  services/stats/stats_test.go
Labels: with tests, server-team

#3056 fix: limiter deadlock while trying to notify a dynamic priority item
  utils/queue/priorityQueue.go
  utils/queue/priorityQueue_test.go
  utils/sync/limiter.go
Labels: with tests, server-team

#3061 chore: applying 1.6.3 hotfixes to main branch
  CHANGELOG.md
  utils/queue/priorityQueue.go
  utils/queue/priorityQueue_test.go
  utils/sync/limiter.go
Labels: with tests, server-team

#3041 fix: enabled data race
  services/stats/config.go
  services/stats/measurement.go
  services/stats/stats.go
Labels: server-team

#2930 chore: add live events stats
  services/debugger/uploader.go
Labels: Stale, server-team

#2940 chore(warehouse): added warehouse handling for s3 with glue and other improvements
  jobsdb/jobsdb.go
  warehouse/admin.go
  warehouse/api.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/integrations/deltalake/deltalake.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/redshift/redshift.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/testhelper/setup.go
  warehouse/internal/model/validation.go
  warehouse/logfield/logfield.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/validations/helper.go
  warehouse/validations/steps.go
  warehouse/validations/steps_test.go
  warehouse/validations/types.go
  warehouse/validations/validate.go
  warehouse/validations/validate_test.go
  warehouse/validations/validations.go
  warehouse/validations/validations_suite_test.go
  warehouse/validations/validations_test.go
  warehouse/warehousegrpc.go
Labels: with tests, warehouse-team

#3052 chore: perform rss/wss-aware cgroups memory usage calculation
  utils/mem/internal/cgroup/mem.go
  utils/mem/internal/cgroup/mem_test.go
  utils/mem/internal/cgroup/testdata/cgroups_v1_mem_limit_proc_self/sys/fs/cgroup/memory/pid1/memory.stat
  utils/mem/mem.go
  utils/mem/mem_test.go
  utils/mem/testdata/cgroups_v1_mem_limit/sys/fs/cgroup/memory/memory.stat
Labels: with tests, server-team

#3064 chore(jobsdb): omit workspaceId tag when it doesn't correspond to an actual workspace
  jobsdb/jobsdb_utils.go
  services/metric/measurement.go
  services/stats/stats_test.go
Labels: with tests, server-team

#2989 chore: migrate stats to otel
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/setup.go
  config/misc.go
  gateway/gateway_test.go
  gateway/internal/stats/stats.go
  gateway/internal/stats/stats_test.go
  gateway/webhook/setup.go
  gateway/webhook/webhook_test.go
  go.mod
  go.sum
  jobsdb/admin.go
  mocks/services/stats/mock_stats.go
  otel/options.go
  otel/otel.go
  otel/otel_test.go
  otel/testdata/otel-collector-config.yaml
  regulation-worker/cmd/main.go
  runner/runner.go
  services/metric/manager.go
  services/metric/measurement.go
  services/metric/registry.go
  services/stats/config.go
  services/stats/measurement.go
  services/stats/memstats/stats.go
  services/stats/memstats/stats_test.go
  services/stats/options.go
  services/stats/otel.go
  services/stats/otel_measurement.go
  services/stats/otel_test.go
  services/stats/periodic.go
  services/stats/stats.go
  services/stats/stats_internal_test.go
  services/stats/stats_test.go
  services/stats/statsd.go
  services/stats/statsd_measurement.go
  services/stats/statsd_test.go
  services/stats/tags.go
  services/stats/testdata/otel-collector-config.yaml
  testhelper/docker/docker.go
  testhelper/stats/otel.go
  testhelper/stats/prometheus.go
Labels: enhancement, with tests, server-team

#3035 chore: reduce parquet file size datalake
  services/filemanager/digitalOceanSpacesManager.go
  services/filemanager/s3manager.go
  warehouse/internal/loadfiles/loadfiles.go
  warehouse/internal/loadfiles/loadfiles_test.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/load_test.go
  warehouse/internal/repo/staging_test.go
  warehouse/internal/repo/upload_test.go
  warehouse/schema.go
  warehouse/schema_test.go
  warehouse/table_upload.go
  warehouse/testdata/sql/processing_stats_test.sql
  warehouse/testdata/sql/seed_tracker_test.sql
  warehouse/upload.go
  warehouse/utils/utils.go
Labels: with tests, warehouse-team

#3073 chore: increase parallel loads
  warehouse/upload.go
Labels: warehouse-team

#3075 fix: pending events all
  jobsdb/admin.go
  services/metric/measurement.go
Labels: server-team

#2999 feat(gateway): support new event type extract
  gateway/gateway.go
  gateway/gateway_test.go
Labels: with tests, server-team

#3085 feat(warehouse): table uploads repository
  warehouse/identities.go
  warehouse/internal/model/table_upload.go
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/table_upload_test.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/logfield/logfield.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/table_upload.go
  warehouse/table_upload_test.go
  warehouse/upload.go
  warehouse/upload_test.go
Labels: Do not merge, with tests, warehouse-team

#3050 fix(warehouse): infinites retries
  go.mod
  warehouse/api.go
  warehouse/identities.go
  warehouse/internal/model/table_upload.go
  warehouse/internal/model/upload.go
  warehouse/internal/repo/load.go
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/table_upload_test.go
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/logfield/logfield.go
  warehouse/stats.go
  warehouse/stats_test.go
  warehouse/table_upload.go
  warehouse/table_upload_test.go
  warehouse/upload.go
  warehouse/upload_test.go
Labels: with tests, warehouse-team

#3077 chore(warehouse): encoding package with readers, loaders, writers
  runner/runner.go
  warehouse/encoding/csvloader.go
  warehouse/encoding/csvreader.go
  warehouse/encoding/encoding.go
  warehouse/encoding/encoding_test.go
  warehouse/encoding/eventloader.go
  warehouse/encoding/eventreader.go
  warehouse/encoding/jsonloader.go
  warehouse/encoding/jsonreader.go
  warehouse/encoding/parquetloader.go
  warehouse/encoding/parquetwriter.go
  warehouse/identity/identity.go
  warehouse/integrations/bigquery/bigquery_test.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/datalake_test.go
  warehouse/integrations/datalake/schema-repository/glue_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/integrations/mssql/mssql_test.go
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/redshift/redshift_test.go
  warehouse/integrations/snowflake/snowflake_test.go
  warehouse/slave.go
  warehouse/utils/utils.go
  warehouse/validations/steps_test.go
  warehouse/validations/validate.go
  warehouse/validations/validate_test.go
  warehouse/validations/validations_test.go
Labels: with tests, warehouse-team

#2975 fix(warehouse): added support for filtering on the uploads and calculating aborted events for task_run_id
  warehouse/internal/repo/upload.go
  warehouse/internal/repo/upload_test.go
  warehouse/utils/utils.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3095 chore(warehouse): allow empty properties schema for event models
  event-schema/event_schema_api.go
Labels: server-team

#3094 chore: enable pipeline level sync frequency
  processor/stash/stash.go
  utils/misc/misc.go
  warehouse/scheduling.go
  warehouse/utils/utils.go
  warehouse/utils/utils_test.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3098 fix(router): retry backoff causing out-of-order job processing
  router/router.go
Labels: server-team

#3097 feat(warehouse): added duplicates stats for snowflake
  warehouse/integrations/snowflake/snowflake.go
  warehouse/upload.go
Labels: warehouse-team

#3100 fix(warehouse): snowflake default timestamp to timestamp with time zone
  warehouse/integrations/snowflake/snowflake.go
Labels: warehouse-team

#3007 feat: kafka over ssh
  go.mod
  services/streammanager/kafka/client/client.go
  services/streammanager/kafka/client/client_test.go
  services/streammanager/kafka/client/config.go
  services/streammanager/kafka/client/producer.go
  services/streammanager/kafka/client/testdata/ssh/test_key
  services/streammanager/kafka/client/testdata/ssh/test_key.pub
  services/streammanager/kafka/client/testutil/util.go
  services/streammanager/kafka/kafkamanager.go
  services/streammanager/kafka/kafkamanager_test.go
  testhelper/destination/common.go
  testhelper/destination/kafka.go
  testhelper/destination/minio.go
  testhelper/destination/postgres.go
  testhelper/destination/redis.go
  testhelper/destination/sshserver/sshserver.go
  testhelper/destination/transformer.go
Labels: with tests, server-team

#3101 chore: badgerDB improvements for debugger
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_test.go
Labels: with tests, server-team

#3102 fix: kafka create topic
  services/streammanager/kafka/client/testutil/util.go
Labels: server-team

#3086 chore: use gcra rate limiter gateway
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/throttler/throttler.go
  gateway/throttler/throttler_test.go
  go.mod
  go.sum
  mocks/gateway/throttler.go
  mocks/rate-limiter/mock_ratelimiter.go
  rate-limiter/rate-limiter.go
  router/router_test.go
  runner/runner.go
Labels: with tests, server-team

#3038 feat: default retention period set to 7 days for rudder backups
  config/backend-config/types.go
  services/fileuploader/fileuploader.go
  services/fileuploader/fileuploader_test.go
Labels: with tests, server-team

#3110 chore: fix namespace bug
  warehouse/testdata/sql/namespace_test.sql
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3087 feat(warehouse): warehouse schema repository
  sql/migrations/warehouse/000021_alter_wh_schemas_wh_upload_id_column.up.sql
  warehouse/identities.go
  warehouse/integrations/clickhouse/clickhouse_test.go
  warehouse/integrations/datalake/schema-repository/local.go
  warehouse/integrations/datalake/schema-repository/local_test.go
  warehouse/integrations/deltalake/deltalake_test.go
  warehouse/internal/model/schema.go
  warehouse/internal/repo/schema.go
  warehouse/internal/repo/schema_test.go
  warehouse/internal/service/loadfiles/downloader/downloader_test.go
  warehouse/jobs/jobs.go
  warehouse/schema.go
  warehouse/upload.go
  warehouse/utils/utils.go
  warehouse/validations/validate.go
  warehouse/warehouse.go
Labels: with tests, warehouse-team

#3109 fix: minio error while creating bucket if already exists
  services/filemanager/miniomanager.go
  warehouse/validations/validate_test.go
Labels: with tests, warehouse-team

#3113 fix(warehouse): snowflakes user identifies table getting skipped
  warehouse/integrations/docker-compose.test.yml
  warehouse/upload.go
Labels: warehouse-team

#3105 chore: stop warehouse panics
  warehouse/errors.go
  warehouse/warehouse.go
Labels: warehouse-team

#3117 chore: merge release 1.7.0 in main branch
  CHANGELOG.md
  services/filemanager/miniomanager.go
  warehouse/integrations/docker-compose.test.yml
  warehouse/testdata/sql/namespace_test.sql
  warehouse/upload.go
  warehouse/validations/validate_test.go
  warehouse/warehouse.go
  warehouse/warehouse_test.go
Labels: with tests, warehouse-team

#3092 chore: add metrics for file sizes for badgerDB
  .github/workflows/verify.yml
  enterprise/suppress-user/internal/badgerdb/badgerdb.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_backup_bench_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_repo_test.go
  enterprise/suppress-user/internal/badgerdb/badgerdb_test.go
  enterprise/suppress-user/repository.go
  services/debugger/cache/cache.go
  services/debugger/cache/internal/badger/badger.go
  services/debugger/cache/internal/badger/badger_test.go
  services/dedup/dedup.go
  utils/misc/misc.go
  utils/misc/misc_test.go
Labels: with tests, server-team

#3111 chore(router): don't include job in metadata during transformation requests
  router/transformer/transformer.go
  router/transformer/transformer_test.go
  router/types/types.go
  router/types/types_test.go
Labels: with tests, server-team

#3128 chore: applying hotfix for 1.7.1 to main branch
  CHANGELOG.md
  warehouse/internal/repo/table_upload.go
  warehouse/internal/repo/table_upload_test.go
  warehouse/upload.go
Labels: with tests, warehouse-team

#2910 feat: suppression backup service
  .github/workflows/builds.yml
  enterprise/suppress-user/suppress_user_test.go
  enterprise/suppress-user/syncer.go
  go.mod
  go.sum
  suppression-backup-service/Dockerfile
  suppression-backup-service/README.md
  suppression-backup-service/api/api.go
  suppression-backup-service/api/api_test.go
  suppression-backup-service/api/testdata/fullExport.golden
  suppression-backup-service/api/testdata/latestExport.golden
  suppression-backup-service/cmd/main.go
  suppression-backup-service/cmd/main_test.go
  suppression-backup-service/exporter/exporter.go
  suppression-backup-service/exporter/exporter_test.go
  suppression-backup-service/exporter/testdata/goldenFile.txt
  suppression-backup-service/model/model.go
Labels: with tests, server-team

#3141 fix: identity tables load files are not generated
  warehouse/upload.go
Labels: warehouse-team

#3137 fix(warehouse): all staging files processing failed
  warehouse/internal/loadfiles/loadfiles.go
Labels: warehouse-team

#3144 chore: applying hotfix for 1.7.2 to main branch
  CHANGELOG.md
  warehouse/upload.go
Labels: warehouse-team

#3142 fix: controller conn
  services/streammanager/kafka/client/testutil/util.go
Labels: server-team

#3120 chore: otel buckets
  go.mod
  go.sum
  runner/runner.go
Labels: server-team

#3103 chore: start server in normal mode when there is no instruction by scheduler
  app/cluster/dynamic.go
  app/cluster/dynamic_test.go
  app/cluster/state/etcd_test.go
Labels: with tests, server-team

#3147 chore: disable KeepAlives by default in transformer HTTP clients
  processor/transformer/transformer.go
  router/transformer/transformer.go
Labels: server-team

#3115 feat: update transformer image to rudderstack org
  docker-compose.yml
  rudder-docker.yml
  warehouse/integrations/docker-compose.test.yml
Labels: warehouse-team
