Repository rudderlabs/rudder-server, pull requests merged in 2024-02, with the labels that each got.

#4352 feat: add 'config' field to proxy request for v0
  router/transformer/transformer_proxy_adapter.go
  router/transformer/transformer_proxy_adapter_test.go
Labels: integrations-team

#4383 chore: prerelease 1.20.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#4388 chore: release 1.20.0
  CHANGELOG.md
Labels: autorelease: pending

#4430 fix: always look for list item error for bingads audience
  router/batchrouter/asyncdestinationmanager/bing-ads/bingads_test.go
  router/batchrouter/asyncdestinationmanager/bing-ads/testdata/BulkUpload-02-28-2024-c7a38716-4d65-44a7-bf28-8879ab9b1da0-Results.csv
  router/batchrouter/asyncdestinationmanager/bing-ads/util.go
Labels: bug

#4434 chore: release 1.20.1
  CHANGELOG.md
Labels: autorelease: pending
