Repository rudderlabs/rudder-server, pull requests merged in 2024-05, with the labels that each got.

#4647 chore: prerelease 1.25.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#4646 chore: release 1.25.0
  CHANGELOG.md
Labels: autorelease: pending

#4689 feat: enable retry on idle connections for sftp batch router destination
  go.mod
  go.sum
  router/batchrouter/asyncdestinationmanager/sftp/manager.go
Labels: enhancement

#4677 fix: source payloads with query params to be allowed without body
  config/config.yaml
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
Labels: enhancement

#4723 chore: prerelease 1.26.0-rc.2
  CHANGELOG.md
Labels: autorelease: pending

#4725 chore: prerelease 1.26.0-rc.3
  CHANGELOG.md
Labels: autorelease: pending

#4726 chore: prerelease 1.26.0-rc.4
  CHANGELOG.md
Labels: autorelease: pending

#4727 chore: release 1.26.0
  CHANGELOG.md
Labels: autorelease: pending

#4734 chore: release 1.26.1
  CHANGELOG.md
Labels: autorelease: pending

#4740 fix: webhook sources name needs to be lower cased
  gateway/webhook/webhook.go
  gateway/webhook/webhook_test.go
Labels: bug
