Repository rudderlabs/rudder-server, pull requests merged in 2024-04, with the labels that each got.

#4536 chore: prerelease 1.23.0-test.1
  CHANGELOG.md
Labels: autorelease: pending

#4537 chore: prerelease 1.23.0-test.2
  CHANGELOG.md
Labels: autorelease: pending

#4538 chore: prerelease 1.23.0-test.3
  CHANGELOG.md
Labels: autorelease: pending

#4539 chore: prerelease 1.23.0-test.4
  CHANGELOG.md
Labels: autorelease: pending

#4525 chore: prerelease 1.23.0-rc.2
  CHANGELOG.md
Labels: autorelease: pending

#4557 chore: release 1.23.0
  CHANGELOG.md
Labels: autorelease: pending

#4597 doc: update cla link
  CONTRIBUTING.md
Labels: documentation

#4591 chore: prerelease 1.24.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#4607 chore: prerelease 1.24.0-rc.2
  CHANGELOG.md
Labels: autorelease: pending

#4610 chore: prerelease 1.24.0-rc.3
  CHANGELOG.md
Labels: autorelease: pending

#4616 chore: prerelease 1.24.0-rc.4
  CHANGELOG.md
Labels: autorelease: pending

#4617 chore: release 1.24.0
  CHANGELOG.md
Labels: autorelease: pending

#4534 feat: onboard Yandex Metrica Offline Events destination
  router/batchrouter/asyncdestinationmanager/common/common.go
  router/batchrouter/asyncdestinationmanager/manager.go
  router/batchrouter/asyncdestinationmanager/yandexmetrica/augmenter/augmenter.go
  router/batchrouter/asyncdestinationmanager/yandexmetrica/testdata/uploadData.txt
  router/batchrouter/asyncdestinationmanager/yandexmetrica/yandexmetrica.go
  router/batchrouter/asyncdestinationmanager/yandexmetrica/yandexmetrica_suite_test.go
  router/batchrouter/asyncdestinationmanager/yandexmetrica/yandexmetrica_test.go
  router/batchrouter/batchrouter.go
  router/batchrouter/handle_async.go
  router/manager/manager.go
  utils/misc/misc.go
Labels: WIP

#4625 chore: release 1.24.0 (#4617)
  CHANGELOG.md
Labels: Do not merge
