Repository rudderlabs/rudder-server, pull requests merged in 2024-09, with the labels that each got.

#5048 chore: prerelease 1.33.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#4903 chore: send connection config to router transform
  backend-config/backend_config_test.go
  backend-config/types.go
  integration_test/multi_tenant_test/testdata/mtGatewayTest02.json
  processor/processor.go
  processor/trackingplan.go
  processor/transformer/transformer.go
  router/handle.go
  router/handle_lifecycle.go
  router/router_test.go
  router/transformer/transformer.go
  router/types/types.go
  router/worker.go
Labels: Discussion

#5047 chore: release 1.33.0
  CHANGELOG.md
Labels: autorelease: pending

#4952 chore: remove workspace table
  app/apphandlers/embeddedAppHandler.go
  app/apphandlers/gatewayAppHandler.go
  app/apphandlers/processorAppHandler.go
  app/apphandlers/setup.go
  services/validators/envValidator.go
  warehouse/integrations/bigquery/bigquery.go
  warehouse/router/tracker_test.go
Labels: Stale

#5065 chore: release 1.33.1
  CHANGELOG.md
Labels: autorelease: pending

#5106 chore: prerelease 1.34.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending

#5108 chore: prerelease 1.34.0-rc.2
  CHANGELOG.md
Labels: autorelease: pending

#5111 chore: prerelease 1.34.0-rc.3
  CHANGELOG.md
Labels: autorelease: pending

#5105 chore: release 1.34.0
  CHANGELOG.md
Labels: autorelease: pending

#5127 chore: release 1.34.1
  CHANGELOG.md
Labels: autorelease: pending

#4995 chore: jit secrets
  go.mod
  go.sum
  integration_test/warehouse/testdata/docker-compose.ssh-server.yml
  integration_test/warehouse/testdata/ssh-server/test_key
  integration_test/warehouse/testdata/ssh-server/test_key.pub
  integration_test/warehouse/warehouse_test.go
  router/batchrouter/asyncdestinationmanager/sftp/sftp_suite_test.go
  router/batchrouter/asyncdestinationmanager/sftp/sftp_test.go
  router/batchrouter/asyncdestinationmanager/sftp/testdata/test_key
  router/batchrouter/asyncdestinationmanager/sftp/testdata/test_key.pub
  services/streammanager/kafka/kafkamanager_test.go
  services/streammanager/kafka/testdata/test_key
  services/streammanager/kafka/testdata/test_key.pub
  warehouse/integrations/postgres/postgres_test.go
  warehouse/integrations/postgres/testdata/docker-compose.ssh-server.yml
  warehouse/integrations/postgres/testdata/ssh-server/test_key
  warehouse/integrations/postgres/testdata/ssh-server/test_key.pub
  warehouse/integrations/tunnelling/connect.go
  warehouse/integrations/tunnelling/connect_test.go
  warehouse/integrations/tunnelling/testdata/docker-compose.yml
  warehouse/integrations/tunnelling/testdata/test_key
  warehouse/integrations/tunnelling/testdata/test_key.pub
  warehouse/router/router.go
Labels: Do not merge

#5149 chore: prerelease 1.35.0-rc.1
  CHANGELOG.md
Labels: autorelease: pending
